[2016-12-30 23:36] nebez opened #1 "Project license"
The license reads MIT in the [website footer](https://ssense.github.io/vue-carousel/) but is specified as ISC in [package.json](https://github.com/SSENSE/vue-carousel/blob/master/package.json#L24)

[2017-01-02 17:08] toddlawton commented on #1
Fixed, thanks @nebez!

[2017-01-02 17:08] #1 closed

[2017-01-05 20:16] jasonkuhrt opened #3 "Test issue"
Foobar

[2017-01-05 20:56] #3 closed

[2017-01-10 16:38] jasonkuhrt opened #5 "Create carousel component"
https://ssense.atlassian.net/browse/ELON-770

[2017-01-12 13:59] pushamaku opened #6 "Doesn't run with vue-webpack-boilerplate"
Running:

node v6.8.1
npm v4.0.5

Setup a vue boilerplate with vue-cli:

Added to main.js:

[code]
However I always get this error when I run with **npm run dev**:

    at fn (app.js:87)

*(app.js:642)*
[code]
Any help would be appreciated :)

[2017-01-12 22:36] toddlawton commented on #6
Hi, @pushamaku, thanks for leaving a detailed ticket!

The issue you're experiencing has been fixed in [0.4.3](https://github.com/SSENSE/vue-carousel/tree/0.4.3). I've verified the fix with vue-webpack-boilerplate using the steps outlined above.

[2017-01-12 22:36] #6 closed

[2017-01-13 00:46] pushamaku opened #11 "Feature request: auto start"
Love this slider so far and it would be even better with an API option to auto cycle through the slides by specifying the interval per slide. An option to loop infinitely or not would be nice as well.

[2017-01-13 05:21] toddlawton commented on #11
Thanks a lot for the feedback @pushamaku, both features are definitely coming but unfortunately I don't have a timeframe as of yet.

[2017-01-13 05:24] toddlawton opened #12 "Feature request: Infinite loop"

[2017-01-13 20:54] jasonkuhrt commented on #5
@Dohmaker What is your status on this issue?

[2017-01-13 21:47] toddlawton commented on #11
Good news! Autoplay is available in [0.4.5](https://github.com/SSENSE/vue-carousel/tree/0.4.3) 🍰

Usage instructions: https://ssense.github.io/vue-carousel/api/#autoplay

[2017-01-13 21:47] #11 closed

[2017-01-14 03:52] pushamaku commented on #11
Thanks this is really appreciated! 👍

[2017-01-19 18:57] #5 closed

[2017-01-25 15:20] w3code opened #14 "CSS-Styles"
Thanks for the plugin!
Where can we change the CSS-Styles? I tried to set custom styles, but they doesn't work.

[2017-01-30 14:57] fabien-lg opened #15 "Feature request: Dynamic slides with automatic updates"
Hello,

First of all, thanks for this awesome component.
I have a carousel which contains a list of elements. This list is updated so sometimes, the number of items in the carousel changes.

Is there a way to trigger an update of the carousel ?

For example, now, if I switch from 1 item to 20 items, the pagination doesn't update and all the elements are on the same page.

I tried to call `recomput

[2017-02-01 15:28] toddlawton commented on #15
Hi Fabien, thanks a lot for the comment!
This is most likely the next thing I'll be working on. I'll update the ticket as I make progress :)

[2017-02-01 15:32] toddlawton commented on #14
Hi @w3code,

It should be possible to add your own styles to the carousel by using Vue's built in functionality.
One option would be to modify the .carousel, or .slide classes in your parent component. Another option could be to add a custom class to your carousel using:

[code]

Also note there a few styling options that are customizable by props, see the [API Guide](https://ssense.github.io/vue-

[2017-02-01 15:32] #14 closed

[2017-02-01 18:41] w3code commented on #14
Thanks! I will try it out. 👍

[2017-02-10 20:01] toddlawton commented on #15
Good news! Dynamic slides are available in 0.6.0 🍰
There is an example in the dev sandbox (`npm run dev`)

[2017-02-10 20:01] #15 closed

[2017-02-11 08:05] ishowshao opened #20 "Bug: pagination dots count error"
just this simple example:  i got four dots, it's ok if i use `template` in Vue constructor

[code]

[2017-02-11 13:32] FrancescoSaverioZuppichini opened #21 "Feature request: Custom navigation buttons"
How can I change the prev/next buttons with a custom ones?

[2017-02-13 22:07] toddlawton commented on #21
Hi @FrancescoSaverioZuppichini thanks for your question. Until now the navigation feature has been quite incomplete. At the moment I'm working on building a proper version and having it customizable. Will update soon!

[2017-02-13 22:11] FrancescoSaverioZuppichini commented on #21
Hi @toddlawton, first of all, I want to say "thank you" for your work. I've tried a couple of carousels before and yours is the best one. I'm looking forward to contribute, if I will have the time.

Another "bug" are the state of the default buttons, 'prev' and 'next'. If I click on the 'prev' i go 'next'. In other words, if a click on 'prev' the carousel is scrolled left to right, it should be th

[2017-02-14 08:21] fabien-lg commented on #21
I confirm the bug @FrancescoSaverioZuppichini  mentions.

[2017-02-14 20:23] toddlawton commented on #21
Navigation has been improved in in [0.6.1](https://github.com/SSENSE/vue-carousel/releases/tag/0.6.1)! 🍰

New options can be found in the [API docs](http://localhost:4000/vue-carousel/api/#Navigation), and an example added to the [Examples](http://localhost:4000/vue-carousel/examples/#Navigation) page.
If you need to dive deeper into customizing the CSS, you can modify the following classes in you

[2017-02-14 20:23] #21 closed

[2017-02-15 11:06] FrancescoSaverioZuppichini commented on #21
Cool! Is it possible to have some kind of callback/notification when the carousel cannot not scroll anymore?

I want to implement lazy loading.

[2017-02-15 15:53] toddlawton commented on #20
I hadn't previously used Vue in this way before. I worked on an example locally similar to your implementation and I noticed the behaviour is definitely different. The carousel relies on `$slots.default` being used for slide content only. When using the template syntax, the slides are passed into that array and the extra components such as navigation and pagination are in `$children` as they shoul

[2017-02-15 15:53] #20 closed

[2017-02-16 00:37] toddlawton commented on #21
You could set a ref on your carousel like this:

[code]

and test against:

`this.$refs['my-carousel'].canAdvanceForward`
`this.$refs['my-carousel'].canAdvanceBackward`

As far as callbacks & notifications are concerned, I'll have to think a little bit about how that upward data flow could work.

[2017-02-16 05:02] benjamindedonder opened #23 "Feature request: transition effects"
Hi, nice work on this Carousel. I really like it!
I was wondering, will you be adding more transition effects in the future, i.e. fade?
Thanks!

[2017-02-16 16:14] toddlawton commented on #23
Thanks for the nice words, it's greatly appreciated. I'm going to start building a proper roadmap for the carousel soon, and more interesting transition effects will definitely be a part of that. Perhaps for the moment I'll scope this ticket to the fade effect so it can be handled in a more manageable chunk of work.

Cheers!

[2017-02-26 03:36] ralphchristianeclipse opened #24 "Bug: Incorrect pagination dot count"
### Reproduction Code

[code]

### What is expected?

Must show 2 pagination dots and will not slide on a blankpage

### What happened?
![image](https://cloud.githubusercontent.com/assets/25447231/23336859/6aa4e9b0-fc17-11e6-8548-dcab9e967dd5.png)
![image](https://cloud.githubusercontent.com/assets/25447231/23336872/be23eab4-fc17-11e6-8c2d-e8951b24d88a.png)

[2017-02-27 11:59] valentinceaprazaru opened #25 "How to get the current slide/ page number?"
Hello, i am trying to get the this.currentPage variable outside of the Carousel so that i can set another variable.

How can i do this?

[2017-02-27 19:19] toddlawton commented on #25
Hi @valentinceaprazaru,

You can achieve this using refs, please see my comment here: https://github.com/SSENSE/vue-carousel/issues/21#issuecomment-280190489

[2017-02-27 19:19] #25 closed

[2017-02-27 19:20] toddlawton commented on #24
Hi @ralphchristianeclipse, could you please confirm that you aren't configuring your templates the same way that #20 is?

[2017-02-27 20:08] valentinceaprazaru commented on #25
[code]

[code]

This is my code. I need to update a variable in the general store based on the sport.id that is current selected. How may i do this?

[2017-03-01 06:14] wenxin3262 opened #27 "Feature request: navigation handle within Carousel"
Can we add a prop that make the navigation handles locate inside the carousel div?

It might be just add a prop that changes `.VueCarousel-navigation-*` class `left` or `right` value.

Thanks

[2017-03-01 09:28] ralphchristianeclipse commented on #24
@toddlawton

im using vue-loader with webpack environment

so i'm using templates for that

[2017-03-01 21:26] toddlawton commented on #27
Hi @wenxin3262, would you like to contribute a PR for this?

[2017-03-02 10:18] benjamindedonder opened #28 "Feature request: emit event when currentPage changes"
related: #25

I want to handle navigation from outside the Carousel. I am using Vuex, so it would be handy to have an event emitted when the currentPage changes. I could do it, add a watcher on currentPage that emits an event, and create a pull request, if you want.

I tried this, but it does not work, would be nice though:
[code]
The rest should work like this (did not test):
[code]

Thank you!

[2017-03-03 03:12] toddlawton commented on #28
Hi @benjamindedonder,

Were you thinking of using Vue's built in [events](https://vuejs.org/v2/api/#vm-emit) for this? Perhaps we can emit namespaced events like `VueCarousel/pageChange` on `vm` or `this.$root` whenever `goToPage` is called. I'd love to see a PR with an implementation of something like this!

Cheers 👍

[2017-03-03 03:18] toddlawton commented on #24
@ralphchristianeclipse I can't seem to reproduce that in the vue-play dev environment.
Would it be possible to send a codepen or jsfiddle?

[2017-03-03 06:53] benjamindedonder commented on #28
I created two pull requests with two possible implementations; by emitting a local ( #29 ) or a local event ( #30 ).
I personally prefer with a local event.

[2017-03-03 09:17] rohitpal99 opened #31 "Bug: Warning and rendering issue with Nuxt.js SSR"
Please suggest how to use with Vue SSR.
I am trying to integrate this with VueJS's framework [Nuxt.js](https://github.com/nuxt/nuxt.js)

[code]

I am getting this

Although I am able to make it work in dev mode, regardless of the warning.
On production mode **vue-carousel** doesn't work and doesn't show images at all.
![image](https://cloud.githubusercontent.com/assets/7090592/23545214/5b5e34b8-00

[2017-03-03 14:51] abishekrsrikaanth commented on #24
@toddlawton You should be able to reproduce with http://codepen.io/abishekrsrikaanth/pen/dvMayg. I am having the same issue as well

[2017-03-03 16:03] toddlawton commented on #24
@ralphchristianeclipse I found a solution and released it in [0.6.2](https://github.com/SSENSE/vue-carousel/releases/tag/0.6.2). Cheers!

[2017-03-03 16:03] #24 closed

[2017-03-03 16:06] toddlawton commented on #31
Hi @rohitpal99

I haven't worked with Nuxt.js before, I currently use this carousel in a SSR environment very similar to [this one](https://github.com/vuejs/vue-hackernews-2.0) without any issues. Looking for help from anybody who can investigate with Nuxt.

[2017-03-03 16:26] toddlawton commented on #28
I merged in your change and released it under [0.6.4](https://github.com/SSENSE/vue-carousel/releases/tag/0.6.4). Your contribution is appreciated! 🥇

[2017-03-03 16:26] #28 closed

[2017-03-05 16:42] dloranc opened #34 "Feature request: a way to customize navigation arrows"
Is there a way to customize a color or position of navigation arrows?

[2017-03-06 13:46] Borzenko opened #35 "Feature request: Add class to active pagination item"
Hello, it will be perfect to add some class to active element.
User will be able to easy customize it.

[2017-03-08 23:18] doginthehat opened #37 "Inline templates ignore the carousel tag attributes"
First, good effort, we need a good vue carousel 👍

I've noticed an issue with the rendering when using an inline template... took me a while to work out what was happening.

I've made a copy of one of the example fiddles and replace the JS template with an inline template:

https://jsfiddle.net/doginthehat/h8uq5d0p/

The carousel works in that it's correctly laid out.

However, it seems to complet

[2017-03-09 00:23] doginthehat commented on #37
My mistake, these are camelCase props.

It's explained in the docs

https://vuejs.org/v2/guide/components.html#camelCase-vs-kebab-case

[2017-03-09 00:33] doginthehat commented on #37
Though that doesn't entirely explain why it works in the original example  https://jsfiddle.net/toddlawton/rvhxLdkq/

[2017-03-09 15:04] toddlawton commented on #37
@doginthehat Thanks for having a look! I think that my example counts as a `string` template and yours is an inline template. Seems that you've found the solution on your own haha 👍

[2017-03-09 15:04] #37 closed

[2017-03-13 01:58] murmur76 opened #38 "Bug: `pageChange` event isn't triggered in in-dom template."
Currently, camel case named event is not triggered in in-dom template.
Maybe we need to change the event name like `page-change` or trigger both events.

Refer https://github.com/vuejs/vue/issues/4044

[2017-03-13 18:57] Mayesters opened #39 "Bug in breakpointSlidesPerPage"
Hey there,

I encountered a bug and was only able to create a workaround as I am too inexperienced to fix it. It's about the following code in Carousel.vue:
`      breakpointSlidesPerPage() {
        if (!this.perPageCustom) {
          return this.perPage
        }
        const breakpointArray = this.perPageCustom
        const width = this.browserWidth
        const breakpoints = breakpointArra

[2017-03-14 19:05] #35 closed

[2017-03-14 19:13] toddlawton commented on #39
@Mayesters what kind of bug does this produce? since `perPage` has a default value, the undefined match should fall back to that. If you're able to repro in a jsfiddle or codepen that would be hugely helpful. Thanks!

[2017-03-14 19:18] toddlawton commented on #34
I'd suggest adding CSS to your parent component for this.
The classes available are:

[code]

Thanks!

[2017-03-14 19:18] #34 closed

[2017-03-14 20:13] toddlawton commented on #38
I'll make sure to document this at some point, but much like @yyx990803's stance on in-dom templates, I'd prefer to advocate using string templates or standalone components as they're much more stable in the Vue ecosystem. Cheers!

[2017-03-14 20:13] #38 closed

[2017-03-14 20:26] toddlawton commented on #27
Please see the resolution comment here: https://github.com/SSENSE/vue-carousel/issues/34#issuecomment-286531151

Cheers!

[2017-03-14 20:26] #27 closed

[2017-03-14 22:39] Mayesters commented on #39
Gonna create a jsfiddle tomorrow, but the bug is that, just as I already described, the component is not behaving as stated in the documentation. If I open the carousel in a ablet-size (<=768px)  window, instead of showing 2 slides, it is just showing one. For widths greater than 768px, it is showing 2 windows. And for windows <= 480px, it just starts looking weird as there is no match anymore (if

[2017-03-14 22:42] Mayesters commented on #39
Just wanted to note that your title is incorrect. Its not about the definition of perPage, but about the documentation of perPageCustom not being the same as it is in code as the array values dont work as expected (see above)!

Am 14.03.2017 um 20:14 schrieb Todd Lawton Beauchamp <notifications@github.com<mailto:notifications@github.com>>:

@Mayesters<https://github.com/Mayesters> what kind of bug

[2017-03-17 04:13] irhamkim opened #42 "Bug: extra blank page"
I'm trying to copy from one of the example fiddle, however I'm encountering an issue where the pagination and carousel showing extra blank page(s).

here's the fiddle
https://jsfiddle.net/irhamkim/dqwbjkre/1/

[2017-03-18 15:11] toddlawton commented on #42
Hey @irhamkim, thanks for filing the issue. I investigated and the issue was fixed in a previous release but the version of vue-carousel referenced in the jsfiddle was out of date. I updated the version and your fiddle appears to work properly now.

Cheers!

[2017-03-18 15:11] #42 closed

[2017-03-24 19:09] incraigulous commented on #12
Hey @toddlawton. Any workarounds for this until you get it implemented?

[2017-03-24 20:23] incraigulous commented on #12
OK @toddlawton, I decided to just make a PR. https://github.com/SSENSE/vue-carousel/pull/43

[2017-04-02 18:45] kenyk7 opened #44 "Feature: Add class 'active' to set the active slide"

[2017-04-02 18:50] kenyk7 opened #45 "Add support for lazy load images :)"

[2017-04-05 07:29] mknnaren opened #46 "JS function to navigate the page manually"
Can we navigate the pages left and right by calling a simple function manually instead of using button clicks?

[2017-04-05 14:25] mknnaren commented on #46
Found the solution!
We need to use goToPage method using $refs object on carousel parent element.
eg : `this.$refs.catsCarousel.goToPage(index);`

Could you please add this method definitions in the documentation.

[2017-04-05 14:25] #46 closed

[2017-04-13 20:17] afrozl opened #47 "Buffering"
Does vue-carousel support buffering? I can potentially have hundreds of slides but would like to only render a limited number - say 5 - at a time

[2017-04-19 07:11] zoneky opened #48 "Feature request: Use style classes instead of inline styles"
There're a few component options regarding styles such as `paginationActiveColor`, `paginationPadding`, etc. Since they are rendered as inline styles, it is hard to override them with CSS classes. It's better to set CSS classed for these elements. What do you think?

[2017-04-19 08:00] riccardo92 opened #49 "Dynamic slides not working"
When using a Vue component that encapsulates slides instead of actual slides, dynamic slides do not work. Even when slides are directly added with the encapsulating component, they don't work.

The problem is that the first page is initialized but navigation is impossible (nor with buttons nor using the autoplay function). The rendered HTML clearly shows that there are more slides than the first p

[2017-04-19 19:08] gabrielmancini commented on #31
+1

[2017-04-20 16:30] craigwillis85 opened #50 "navigationNextLabel usage"
Hi

Not sure I'm using the  `navigationNextLabel` correctly, but the code below, gives me an error:

`Property or method "Next" is not defined on the instance but referenced during render.`

    <carousel :perPage="1" :navigationEnabled="false" :navigationNextLabel="Next">
        <slide>
            Slide 1 Content
        </slide>
        <slide>
            Slide 2 Content
        </slide>

[2017-04-21 16:09] UXandre commented on #50
The first thing is that you should use kebab-case equivalents when using in-DOM templates as HTML attributes are case-insensitive.

`<carousel :per-page=1 :navigation-enabled=false>
    <slide>
        Slide 1 Content
    </slide>
    <slide>
        Slide 2 Content
    </slide>
</carousel>`

This works with all the props with a type either of boolean or number. However, for other data types like

[2017-04-21 16:10] UXandre commented on #48
Was expecting the same actually.

[2017-04-26 09:02] chrisamow opened #51 "basic demo not working with vue-cli basic app"
Hi,
Using:
    "vue": "^2.2.6",
    "vue-carousel": "^0.6.4"

I made a made a basic "vue init webpack" app
did an npm install of the carousel lib
added the import and use code to src/main.js
and added the ```<carousel> and <slide>``` elements in the index.html

and I just get the plain old text "Slide 1 Content Slide 2 Content" - no carousel features

[2017-04-26 16:28] michellaurent commented on #48
It would be very useful

[2017-04-27 04:44] toddlawton commented on #50
Unfortunately we won't be supporting in-DOM templates with this plugin. @craigwillis85 the error you're specifically encountering is caused by your use of the colon in front of navigationNextLabel. When you use a colon, vue will parse the contents in double quotes as if it were literal javascript. Vue will look for a variable called Next with doesn't exist and trip out.

[2017-04-27 04:44] #50 closed

[2017-04-27 09:20] craigwillis85 commented on #50
@toddlawton yeah I noticed this, but forgot to update the issue

[2017-04-29 00:26] rchrdnsh opened #52 "trying to style custom elements but not seeming to work..."
trying to style the 'carousel' and 'slide' custom elements that vue-carousel exposes but it does not seem to be working very well...dunno what I'm doing wrong here... I imported the component globally then added it to my app component, then in the styles section of the app component i added carousel and slide selectors and gave them bg colors to test, but the colors are not showing up at all...not

[2017-05-02 05:55] tdrach commented on #52
Hey @rchrdnsh if you don't mind posting some code + steps to reproduce the issue, I bet I, or some of the contributors here, could help you out 😄

[2017-05-02 06:00] tdrach opened #53 "Modal Functionality"
I'm not sure if any Modal-like functionality is planned for the future of this project, but thought I'd try and discuss here. Much of the time I use image carousel functionality, I also want to use the same carousel to prompt a modal, with content of the image, and anything else in the `<slot>`. Not dissimilar to viewing a photo on Facebook.

The modal could be prompted by:
- "Selecting" or clicki

[2017-05-02 20:30] tdrach commented on #51
@chrisamow There's a couple things that could be happening. Would you mind providing a JSFiddle or similar to reproduce your problem? A couple of things that come to mind for what it could be, without additional information:

- Have you included the components in your app or component? a la:

[code]
- The component uses `flex` so if you're just using text content that's one word, it may not actual

[2017-05-03 07:40] chrisamow commented on #51
Thx for the reply tdrach - I had used it as a global component.  Now I switched it over to local.  Either way, the build appears fine, but from the chrome vue-dev tool it doesn't even show up as a component.  As expected then, making the text much longer doesn't make a difference.

Do you guys have a link to a minified vue-carousel I can base a jsfiddle or codepen on (to exclude my build as the pr

[2017-05-03 07:53] chrisamow commented on #51
Ok, I put up a temp repo https://github.com/chrisamow/showpics

[2017-05-03 08:10] chrisamow commented on #51
Ok, the carousel is showing as a loaded component now, but is still not responsive - can't tell it's a carousel except that the text is unselectable now :)

[2017-05-04 06:34] royscheeren commented on #31
I'm having the exact same issue. Using
[code]

[2017-05-04 12:58] DiederikvandenB commented on #31
I am using this plugin with Vue and Nuxt too. @royscheeren, I am implementing it as a plugin with `{src: '~plugins/vue-carousel.js', ssr: false},` in the `nuxt.config.js` file and with

[code]

However, I indeed receive the same error.

[2017-05-11 06:57] sushant-j commented on #52
@rchrdnsh Found the solution on issue https://github.com/SSENSE/vue-carousel/issues/14 to be working.

[2017-05-15 14:44] HoangAnhEk commented on #12
hello. i'm update a feature infinite loop but isn't work. please help me.
i updated 2 files alike link but my slide isn't loop.
My code slide:
<carousel :autoplayLoop="true" :autoplay="true" :autoplayTimeout="3000" :autoplayHoverPause="true" :perPage="1" :navigationEnabled="true" :paginationEnabled="false" >

[2017-05-24 01:38] clemquinones opened #58 "Option to auto-slide"
I'd like to suggest to have an option to make the carousel auto-slide.
Something like this:
[code]
One of the situations this package could use is for customer testimonials on the page.
It could be nice if the visitors have a peek on the few satisfaction feedback from our loyal customers.

[2017-05-24 01:42] clemquinones commented on #58
Oh! my bad, there's already an "autoplay" props for this one. Great!

[2017-05-24 01:42] #58 closed

[2017-05-24 08:36] DiederikvandenB commented on #31
Is there anyone working on this issue? I would love to solve it myself but I do not really know where to start.

[2017-05-30 15:33] mystrdat commented on #53
That sounds way overfeatured for the usecase, I don't see why you couldn't connect it to a standalone modal library.

[2017-05-30 17:11] mystrdat commented on #44
Not a class, there should be an API to get/set the active slide, ideally even the progress of the swipe motion. The lack of it makes this plugin useless to me, so +1.

[2017-06-07 17:16] tdrach commented on #53
Fair point! I'll keep it up in a fork 👍

[2017-06-07 17:16] #53 closed

[2017-06-09 08:08] wjl388 opened #59 "How has been looping"
Thank you want to and I said as soon as possible

[2017-06-09 08:31] wjl388 commented on #11
how to looping  for example  1.img>2.img>3>img>1.img>2.img>3.img  This order

[2017-06-11 17:34] ShaunEgan opened #60 "Displaying a popup is hidden by overflow property"
I am probably doing something wrong - I am really new to the front-end world.

I am trying to display a div using `v-if`. The `ViewCarousel-Wrapper` class specifies `overflow: hidden;` - which typically cuts off most of my popup.

Is there a recommended / suggested way to deal with this?

[2017-06-15 08:42] Jones-S opened #61 "Variable slider image width"
Hi there.
Thanks for providing this slider in the first place 🙌🏻.
But I have the following problem:
I have a slider with images with variable widths (when height is matched).
Lets imagine that the first image is about 70% width of the screen, and the second is just next to it.
So first I want to display the first image and 30% should already be filled by the second image.
If it slides 1 slide, I w

[2017-06-15 09:11] Jones-S commented on #61
http://gph.is/2ryRdqo
Here as nother example of how this looks right now.

[2017-06-23 20:35] danialhr opened #63 "Slider Full Screen Image Carousel"
How do it create a full screen image carousel?

[2017-06-26 15:13] buddyff commented on #61
Any fix for this ?

[2017-06-30 19:17] Zyles commented on #51
Same problem. It just says "Slide 1 Content Slide 2 Content"

[2017-07-03 13:49] realtebo opened #64 "#speed or size?"
from the doc

Is it a speed or a size !?

[2017-07-07 04:19] SiddiquiImran opened #65 "Feature request: Carousel direction"
Hi,

Can we have a setting to define direction to slide like horizontal as well as vertical?

[2017-07-08 15:59] okmkey45 opened #66 "Inputs lose focus on click"
Hello

I tried this carousel and I think it´s great. It´s easy and nice to use.

But I wanted to use it with some form components and other elements different that only images. When I click on the inputs, they just lose focus immediately. I don´t want to think that this component is only mean to use for images. It could be good idea that any component could be used.

Well, if you have a solution f

[2017-07-11 15:02] jakeknight commented on #31
Are you importing vue-carousel in any of your files? I've managed to get this working.

I added a vue-carousel.js file to the plugins folder, and then in my nuxt config folder `{ src: '~plugins/vue-carousel.js', ssr: false }`

and inside my vue-carousel.js folder I just have

[code]

I was trying to import the carousel which was breaking my build, however the plugin is available to use globally if

[2017-07-25 13:59] Jorjon opened #68 "Feature Request: Create prop to add margin between elements"
I'm increasing horizontal margin on `VueCarousel-slide`, but the carousel is being cut off.

![image](https://user-images.githubusercontent.com/796966/28575491-725c7558-7127-11e7-9b50-a20b9d88f51f.png)

I can set `flex-basis` manually but it doesn't get updated with resolution changes.

[code]

[2017-07-25 18:10] Jorjon opened #69 "Compile library"
I'm trying to recompile the library in order to change some functionality, and these are the commands I ran:
[code]
But I get this message:

[code]

It seems it doesn't compile .vue files. Is there a way to achieve that?

Thanks

[2017-07-26 11:22] Developerlopez opened #70 "Question: is there any attribute to remove navigation dots?"
I want remove just the navigation dots and use only the next and prev buttons.

[2017-07-26 19:18] martinBadin opened #71 "Disable dragging function"
Please add a property for disable dragging function. Thanks

[2017-08-02 11:22] dieguezz commented on #31
I solved it by:

`// nuxt.config.js`
[code]
`// plugins/carousel.js`
[code]
Hope it helps!

[2017-08-02 12:46] dieguezz commented on #44
I think there should be a class as well for better style customization

[2017-08-03 05:15] rentt1989 commented on #12
@HoangAnhEk   use   :loop  instead of :autoplayLoop

[2017-08-07 07:48] lilyrae commented on #51
It wasn't working for me either until I added a 3rd slide. To specify one slider at a time you can add the prop: ```:perPage="1"```

[2017-08-07 19:59] iamdubx opened #72 ":navigationEnabled="true" not working"
I can enable navigation. Adding `:navigationEnabled="true"` to carousel doesn't effect anything.
Using with blank webpack starter.

[2017-08-07 20:01] iamdubx opened #73 "Expected Number, got String"
I am using code from your own example.

[code]
I got to errors with paginationSize and speed!

[2017-08-07 20:04] iamdubx commented on #73
Fixed it by adding semicolon.

[2017-08-07 20:04] #73 closed

[2017-08-07 20:11] iamdubx commented on #31
@dieguezz you will still have error in console, what are you talking about?

[2017-08-07 22:12] dieguezz commented on #31
@iamdubx That just worked for me, without messages in console. Maybe your problem is in another place, or i got something different which i forgot to mention (Like nuxt.js version or something but i dont think so). Anyway i am not using this plugin anymore, i made my own component because its a really simple feature.

Sorry if that does not help much..

[2017-08-08 14:42] aroy314 commented on #63
use the property  `:perPage="1"` in your carousel, check the examples on the doc

[2017-08-08 14:44] aroy314 commented on #70
The only way I found is with css
`.VueCarousel-pagination {
    display: none;
}`

[2017-08-09 12:52] andreasvirkus commented on #70
You can pass `:paginationEnabled="false"` to your `carousel` component.

[code]

[2017-08-09 13:18] andreasvirkus commented on #31
@toddlawton I'm also working with Vue's native SSR (similarly to you, based also off of HN2.0 example) and am wondering how you managed to import it conditionally? Currently if setting up as the guide/examples show us to, I run into the following errors (server-side):
[code]

[2017-08-10 10:53] iamdubx commented on #31
@dieguezz I am pretty sure you are not telling the whole picture. It has nothing with Nuxt version. To get rid of warning you need to load plugin on mounted. You will have warning 100% in other case.

[2017-08-10 15:20] JeromeDevillers opened #74 ":navigationNextLabel='something' doesn't work"
Hello ,

This parameter seems doesn't work :

**:navigationNextLabel='test'**

Any issue or I use it in the wrong way ? I also declare :navigationEnabled to True.

Thank you.

[2017-08-10 23:24] maxalmonte14 opened #75 "Doesn't work properly with 1 element per page."
I was trying to use the plugin with only 1 element per page but when I change from the first image to the second the new image is mounted over the first, looks like this:

![captura de pantalla de 2017-08-10 19-27-24](https://user-images.githubusercontent.com/12385704/29196399-f8b96dae-7e01-11e7-97ab-1af74c0020e1.png)
![captura de pantalla de 2017-08-10 19-26-53](https://user-images.githubusercont

[2017-08-10 23:33] maxalmonte14 opened #76 "Doesn't work properly with 1 element per page."
I was trying to use the plugin with only 1 element per page but when I change from the first image to the second the new image is mounted over the first, looks like this:

![captura de pantalla de 2017-08-10 19-27-24](https://user-images.githubusercontent.com/12385704/29196399-f8b96dae-7e01-11e7-97ab-1af74c0020e1.png)
![captura de pantalla de 2017-08-10 19-26-53](https://user-images.githubusercont

[2017-08-11 00:54] #76 closed

[2017-08-11 02:45] andersonaguiar commented on #61
Any solutions?

[2017-08-11 14:01] MacPrawn opened #77 "Feature request: set starting slide index"
Great slider - thank you very much!

I was wondering if we could be allowed to set the first slide index? I would like to start my slider on the very last slide in the list. Or maybe there's already a way to do this that I have missed?

Thanks!

[2017-08-16 20:21] JeromeDevillers commented on #74
I find a css alternative, i put a property visibility: hidden to the element then i create a :before element on this selector set attribute : content : " " and put visibility: visible.

[2017-08-17 13:36] robbiemu opened #78 "[Feature req] allow pagination and navigation elements to be styled."
right now from the parent component, you can style the outer `.VueCarousel-navigation` and `.VueCarousel-pagination`, but not the elements:

* `.VueCarousel-navigation-button`
* `.VueCarousel-dot`

If necessary we can pass in a style like:`<carousel :navigationStyle="styleObject"...`, but an even better one would be to ensure the inner elements are exposed to styling from the scope of the parent c

[2017-08-18 23:14] vesteves commented on #75
Do it, bro
`<carousel :perPage="1">`

[2017-08-20 19:13] iamdubx opened #79 "Feature: reset autoplayTimeout if manually slide"
Hi. Very nice library but one thing bothers me much.
For now this lib is agnostic if user slide image by himself.

To understand what I am saying, set `:autoplayTimeout="3000"` wait 2 seconds, then slide out right before autoplayTimeout triggers - then awful UX appears: this image instantly will change with autoplay.

[2017-08-22 09:25] hhlingyoko opened #80 "How can I get the current index?"
How can I get the current index?
Can you add  a function  to return the current index?

[2017-08-24 15:34] arjanski commented on #78
I would also be very interested in styling the navigation buttons, so +1 !

Could you elaborate on the workaround using :navigationStyle? I didn't find the prop in the API. What exactly would you pass if you were to style the color of the navigation buttons for instance? Or did I understand you wrong?

Thank you in advance everyone

[2017-08-26 21:00] sainf commented on #31
Hi.

Just tested with nuxt as it still gives errors, and it should give.. because it uses Browser only function like ( document and window )

To load the plugin in "mounted" is to bypass the server render, see: [https://nuxtjs.org/guide/plugins](url)

An easy solution is to use "no-ssr": [https://github.com/egoist/vue-no-ssr](url) and load the plugin as nuxt docs.

Of course all this solutions are

[2017-08-27 00:10] zeltice commented on #78
These elements are just HTML dom elements with classes attached.  If you want to style them do something like this SCSS snippet:

.VueCarousel {
  .VueCarousel-navigation-button {
    color: skyblue;
  }
}
-------------

It's just CSS.  You can even manually position them anywhere you want. Or resize them, or do anything you want with them.

[2017-08-29 15:55] midlantica opened #81 "Nuxt.js with vue-carousel"
Newbie. I had vue-carousel running great prior to an update, in nuxt I think. Now it simply won't work.

Running vue-carousel locally in component, Terminal:
`[Vue warn]: Error in beforeCreate hook: "ReferenceError: document is not defined"

found in

---> <Carousel>
       <CarouselShow> at components/CarouselShow.vue
         <Pages/index.vue> at pages/index.vue
           <Nuxt> at .nuxt/compon

[2017-08-31 20:55] archer3cl opened #82 "Force to show after setting display: none"
Im using this component inside a bootstrap modal. The catch is that the bootstrap modal is hidden so after displaying the modal my images are hidden
![image](https://user-images.githubusercontent.com/4583932/29944799-77d91c3e-8e64-11e7-96e8-afe64a7a1cdf.png)

But if i resize the window the images show as they should
![image](https://user-images.githubusercontent.com/4583932/29944853-9d106d5e-8e64-

[2017-09-01 18:41] cviebrock commented on #72
Same here.

[2017-09-02 21:22] lhovee commented on #72
@iamdubx @cviebrock I'm not sure if this fixes the issue but I believe it's supposed to be `:navigation-enabled=true`.
Another thought is I thought my navigation was broken until I realized the carousel was too wide and pushing my nav icons off screen.  Setting a max-width on your carousel container might be necessary.

[2017-09-04 13:51] ckpiggy commented on #81
This is because there is no `document` during server side rendering. You can use <no-ssr> tag to wrap the carousel after Nuxt v1.0.0-rc7([example](https://github.com/nuxt/nuxt.js/blob/dev/examples/no-ssr/pages/index.vue))

[2017-09-05 14:49] midlantica commented on #81
Thank you! 😭

[2017-09-06 20:42] midlantica commented on #78
Newbie... All my styles went bad when I changed from not scoped <style lang="scss"> to scoped <style lang="scss" scoped>.

I needed to go chang to scoped because I had intended on using the vue-carousel twice within the same page. I have not yet tried to do that yet, since I am still trying to solve this problem (hopefully it will not be difficult).

I needed to get to the Prev < and Next > arrows

[2017-09-06 22:26] robbiemu commented on #78
So, when you use scoped styles, it attaches an attribute to elements in scope and that same attribute the the end tags in each of your rules. This prevents styling of component internals like the carousel here.

I guess a general solution, the one I am using, is to add a (possible second) <Style> tag that is not scoped, and a unique classname or other modifier to your component's outermost element

[2017-09-07 15:05] nattvara commented on #71
A temporary solution is to extend the Carousel and override the drag related methods

[code]

[2017-09-07 17:45] midlantica commented on #78
Thank you for your help, it partially worked. I added class="druCarousel" as a custom class.

<carousel class="druCarousel" :perPage=1 :navigationEnabled="true" :paginationEnabled="false" :autoplay="false" :autoplayTimeout="2500" :autoplayHoverPause="true" :loop="true" >
    <slide><img src="~assets/img/portfolio/Xxxx.jpg"></slide>
    ....
</carousel>

I could get at the DOM's carousel innards ch

[2017-09-08 13:15] Jorjon opened #83 "Doesn't work with latest build of Chrome"
Version 61.0.3163.79 (Official Build) (64-bit)
https://ssense.github.io/vue-carousel/

Mouse doesn't work to drag slides

[2017-09-11 09:42] KaronAmI commented on #81
Nice! 😭

[2017-09-11 14:22] robbiemu commented on #78
a problem I am facing may be related... and worth noting here:
if I want to style slides I just use an unscoped rule like: `#carousel-container .VueCarousel-slide {}` this works pleasantly enough but, what is the best way to write :class stylings for that slide? I can't apply that directly to the slide because there is no slot for me to supply the slide object with.

[2017-09-13 23:00] JonathanMH commented on #12
I would vote for closing this issue to represent that it's actually been

1. developed
2. merged
3. tagged and released on npm

[2017-09-14 21:08] agarwalvinit commented on #49
+1

[2017-09-14 21:17] agarwalvinit commented on #49
Hi, first of all this is an awesome carousel. Solves all of my problem till date. The only 2 things that I don't understand is:-
1. The css breaks in safari are we not using prefixer ?
2. I also want to do something similar to @riccardo92, my problem is I have an array of 20 items and there are 3 carousel and all the three carousel can have 20 or less slides from that array of 20 item. Right now I

[2017-09-14 22:26] Aterr commented on #44
Any news on this one ?

[2017-09-15 12:45] JonathanMH commented on #83
61.0.3163.79 <- works for me

[2017-09-15 15:44] ianengelbrecht opened #85 "Dont see images after toggling a component with v-show"
I have the carousel inside a component that is hidden at startup using v-show. When I toggle the component on, the carousel is there but the images do not show. I first have to scroll the carousel, and then the images appear. Each slide is using a child component which has the image as well as some functionality to handle image clicks. This may be similar to issue #82. I'm using :perPageCustom="[[

[2017-09-20 21:53] matthew-dean commented on #81
Ideally `vue-carousel` itself would fix this.

[2017-09-25 05:29] mandawan commented on #75
Solved right ?

[2017-09-25 22:42] AlexThomasWebElevate commented on #82
did you find a way to resolve this? I am having the same issue

[2017-09-25 22:44] archer3cl commented on #82
No, i change to other component. A SlickJS wrapper for vue

[2017-09-25 22:45] AlexThomasWebElevate commented on #82
you wrote the wrapper yourself or is it available on github?

[2017-09-26 14:45] GMSteuart opened #86 "Bug: Event pageChange and in-dom rendering"
The pageChange event cannot be listened to with in-dom rendering due to event being camel cased.

For reference, Evan You recommends not using camelcase events if in-dom rendering is to ever be used for a Vue component. https://github.com/vuejs/vue/issues/4839

[2017-10-04 21:36] mandawan commented on #28
Hello,

I didn't find out how to use this "Event on page changed" feature properly. Through Vuex $store then ? . Am I wrong or is this not documented yet ? Can you please provide a very quick example, for example an implementation of a listener to that event ? That is just the little last thing I need.

Thanks.

[2017-10-08 12:55] elghobaty opened #88 "Fully customized pagination and navigation"
Hi,

Could you please add named slots for pagination and navigation, so that it would be possible to entirely customize either?

Thanks.

[2017-10-14 13:29] renanpro03 commented on #59
There's no looping yet?

[2017-10-16 13:44] jezmck commented on #48
I'd assumed that this is how it'd be done. Disappointed that it's not.

[2017-10-16 13:45] jezmck commented on #70
https://ssense.github.io/vue-carousel/api/#paginationEnabled
(deep link not actually working at present)

[2017-10-16 13:50] jezmck opened #90 "Floated elements mean pagination div outside of "wrapper""
Set a BG colour on `.VueCarousel` and it won't be behind the `.VueCarousel-pagination` div.

My work-around requires my own wrapping div around everything and a `clear: both` div at the end, which is terrible.

[2017-10-17 16:15] runxc1 commented on #80
Did you find out how to get or set the index?

[2017-10-18 15:48] mikestreety opened #92 "Documentation update:"
Hey! Thanks for an awesome plugin.

I might be worth noting in your documentation it can be used like the following - as in your demos you tend to build the items in the JS

It assumes `images` is an array of images.

[code]

[2017-10-18 22:21] Yishengtang opened #93 "Bug: video element is not supported as slides"
I'm trying to put video elements as slides into the carousel, but the video can not play.

[2017-10-20 20:55] prosite5 commented on #12
Looks great, but there is one more needed feature - infinite loop without returning back. For example, if I have 3 slides, slider goes 1-2-3 and then moves fast in backwards direction (3-2-1). Would be great, if it goes in the same direction 1-2-3-1-2-3...

[2017-10-21 21:09] iamdubx opened #94 "Change background styles on pagination"
Is it possible to add ability to change not only the color and padding, but set background image on dots?

[2017-10-23 17:36] dawadam commented on #12
Hi,
Documentation need update :

https://ssense.github.io/vue-carousel/api/

[2017-10-23 23:50] iamdubx opened #95 "Option to use bezier"
I can use only default CSS easing? Is there any chance to use custom bezier?

[2017-10-23 23:55] iamdubx commented on #95
Sorry, it's already working!

[2017-10-23 23:55] #95 closed

[2017-10-24 20:10] chrisribe commented on #72
@lhovee Thanks fixed it for me the param seems to be incorrect in the documentation.

[2017-10-24 20:57] willtpwise opened #96 "Feature Request: Continuously loop in one direction, rather than moving backwards"
Autoplay should loop. Currently when the last slide is reached the slider stops :'(

[2017-10-25 07:05] esemusa commented on #80
`computed: {
      currentIndex: {
        cache: false,
        get() {
          return this.$refs.carousel ? this.$refs.carousel.currentPage : 0;
        }
      }
    }`

[2017-10-25 07:14] esemusa commented on #96
[code]

[2017-10-25 10:37] esemusa commented on #59
[code]

[2017-10-25 13:36] chrisribe commented on #72
Please fix the jsfiddle example:
<script async src="//jsfiddle.net/toddlawton/46wegz8a/embed/result,js/"></script>

Odd both methods of using the param works under jsfiddle (maybe caused by babel?)
Chris

[2017-10-26 10:02] esemusa commented on #70
[code]

[2017-10-29 10:07] arapl3y opened #97 "Feature: autoHeight property"
Hi,

It'd be awesome to have an autoHeight property that dynamically resizes the container for images of varying heights.

Is this something that could be implemented in the future?

Thanks.

[2017-10-31 08:03] alvenmaretinus commented on #88
The current possible way for creating custom pagination and navigation is by force calling goToPage() method in Carousel.vue from outside, and by listening to event emitted by that carousel component if you need to update your custom pagination/navigation.

[2017-10-31 22:43] rolandsaven commented on #74
@JeromeDevillers HTML attributes are case-insensitive and camelCased props need to use their kebab-case equivalents when using in-DOM templates. You should use "navigation-next-label" instead of "navigationNextLabel".

[2017-10-31 22:45] rolandsaven commented on #75
@vesteves @maxalmonte14 It should be
`<carousel :per-page="1">`

[2017-11-03 12:12] stephan-v opened #98 "Browser support?"
What is the current browser support for this?

[2017-11-03 12:53] stephan-v commented on #12
Any update on the infinite loop without reset? Thanks for this awesome component!

[2017-11-03 12:56] JonathanMH commented on #12
@stephan-v: it works, you just throw in :loop=true :)

[2017-11-03 13:18] stephan-v commented on #12
@JonathanMH The infinite loops works but it simply "jumps" back to the first slide. What I would like(and probably a lot more people) if it is simply kept on going.

So exactly the same animation as if you were to have another slide instead of being at the end of your images.

I have been developing a lot with Vue so I am interested in checking out this project. Perhaps I can help.

[2017-11-03 13:29] JonathanMH commented on #12
@stephan-v I get it! Sorry, my mistake!

[2017-11-05 02:25] elviskudo commented on #45
thanks for your awesome product, but now i think my images very slow to load, please added with lazy load, thanks

[2017-11-06 04:13] elviskudo commented on #61
any bug fixed?

[2017-11-06 17:57] nilsi commented on #49
I have this issue as well and also had it with the other library Flickity. What I did with Flickity was to call a method on the carousel called reposition that re-initialized the carousel when my loop finished. This worked great for Flickity but haven't found any way to do something similar with this plugin. Any ideas?

[2017-11-06 20:23] mayognaise commented on #81
You can simply fix this issue using config as @matthew-dean said.

create `plugins/vue-carousel.js`:
[code]

in `nuxt.config.js`:
[code]

Then ready to use!! 🍙

[2017-11-07 18:55] JillzTom commented on #61
Anything yet?

[2017-11-08 10:01] focussing commented on #96
Loop is not mentioned in the docs, that's why people are asking...

This is a great component!!

[2017-11-08 10:05] focussing commented on #97
This would be a great addition!

[2017-11-08 10:06] focussing commented on #64
it is the speed of the transition in milliseconds; could this be updated in the docs?

[2017-11-08 11:24] SarasArya commented on #81
How would I achieve this if I am not using nuxt and using the [Hackernews demo](https://github.com/vuejs/vue-hackernews-2.0/) ?
I have tried using it in the app.js and I get the document error. If I use it anywhere else(entry-client.js). It fails saying content on server does not match the one on client, bails hydration and component is invisible now.

[2017-11-08 11:43] ashwinkshenoy commented on #21
I have done custom arrows like this

`:navigationPrevLabel='(back_tick)<img src="/public/images/icons/arrow-left1.png" class="slider-prev">(back_tick)' `

`:navigationNextLabel='(back_tick)<img src="/public/images/icons/arrow-right1.png" class="slider-next">(back_tick)'`

**Note**
( replace back_tick with `` duh!  )
and then style it in css!

( **Optional** )
Incase if we want custom next and prev

[2017-11-08 17:25] runxc1 commented on #66
Did you ever find a solution for this?   I am running into the same issue

[2017-11-09 04:01] aadii104 commented on #81
@mayognaise  @ckpiggy  thanks for the solution it worked.
But I want to preload my carousel before sending to the client side, would u please help me with this?

[2017-11-09 06:25] elghobaty commented on #66
Facing the same problem.

[2017-11-09 14:29] SarasArya commented on #81
You can put a v-if on the carousel make the variable true on mounted.

For ex

[code]

[2017-11-09 19:27] watzon commented on #59
The loop option needs to be documented

[2017-11-09 20:39] runxc1 commented on #66
I ended up having to do put a  @click="$event.target.focus()" to get the input to focus.  The issue is due to how it is capturing mouse up/down for scrolling on mobile I believe

[2017-11-10 14:18] okmkey45 commented on #66
@runxc1 Yes, I did find a solution but I have to say, not a good one. Still, for my app it works fine and solves my problem.

The problem that I found is that this component in the mounted stage adds listeners to handle mousedown, mouseup and mousemove events. If you want, check the code [in here](https://github.com/SSENSE/vue-carousel/blob/master/src/Carousel.vue) lines 453-461.

So what I did fo

[2017-11-10 16:14] runxc1 commented on #66
Very interesting,  I hadn't seen a Vue component extended before.  Seems this would disable being able to finger scroll through the items in the component which isn't too bad.  Seems that the mousedown should only call preventDefault if the element clicked or touched isn't an input element.  I'll have to look at this later.  Thanks for the example

[2017-11-15 13:15] glutaminefree commented on #68
I want margin between slides too!

[2017-11-17 02:06] danielbastos11 commented on #98
`mutationObserver` shouldn't be a problem, since the code you're referring to actualy checks whether it is available or not [Carousel.js, line 327](https://github.com/SSENSE/vue-carousel/blob/fc041706a96921fca00ebce739a497ecd9a29c36/src/Carousel.vue#L327).

[2017-11-17 02:09] danielbastos11 commented on #97
Can you elaborate on that?
How would that be different from setting `height: auto` on the `VueCarousel` CSS class?

[2017-11-17 02:23] danielbastos11 commented on #71
Another temporary solution would be to remove the EventListener from Carousel's root DOM element.
A code sample (using ES6):

[code]

I'm currently using this in production, and it works just fine.

[2017-11-17 20:25] midlantica opened #99 "Cannot access the css of the arrows 😭"
I'm using Nuxt, Carousel works fine but cannot access CSS on arrows. I need the arrows to be inside the frame.

I'm no JS genius, maybe I'm just not doing this right, or do not understand how it works.
[code]

[code]

P.S.  The <carousel> will not accept these:
:navigationNextLabel=">"
:navigationPrevLabel="<"
Terminal reports:
[code]

Thanks!

[2017-11-19 16:08] MishUshakov commented on #99
Try using html in navigationNextLabel and navigationPrevLabel

Example
[code]

[2017-11-19 20:48] midlantica commented on #99
That helped in changing the the arrows, thanks, but I still cannot target them in CSS. Flummoxed. There must be an answer!?

[2017-11-20 06:18] christan0612 commented on #77
I have same issue
and this is my solution

give carousel a reference
<carousel ref="carousel">...</carousel>
and set:
this.$refs.carousel.currentPage = yourStartIndex

if anyone have better solution please let me know
thanks

[2017-11-23 12:36] bovas85 commented on #78
You can set the content of the arrow to empty as a custom label, then in a global style (not scoped) do
`&.VueCarousel-navigation-prev {
      &:before {
        content: url('/static/images/arrowleft_normal.svg');
        position: absolute;
        top: 0;
        right: 0;
        width: 54px;
        height: 54px;
      }
      &:hover {
        &:before {
          content: url('/static/image

[2017-11-23 12:44] bovas85 commented on #99
if you are using scoped styles, you have to target them without scoped (ideally a global css).
With nuxt I do that in layouts, with Vue I guess in the root component

[2017-11-24 00:52] james2doyle commented on #31
I think the issue is that `this.$isServer` is `undefined` during render in nuxt. Because the guard is `!this.$isServer`, the code in those blocks continues to run. I think an option would be to use `typeof(this.$isServer) !== 'undefined' && this.$isServer === true`.

I think the best option is to set `isServer` _as a prop_ with the default set to `false`. Then the user can decide what conditions t

[2017-11-24 11:02] cookj7 commented on #23
Is there any update on this - or alternatively any workaround that I can apply?

(by the way this is a fantastic component - many thanks!)

[2017-11-24 21:12] midlantica commented on #78
Well.. Thanks. I got rid of scoped and all is well.

I did it slightly differently.
[code]

[2017-11-24 21:22] midlantica commented on #99
Yeap! The answer is to simply remove 'scoped'.

And then I could get the arrows inside my slide image area.
[code]

[2017-11-24 21:22] #99 closed

[2017-11-28 13:59] esemusa commented on #80
try to add;

[code]

[2017-11-28 15:01] deepakkabbur commented on #80
[code]
No luck :(
`this.$refs.carousel ` is `undefined`

[2017-11-28 23:14] cleitonsouza commented on #61
Still waiting :(

[2017-12-04 07:12] jahid284 opened #100 "How can I set stage padding ?"

[2017-12-06 06:46] maqunjing opened #101 "perPage set 2.2 not work"

[2017-12-09 09:46] trueChazza commented on #12
hi, is this still in progress? thank you for this library :)

[2017-12-12 09:24] mravinash commented on #100
Add the perPageCustom from  :perPageCustom="[[200, **1**]]" to  :perPageCustom="[[200, **1.1**]]"

[2017-12-12 09:24] mravinash commented on #100
@jahid284 Add the perPageCustom from  :perPageCustom="[[200, **1**]]" to  :perPageCustom="[[200, **1.1**]]"

[2017-12-12 15:40] guldoe commented on #100
Not like use not integer values, show this error
 Error in render: "RangeError: Invalid array length"
Could be good has something like
:stagePadding='50' and do something similar.

![screen shot 2017-12-12 at 16 04 24](https://user-images.githubusercontent.com/6005590/33893138-06ad7daa-df5b-11e7-91bb-193b2676ab31.png)

Adding a left and right padding.

[2017-12-13 08:48] guldoe opened #102 "new feature add spacePadding"
New feature that adds new space padding.
# How to use
New param where we can add a value in pixels. This will add padding left and right to show other slides.

:spacePadding='50'

# Examples
## spacePadding 100px and one slide per page
![statepadding-100px-one-per-page](https://user-images.githubusercontent.com/6005590/33929582-4db40054-dfea-11e7-8e72-364f6c1fcb39.gif)

## spacePadding 50px and th

[2017-12-13 10:58] Udobnaja commented on #80
In your template
`<carousel v-on:pageChange="pageChange">...</carousel>`
In your script
`methods: {
    pageChange(i){
                console.log('current Index', i);
   },
}`

**Note:**  It fired when you change current page (by navigation or pagination)

[2017-12-15 08:21] #102 closed

[2017-12-15 08:22] guldoe commented on #100
Adding  this PR https://github.com/SSENSE/vue-carousel/pull/103 to have a solution for statePadding

[2017-12-15 10:40] lggwettmann commented on #82
Same problem here with bootstrap tab pane.

[2017-12-15 11:06] lggwettmann commented on #82
The problem lies in VueCaroussel-inner which adapts the visibility of the parent element at the initiation of vue-caroussel, but doesn't update it when the parent updates - at least that's what I found so far.

[2017-12-15 14:05] Loschcode commented on #101
The perPage option doesn't work for me either

[2017-12-18 14:25] MathsAnderson opened #104 "Multiple sliders per page?"
It would seem that when adding two sliders to a page, the pagination for the first instance doesn't work? Is that a known issue?

[2017-12-19 02:06] swa158 opened #105 "Return to first slide"
Is there some way of returning to the first slide of the carousel or move by a certain number of slides with one click?

[2017-12-23 19:36] gangsthub commented on #104
try making a component, so it have its own encapsulation

[2017-12-28 15:54] ghost opened #106 "Using vue-carousel with AEM"
I have built my own custom vue component that uses `vue-carousel` within itself.
It has all been great until we put the component into AEM... now on Preview mode - we are getting an error that says `SyntaxError: expected property name, got ')'`. This error blocks ALL functionality on the page & blocks the developer from being able to go back to the Edit page - it's not until the user goes to anoth

[2017-12-31 15:27] iloginow commented on #81
Honestly, these "solutions" are not good. This is ridiculous. If you use SSR, you do it for a reason! You want all your content to be available for bots, crawlers etc. Any Vue.js component or library should be aware of that and prevent accessing window or document directly without checking for the environment first!

This IS a HUGE BUG and it should be fixed.

[2018-01-02 07:14] lanbau commented on #31
hi i am also experience the same error as mentioned above.

[2018-01-02 11:12] yashwanth1796 opened #107 "to go to particular slide"
please, add event to jump to a specific slide

[2018-01-02 11:52] #107 closed

[2018-01-02 11:54] yashwanth1796 commented on #107
this can be done by from the #80 's mentioned comment

[2018-01-09 07:34] Udobnaja commented on #80
@hhlingyoko, please, close this issue

[2018-01-09 10:37] buroli commented on #82
It's a problem related with the Mutation Observer config.
Currently, he listen only the parent element but it's maybe better to listen the root instance.
Like that, when something changes upper, the component can update theirs own properties like the width, etc..

The fix is easy, you should changes and add some properties in attachMutationObserver methods in Carousel.vue in line 328.
replace  :
`

[2018-01-10 12:16] seifsay3d opened #111 "Support for thumbnails"
Hello guys,
Are you planning to add thumbnails option to the slider? I'd like to make a PR for that.

[2018-01-11 14:31] jclaessens97 opened #112 "set page programmatically"
First of all really nice component!
Though I'm trying to set the page number programmatically, which it seems there is no straight forward way of doing this? I've tried the following:

`this.$refs.carousel.currentPage = this.selectedTeamId;
this.$refs.carousel.goToPage(this.selectedTeamId);`

In the mounted life-cycle hook of the page where I use the carousel, but no luck. Doing anything wrong? Or

[2018-01-12 04:42] raghvendradeshpande opened #113 "drag and drop is not working in chrome"
drag and drop feature is not working on chrome Version 63.0.3239.132 (Official Build) (64-bit), but working fine in mobile view on chrome same version. drag and drop working fine on Internet Explorer and Mozilla Firefox.  any thoughts?

[2018-01-12 05:49] raghvendradeshpande commented on #113
This plugin internally checks if the device type touch supported. If you want to check mouse drag events on chrome browser disable touch events from chrome://flags/. If you would like to check drag and drop in mobile view then enable touch events from same from chrome://flags/

[2018-01-12 05:49] #113 closed

[2018-01-12 08:25] ashwinkshenoy commented on #88
I have done custom arrows like this

`:navigationPrevLabel='(back_tick)<img src="/public/images/icons/arrow-left1.png" class="slider-prev">(back_tick)' `

`:navigationNextLabel='(back_tick)<img src="/public/images/icons/arrow-right1.png" class="slider-next">(back_tick)'`

( replace back_tick with backtick duh!  )
and then style it in css!

( **Optional** )
Incase if we want custom next and prev bu

[2018-01-13 22:20] percytataje commented on #11
would it be great that when it reaches the end it will restart at the beginning? , or that part is already impeded. help meeeeee

[2018-01-14 21:35] mini-eggs opened #114 "Feature Request: onPageChange event prop"
Hey guys, great lib you've got. Really digging it.

I'm in the need of one (1) more prop for the `Carousel.vue` component.

If this isn't as straight forward as I think please let me know. Here's a code snippet that displays what I think would make a good feature addition:

[code]
I see the `handlePageChange` method receiving one (1) parameters: `currentPage` of the `Carousel.vue` component.

Most

[2018-01-14 21:45] mini-eggs commented on #114
Ah, I missed something while initially looking at this.

`this.$emit("pageChange", this.currentPage)` is used line 386 of `Carousel.vue`. Seems this can be used for the same thing I was thinking of (still requires the use of $refs).

I see there's no `this.$emit("pageChange", this.currentPage)` within the method `setCurrentPageInBounds`, though.

[2018-01-14 21:50] #114 closed

[2018-01-16 10:31] askdesigners commented on #112
And you are sure that you have set the ref attr on the element there? (maybe a dumb question)
I'm doing the same as you and it works pretty well.

[2018-01-16 21:23] adFedorovich opened #115 "some troubles with initialaizing"
![screen shot 2018-01-17 at 12 18 42 am](https://user-images.githubusercontent.com/15676325/35012834-3d42e2a6-fb1c-11e7-9cc3-9eea535f7c91.png)

I can not to put carousel to the right side of flexible wrapper

[2018-01-17 01:50] #80 closed

[2018-01-17 21:34] mercs600 opened #116 "Bug: Option per page doesn't work in responsive case"
I took responsive example from documentation page. When slides content have various width then "option per page" is not respected.

You can see this behavior on jsfiddle below. I added to first slide div with 300px width. On smaller resolutions we should get 4 slides in row, but first slide is pushing...
https://jsfiddle.net/mv17mxsp/

[2018-01-18 19:54] lucassanchez commented on #74
To me not work and I need to use css too:

[code]

[2018-01-19 11:24] jclaessens97 commented on #112
Yes, I have said the ref attribute to carousel.

[2018-01-19 11:57] jclaessens97 commented on #112
Problem was somewhere else. the goToPage method doesn't work, but the currentPage does.

[2018-01-19 11:57] #112 closed

[2018-01-19 20:13] quinnlangille commented on #111
Hey @seifsay3d,

Feel free to submit a PR and I can take a look once it's up! Make sure to take a look at our [contribution guidelines](https://github.com/SSENSE/vue-carousel/blob/master/CONTRIBUTING.md) before opening a PR, they should answer any logistic questions.

Looking forward to it!

[2018-01-19 20:20] quinnlangille commented on #75
@vesteves is right, `:perPage="1"` will solve the problem. Closing this issue.

[2018-01-19 20:20] #75 closed

[2018-01-19 20:33] quinnlangille commented on #59
@watzon I'll make a note to add the :loop feature into the docs

[2018-01-19 20:33] #59 closed

[2018-01-19 20:43] quinnlangille commented on #47
@afrozl would issue #45 (adding support for lazy loading) solve you buffering problem?

[2018-01-19 23:41] quinnlangille commented on #115
Hey @adFedorovich,

Could you elaborate on what you're trying to achieve? A JS Fiddle demonstrating the bug would be really helpful?

Thanks!

[2018-01-19 23:48] quinnlangille commented on #104
Hey @MathsAnderson, any luck with @gangsthub's suggestion? If not could you provide a JS fiddle with what you're experiencing?

[2018-01-19 23:51] quinnlangille commented on #101
Hey @maqunjing @Loschcode, `perPage` is working fine on my end - could I get some additional details or a JS fiddle recreating the bug? Thanks!

[2018-01-19 23:54] quinnlangille commented on #100
Thanks for the PR @guldoe!

[2018-01-19 23:54] #100 closed

[2018-01-19 23:56] quinnlangille commented on #98
Hey @stephan-v, I can look into adding a list of supported browsers into the documentation, good thinking.

[2018-01-20 00:01] quinnlangille commented on #97
Hey @arapl3y, yeah for sure! If this is something you'd like to implement feel free to open a PR. You can check out our contributor guidelines [here](https://github.com/SSENSE/vue-carousel/blob/master/CONTRIBUTING.md).

[2018-01-20 00:03] quinnlangille commented on #96
You're right, @focussing - I'll add this to the docs on our next patch

[2018-01-20 00:06] quinnlangille commented on #94
Hey @iamdubx, you can add custom css and style the buttons that way ( see issue #14 ). Otherwise, if you'd like to see something work on the component level through a prop, feel free to submit a PR! Make sure to check our [contributor guidelines](https://github.com/SSENSE/vue-carousel/blob/master/CONTRIBUTING.md) for our commit/branch naming conventions.

[2018-01-20 00:12] quinnlangille commented on #92
Hey @mikestreety, thanks for the suggestion. I'm going to work on updating the documentation for the next patch.

[2018-01-20 00:15] quinnlangille commented on #90
Hey @jezmck, any chance you could provide a JS Fiddle or a link to the bug live somewhere?

[2018-01-20 01:11] quinnlangille commented on #85
Hey @ianengelbrecht, it seems you're right in thinking that it's a similar issue to #82. Have you tried the most recent solution posted on that issue?

[2018-01-20 01:26] quinnlangille commented on #70
@Developerlopez were any of these answers able to help you out?

[2018-01-20 09:49] #115 closed

[2018-01-22 12:18] jezmck commented on #90
https://jsfiddle.net/0w5g2k4b/1/

The yellow background isn't behind the pagination.

[2018-01-22 16:31] mware opened #117 "setting currentoffset"
Is there any way to set the currentOffset() to a specific width?  I would love to set the slide width and currentOffset() at around 300px no matter what the page width.
Thx, great plugin.

[2018-01-22 20:09] leticialtorres commented on #61
Hi!
I'm working on a dynamic slide carousel and would need to know if there is a way to apply the vue-carousel with slides of different widths?
Example resource I'm looking for: [http://jsfiddle.net/1ca8z5ur/2/](http://jsfiddle.net/1ca8z5ur/2/)

tk's

[2018-01-22 20:11] leticialtorres opened #118 "QUESTION - vue-carousel with slides of different widths"
Hi!
I'm working on a dynamic slide carousel and would need to know if there is a way to apply the vue-carousel with slides of different widths?
Example resource I'm looking for: http://jsfiddle.net/1ca8z5ur/2/

tk's

[2018-01-23 22:29] midlantica commented on #104
I have the same problem.

I have two Vue-Carousel components,
1. A 'Portfolio' images component with arrows left & right.
2. And a 'Quotes' component that shows quotes I like.

I can get the Portfolio images component working correctly no problem, but the Quotes component is massively wide. It appears to be some weird css flexbox issue. The flex-basis is way too wide: "flex-basis: 2932px".
`<div c

[2018-01-24 03:58] quinnlangille commented on #118
Hey @leticialtorres, currently vue-carousel doesn't support variable images widths. However, a lot of people have been asking about it - would you mind if I flagged this as a feature request?

Thanks!

[2018-01-24 04:36] quinnlangille commented on #117
Hey @mware, by page width do you mean the width of your browser? The value of `currentOffset` is computed using the `carouselWidth` property, which you could override with custom CSS (check issue #14 for an example).

Let me know if that helps you out/if you made another fix!

[2018-01-26 02:50] lukeheath commented on #12
@stephan-v Yes, I'm also interested in this feature. Perhaps I can help, as well.

[2018-01-26 15:01] quinnlangille commented on #12
Hey @stephan-v and others inquiring, this feature was merged in some months ago but the documentation was never updated - the updated docs will be released with the next patch! However, in the mean time all that's required it `:loop=true` on your carousel, as per PR #62

[2018-01-26 15:30] lukeheath commented on #12
@quinnlangille Thanks for the heads up. We saw the new feature (which is great), but instead of looping forward naturally the current functionality jumps back through all the slides to get to the end or beginning. We were discussing improving the functionality so that the slides are dynamically re-positioned and can move forward infinitely.

[2018-01-31 00:02] jericopulvera opened #121 "Examples does not work on IE"

[2018-01-31 19:42] quinnlangille commented on #121
Hey @jericopulvera, browser coverage for `vue-carousel` is referred to in issue #98. However, the examples are built with a separate plugin ([vue-play](https://github.com/vue-play/vue-play)) that is ungoverned by us, so you're issue would likely be better filed on their board.

Going to close this.

[2018-01-31 19:42] #121 closed

[2018-02-01 04:35] Ko3bIpb opened #122 "How to deactivate at a certain screen size???"
I need to deactivate slider at browser width > 1200. How i can do this???

[2018-02-01 08:48] #122 closed

[2018-02-01 11:01] gangsthub commented on #104
@midlantica that has nothing to do, apparently with this issue. Please, address a new one.

[2018-02-01 15:18] quinnlangille commented on #104
Hey @midlantica, you should be able to override the `flex-basis`. The width of the carousel is calculated by `this.$el.clientWitdh`. The flex basis (`slideWidth`) is then determined by the `carouselWidth` / number of pages (`currentPerPage`). Try giving your second carousel a unique id or class and changing it's width in your CSS and you'll hopefully see some results.

Also, @gangsthub is correct

[2018-02-01 17:53] midlantica commented on #104
I apologize for wrongly putting this here. 😔

[2018-02-01 17:55] midlantica opened #123 "Question: How can I have two carousels on one page?"
I have two Vue-Carousel components,
1. A 'Portfolio' images component with arrows left & right.
2. And a 'Quotes' component that shows quotes I like.

I can get the Portfolio images component working correctly no problem, but the Quotes component is massively wide. It appears to be some weird css flexbox issue. The flex-basis is way too wide: "flex-basis: 2932px".
`<div class="VueCarousel-inner" s

[2018-02-01 17:56] midlantica commented on #123
@quinnlangille stated earlier

Hey @midlantica, you should be able to override the flex-basis. The width of the carousel is calculated by this.$el.clientWitdh. The flex basis (slideWidth) is then determined by the carouselWidth / number of pages (currentPerPage). Try giving your second carousel a unique id or class and changing it's width in your CSS and you'll hopefully see some results.

Also, @

[2018-02-01 18:25] quinnlangille commented on #123
@midlantica thanks for opening a new issue - let me know if the above fix helps!

[2018-02-01 18:43] midlantica commented on #123
@quinnlangille
That is not actually my question... I have two carousels, and I actually want them to be the same width... One is showing up fine, the other goes on thousands of pixels wide.

I did have unique classes, but still the width of the second component is too wide. Working on it now... No luck.. flex-basis will not move.

Actually, I just removed the 1st 'good' carousel.. and still that s

[2018-02-01 18:51] midlantica commented on #123
![developer_tools_-_drewharper_com_-_ui_ux_designer_-_http___localhost_8080_](https://user-images.githubusercontent.com/1449595/35696929-71d13444-074e-11e8-9d87-95acbd62b5fb.png)

![quotesvuecarousel_vue_ _drew72](https://user-images.githubusercontent.com/1449595/35697011-9d844194-074e-11e8-8efe-549c230ba552.png)

[2018-02-01 19:00] mydnic commented on #101
not working for me either

[2018-02-01 19:47] midlantica commented on #123
O... M.. G... I basically retyped the entire component in a new file with new name, and boom! It works.

I have zero idea why.. but all is well.. maybe some text detritus from a copy??

[2018-02-01 19:56] quinnlangille commented on #101
@mydnic I'll investigate it laster this week and see if I can recreate - if you have any more details or examples of it happening feel free to post here

[2018-02-01 20:09] midlantica commented on #123
Sorry, not closed.
I only had three divs with my quotes in them, that worked fine, but as soon as I added in the other <slide>s, it went super wide again.

Fractional width appears to be added for ever <slide> I add... after I get to 4 <slide>s, it's completely too wide.

Sorry for my noobness. Any help greatly appreciated.

[2018-02-02 10:39] martinBadin opened #124 "Questions: How can I add prefixing for CSS styles?"
Please add you prefixes for style, especially for flexbox. Thanks

[2018-02-02 15:36] quinnlangille commented on #124
Hi @martinBadin, CSS prefixing is opinionated, and is therefore the users responsibility. See [this](https://github.com/vuejs/vue-loader/blob/master/docs/en/features/postcss.md) for how to configure your Webpack compiler for prefixing.

Let me know if you have any questions!

[2018-02-02 17:33] martinBadin commented on #124
Hi, I using Browserify. Is enything solution for this compiler?

[2018-02-02 21:35] quinnlangille commented on #124
Yup, check [here](https://www.npmjs.com/package/browserify-postcss).

[2018-02-03 07:07] martinBadin commented on #124
@quinnlangille Thanks. I'll try it

[2018-02-03 12:31] mydnic commented on #101
The second example (called "Responsive") on your website (https://ssense.github.io/vue-carousel/examples/) demonstrate the issue actually.
In the fiddle : https://jsfiddle.net/toddlawton/rvhxLdkq/?utm_source=website&utm_medium=embed&utm_campaign=rvhxLdkq

`:perPage="4"` but only 2 slides are displayed

[2018-02-04 18:20] quinnlangille commented on #101
Hmm good find, it seems that in the example `perPage` is being overwritten by `perPageCustom`. You can see it working as intended in this fiddle -> https://jsfiddle.net/sf8ugeLL/.

I'll revise the example in the next update!

[2018-02-04 19:39] quinnlangille commented on #116
Hey @mercs600, just took a look at your fiddle. You've got `perPageCustom` configured to 2 and 3 slides, which is overriding your `perPage: 4` (I've just made a PR ( #125 ) to clarify this interaction in the documentation).

However, your problem comes from setting a hard width on your elements - two 300px elements can't fit on a 480px screen. I'm not sure what you're trying to achieve with your d

[2018-02-06 01:50] yavinfour commented on #96
I gave `:loop="true"` a try but it does not seem to be working. Using it from here: https//cdn.jsdelivr.net/npm/@ssense/vue-carousel@0.6.5/dist/vue-carousel.min.js which seems to be the most recent release. Is that correct?

[2018-02-06 21:14] yavinfour commented on #96
Here is a fiddle of it, not working: http://jsfiddle.net/kpkrmx2k/3/

[2018-02-06 21:20] yavinfour commented on #96
Ah, if you download the source from GitHub it is working. For some reason the CDN does not have the latest code base even though the version is correct.

[2018-02-07 00:34] quinnlangille commented on #96
@yavinfour noted, when we release `0.6.6` I'll check and make sure the CDN is working, if not I'll make a note in the read me! Thanks for the heads up

[2018-02-07 05:40] wesssel commented on #81
This works for me

Import:
[code]

Components:
[code]

Template (pug)
[code]

[2018-02-07 23:33] elvisdt17 commented on #21
@ashwinkshenoy  could you please elaborate more on how you did the custom arrows?
I can't get it to work.

[2018-02-08 01:43] roni-estein opened #126 "Feature Request: Can you add yarn install instructions?"
I've removed npm, and just looking at this lib, for some reason yarn can't find it even though it's on the npm registry

[2018-02-08 10:37] yawuar commented on #86
Hi!

Is this bug fixed already because I still have the Vue tip.

[Vue tip]: Event "pagechange" is emitted in component <Carousel> but the handler is registered for "pageChange". Note that HTML attributes are case-insensitive and you cannot use v-on to listen to camelCase events when using in-DOM templates. You should probably use "page-change" instead of "pageChange".

Thank you!

[2018-02-08 15:02] quinnlangille commented on #126
Hey @roni-estein, just tried and successfully installed with yarn. What yarn version are you using?

[2018-02-08 15:03] quinnlangille commented on #86
Hey @yawuar, we've merged the PR for this fix and will be deploying it with `v0.6.6`!

[2018-02-08 16:41] roni-estein commented on #126
Nevermind, I re-installed NPM to get this rolling, and it looks like my npm was corrupted, anyhow yarn found the package after npm was uninstalled and re-installed. weird.

[2018-02-08 16:41] #126 closed

[2018-02-08 19:19] roni-estein opened #127 "Question: How can I only have one slide per page?"
Love this super simple carousel! Holy crap setup / read and rolling in 30 minutes! Would be nice to be able to have only 1 review at a time of the design calls for it. However it only goes to 2 as a minimum.

[2018-02-08 21:22] quinnlangille commented on #127
Hey @roni-estein, you can achieve this result with `:perPageCustom`, see an example fiddle here -> https://jsfiddle.net/4c05cesu/1/

[2018-02-09 08:52] imbolc commented on #96
would be great to have it moving one side endlessly without rewind - first slide after the last one

[2018-02-09 17:53] mydnic commented on #101
@quinnlangille The same thing but doing it this way:

https://jsfiddle.net/sf8ugeLL/1/

And the problem appears

I use back-end generated views with vuejs so I have this kind of code:

[code]

[2018-02-10 04:59] abdulbasithb commented on #127
add `:perPage="1"` on carousel tag
[code]

[2018-02-11 10:48] arapl3y commented on #97
@danielbastos11 From what I can tell, setting `height: auto` on the `VueCarousel` class still leads to the height of the container being set to the height of the largest element. What I had in mind is for the container to resize depending on the height of the individual element.
@quinnlangille I'll try to look into it soon, thanks!

[2018-02-12 13:54] khmjcd commented on #12
Is it possible to update the documentation with the "loop" property? :)

[2018-02-12 19:13] quinnlangille commented on #12
@khmjcd yeah the doc update with be out with `v0.6.6`

@lukeheath yeah I agree that it would make sense. Maybe it would work as a second value to the `:loop` prop. If anyone wants to implement, feel free to assign yourself to this issue and open a PR!

[2018-02-16 13:50] crnkovic commented on #101
I had the same issue, however calling prop `per-page` instead of `perPage` fixed the issue.

Example:

[code]

[2018-02-16 14:00] mydnic commented on #101
@crnkovic I confirm it works that way :)
thanks!

[2018-02-16 15:33] quinnlangille commented on #101
Thanks for pointing that out, @crnkovic, I didn't even think to check.

As a side note - camelCase -> dash-case is actually already bundled into `v0.6.6`, which should be out shortly!

[2018-02-17 02:22] chrismadrigal commented on #28
Yes,  an example will be nice. How do you listen to that even on a global component? EJ:

[code]
Thanks

[2018-02-20 21:52] HauntedSmores commented on #96
I came to second @imbolc on the loop as it currently is. I think general loop modes for most slider libraries (slibraries??) is to simply move in the same direction continuously rather than rewinding.

[2018-02-20 22:12] quinnlangille commented on #96
@HauntedSmores I'll switch this post into a feature request!

[2018-02-21 05:44] focussing commented on #96
Beautiful!

[2018-02-21 21:39] quinnlangille commented on #101
Hey guys, just release `v0.6.7` which addresses the camelCase bug, pull and test it out! Going to close this now, feel free to open a new issue if there are still any problems

[2018-02-21 21:39] #101 closed

[2018-02-22 02:19] jeremykenedy commented on #96
Can you please merge this so I can include this in a production project. This is the only feature I am missing at the moment.

Thank you for all the hard work!

jeremy

[2018-02-22 02:23] jeremykenedy commented on #96
O, nevermind `:loop="true"` worked. I'm an a-hole for not trying that first.

Thanks again!

[2018-02-22 10:01] lennoximus opened #130 "Bug: VueCarousel-wrapper class is lost after 0.6.7 update"
Evening.
After 0.6.7 update you've introduced carousel wrapper ref but also removed its class from Carousel.vue component which results in all slides showing at the same time without wrapper's 'overflow: hidden' css property.
I've tried to create pull request with this feature returned, however I ended up with some problems related to jest tests, so we have what we have.

[2018-02-22 12:12] scp-nm opened #131 "Programmatically remove a slide?"
Hey there,

Is there a way to programmatically remove a slide?

Scenario I have is I'm using the carousel to display a collection of alerts. Each alert has a `dismissAlert` function, I'd like to be able to use this to both dismiss the alert and also remove the slide.

Many thanks,

Neil

[2018-02-22 15:08] quinnlangille commented on #130
Hey @lennoximus, thanks for pointing that out! Was your PR just blocked because of the coveralls check? If you don't mind, can you make the PR and I'll deal with the coveralls check!

[2018-02-22 15:20] quinnlangille commented on #131
Hey @scp-nm, we don't currently have anything built-in to handle that, but feel free to assign yourself to this issue and submit a PR with the functionality! I'll go ahead and turn this port into a feature request as well, in case you're not able to make the feature yourself. Thanks for the suggestion!

[2018-02-22 22:19] HauntedSmores commented on #88
This would be an incredibly useful feature. Other sliders use a simple selector option for the next and previous buttons. You can then use any element(s) on the page, not just within the slider, to control it. Otherwise though I think Vue's slots would be an excellent candidate for this feature. This feature would pretty much make me abandon what im using now in favor of this carousel. Cheers.

[2018-02-22 23:25] #83 closed

[2018-02-22 23:30] #94 closed

[2018-02-22 23:32] #85 closed

[2018-02-22 23:35] quinnlangille commented on #74
@rolandsaven is correct here, in that you should be using dash-case alternatives to the camelCased props. Going to go ahead and close this issue, feel free to open a new issue as a bug report if you're still having trouble

[2018-02-22 23:37] #74 closed

[2018-02-22 23:39] quinnlangille commented on #72
Going to update the documentation with the proper kebab-case props now. Closing this issue, feel free to open another issue if you have any questions!

[2018-02-22 23:39] #72 closed

[2018-02-22 23:40] #71 closed

[2018-02-22 23:41] #70 closed

[2018-02-22 23:43] quinnlangille commented on #69
Hey @Jorjon, sorry for the late reply here. I'm building find on the newest version (0.6.7) maybe try updating and running build again.

[2018-02-22 23:46] quinnlangille commented on #12
Build is updated with the new docs! Closing this issue. If anyone has any questions or requests concerning loop, feel free to open another issue :octocat:

[2018-02-22 23:46] #12 closed

[2018-02-22 23:51] quinnlangille commented on #104
No worries! I'm going to close this issue now since we haven't heard from OP in a bit. Feel free to open another issue if you're still having problems.

[2018-02-22 23:51] #104 closed

[2018-02-22 23:54] quinnlangille commented on #123
Hey @midlantica didn't see your message after you closed this. I'm not 100% sure the root if the issue here, but it's likely in how we calculate carousel width. It's been a bit since you posted, have you had any luck since? If not, i'd look at our methods for size calculation and start debugging there.

I'll also flag this as `help wanted`. Good luck!

[2018-02-22 23:55] #124 closed

[2018-02-23 00:01] quinnlangille commented on #127
Going to go ahead and close this since we haven't heard from anyone in a bit. If anyone has any questions/input feel free to open a new issue :octocat:

[2018-02-23 00:01] #127 closed

[2018-02-23 00:02] quinnlangille commented on #93
Hey @Yishengtang, sorry for the late reply. There shouldn't be an issue with video on the input, have you since gotten it to work? If not, would you mind posting an image of how you're inserting the video?

[2018-02-23 00:06] quinnlangille commented on #106
Hey @Francis-Leigh, sorry for the late reply. Have you managed to get this to work since? It seems like it's more of a build issue inside AEM to me. If you did get it to work, I'd be interested to hear if the fix was on the carousel or AEM end?

[2018-02-23 00:12] quinnlangille commented on #66
Hey guys, sorry for the late reply on this. I'm going to flag this as an official bug, and hope it will get fixed in the next patch. it's likely that though the slider was meant for more than images, forms were an edge case that was never tested. Thanks for the input!

[2018-02-23 14:45] lennoximus commented on #130
PR was blocked due to client tests, @quinnlangille. While running these tests I'm facing to tests not passing only because of whitespaces mismatch in components' snapshots. PR #133 is all good though, kind of.

[2018-02-23 15:09] quinnlangille commented on #130
Yeah just saw that - commented on the PR with instructions, there's a command that will automatically update the snapshots. It's just because we updated the snapshots after we deleted the class, so we'll need to re-add them! Let me know if you have any issues. Also, you can run `npm run test` in your console to check locally before you push. Thanks! :~)

[2018-02-23 15:18] quinnlangille commented on #130
Merged! Going to close this now, thanks so much for contributing :~)

[2018-02-23 15:18] #130 closed

[2018-02-23 17:09] midlantica commented on #123
Still no luck. Thanks for Help Wanted.

FWIW, I can add the same vue-carousel component in over and over one after the other and they all come in fine... but if I add a distinct new vue-carousel, it blows up.

I have also tried a dozen other carousels and they all blow up the width. I was using CSS Grid Layout, I thought that might somehow have been a problem so I tried two floating divs.. same re

[2018-02-26 06:40] NBAH1990 opened #134 "scrollPerPage doesn't work in the 0.6.7 version"
Hello!

scrollPerPage doesn't work in the 0.6.7 version, I tried to set "true" and "false", but it always works like "true".

[2018-02-26 06:46] NBAH1990 opened #135 "It is impossible to create endless slider"
Hello!

I want to create endless slider. When I use a :loop directive it always returns me to the first slide, but I want to see the first slide as a next slide.
For example it works in the "slick" carousel, with a parameter "infinite: true".

Could you add it in an API?

Thank you.

[2018-02-26 09:07] tinhnguyen-ea commented on #134
I also got the same issue.

[2018-02-26 12:44] DanSorahan commented on #135
Dupe of #96

[2018-02-26 13:18] NBAH1990 commented on #135
@DanSorahan in the #96 issue a topic starter told about ":loop", but "imbolc" told about my topic. I'm not sure that it is a dupe.

[2018-02-26 14:37] quinnlangille commented on #135
@NBAH1990 I think @DanSorahan is correct and would consider it a duplicate of the feature request in #96. I'm going to close this in favor, but feel free to make a comment on #96 if you have any questions!

[2018-02-26 14:37] #135 closed

[2018-02-26 14:44] quinnlangille commented on #134
Hey guys, I'll take a look into the bug this morning. Which version of vue are you on? Can I get some more info about the bug - a code snippet from your project or a JSfiddle with the bug happening would be helpful. A copy of your package.json would also help debug, if you could paste that here.

Also, have you guys tried using dash case for the props? Depending on your vue version this might be n

[2018-02-26 19:58] gangsthub commented on #123
It seems more like an css problem. Sure, please, make a codepen.io, a stackblitz.com, a jsbin.com... Something to fork. You name it. Code snapshots really don't help.

[2018-02-27 06:58] dimasch opened #137 "Actualize dist to 0.6.8 release."
Hi, guys!

Pls, bump dist script to 0.6.8 release.

Have a nice day!

[2018-02-27 15:22] quinnlangille commented on #137
Hey @dimasch, where are you seeing a non-0.6.8 version? Just pulled from NPM, pulled local package and checked github releases and all are @latest

[2018-02-27 17:08] #137 closed

[2018-02-27 19:48] nick-jonas commented on #86
I'm using v0.6.8 and the event isn't firing off for me - am I doing something wrong?  I've tried both ```v-on:pagechange``` and ```v-on:pageChange``` but my handler isn't firing...

[code]

[2018-02-27 20:16] GMSteuart commented on #86
The handler in your vue component should be firing with `@pageChange`, also im not sure if there is a timing issue but
`import Vue from 'vue';
  import VueCarousel from 'vue-carousel';
  Vue.use(VueCarousel);`

should be placed in your app.js, main.js, file, or whatever your root file is called for initializing your vue project.

The issue here that you are replying to specifically deals with the

[2018-02-27 20:22] #86 closed

[2018-02-27 20:28] Yishengtang commented on #93
Thanks for the reply.

I have figured out what is happening in my code.

[2018-02-27 20:28] #93 closed

[2018-02-27 20:48] quinnlangille commented on #93
👍 thanks!

[2018-02-27 21:29] DavidVII opened #138 "Bug: Slide component does not load when carousel's parent component is imported 0.6.8"
Hello, I ran into an odd issue where the Carousel doesn't display until I click on where the slide would be or trigger a pageChange by clicking on a pagination icon. Even stranger is that the elements are all there in the markup, but they won't display until i click in the general area of the slider.

This only seems to occur when I import the components into another component that is being import

[2018-02-27 22:15] quinnlangille commented on #138
Hey @DavidVII, this was a new problem introduced in 0.6.8? If you roll back to 0.6.7 it's working? Your code looks fine, so perhaps you could link a JSfiddle or stackblitz with this happening so we can take a better look

[2018-02-27 23:03] DavidVII commented on #138
Hi @quinnlangille, I only heard about this library today and so I've only used 0.6.8. However, I tried using 0.6.8 and it seems to be happening there as well. I'll try and put together a JSfiddle, but the example above is all I've got. Not sure if it makes a difference, but I am using webpack.

[2018-02-27 23:37] DavidVII commented on #138
@quinnlangille it appears that the visibility and flex-basis styles on `.VueCarousel-inner` are failing to update when the component is rendered.

They load like this when the component renders:

`visibility: hidden` and `flex-basis: 0px`

Then after I click on the hidden element, they update to this:

visibility: visible` and `flex-basis: 522px`

Is there a way to trigger this update manually? I

[2018-02-28 08:02] pkarw opened #139 "Bug: TypeError: Cannot read property 'removeEventListener' of undefined"
Hi Guys,

We're using vue-carousel in https://github.com/DivanteLtd/vue-storefront

We've recently (0.6.7?) got strange error when page is destroyed:

![zrzut ekranu 2018-02-28 08 59 46](https://user-images.githubusercontent.com/211899/36776381-d95ea93a-1c65-11e8-97ea-a5e31a157dc6.png)

Our case is pretty simple, and the carousel works just fine - but the error above:

[code]

It seems like a prob

[2018-02-28 09:30] Tr4X commented on #139
Hi, same error here, the carousel is working just fine but I a console error is generated as soon as I leave the page where the carousel was on.

<img width="825" alt="capture d ecran 2018-02-28 a 10 28 06" src="https://user-images.githubusercontent.com/1759467/36780058-2c1ab4d2-1c72-11e8-849f-bf78be0f78cf.png">

[2018-02-28 10:12] JensvdHeydt commented on #139
Same here using nuxtjs
![image](https://user-images.githubusercontent.com/19750185/36782112-2c837840-1c78-11e8-8dee-85384eec5354.png)

[2018-02-28 15:26] quinnlangille commented on #138
Hmm I'll try and recreate the issue on my local. Let me know if the on-mount quick-fix works and hopefully we'll get a more permanent solution soon.

[2018-02-28 15:30] quinnlangille commented on #139
Hey guys, is everyone using nuxt or some form of SSR with this issue? It could potentially be from a missing class that got hot fixed in v0.6.8 so try rolling up to that and see if ti helps. Also, is it breaking anything or just throwing errors? Regardless, I'll look into it today and add a fix

[2018-02-28 15:31] quinnlangille commented on #139
Also, if any of you guys manage to fix it on your end, feel free to submit a PR with the solve! At first glance, it just looks like a missing conditional check on the remove event listener

[2018-02-28 18:00] VinceG commented on #139
@quinnlangille Submitted PR, very simple fix hoping it can get merged today since we are also affected by this.

Thank You.

[2018-02-28 18:02] nick-jonas commented on #86
@GMSteuart you're right, I should've included the component that way, but that wasn't the issue.  It has to do with when I click and drag the carousel to the next/prev page, the event doesn't fire (it should).  It only fires when I *click* on a nav dot.

[2018-02-28 18:10] VinceG opened #141 "Feature: Slide the carousel back and forth with the mouse slider"
Hey,

Was wondering if you'll be open to a PR that'll allow to slide the carousel back and forth with the mouse, Particularly the Apple Magic Mouse (where you can scroll horizontally).

![feb-28-2018 10-09-26](https://user-images.githubusercontent.com/195199/36804489-9a89f3ea-1c6f-11e8-8d8b-b479cc2125db.gif)

Thank You.

[2018-02-28 19:06] GMSteuart commented on #86
@nick-jonas thank you for the update on this

[2018-02-28 19:36] quinnlangille commented on #139
@VinceG just merged! Will release it with another change before the end of the day

[2018-02-28 19:37] quinnlangille commented on #141
@VinceG sure thing, as long as it's backwards compatible and tested it should be good to go! If you'd like to submit, I can review it later today or tomorrow - thanks!

[2018-02-28 19:40] quinnlangille commented on #86
@nick-jonas - I can add the change no problem, but if you'd like to contribute yourself I can help debug whatever's blocking your PR. Thanks for figuring that out :~)

[2018-02-28 21:16] #139 closed

[2018-02-28 21:22] quinnlangille commented on #139
Just released 0.6.9 with the fix! Thanks guys 🎉

[2018-02-28 21:23] pkarw commented on #139
Wow, guys didn't expect so quick response! Thanks a lot, great job! :)

[2018-02-28 21:51] quinnlangille opened #143 "Chore: Increase Code Coverage!"
The last few updates have had dropped coverage significantly - I'd like to re-add coveralls checks, but before we do that, it would be nice to have our code coverage/quality be above 80%. This is a great opportunity for someone to learn/practice writing unit tests. If anyone has any questions, feel free to comment here!

I'll leave this issue up for a few weeks, but if we have no biters I'll add t

[2018-02-28 21:52] nick-jonas commented on #86
@quinnlangille  all good, it's a simple line change - go for it!

[2018-03-02 19:03] dougjuliao commented on #138
Hi guys, i don't know if it will run to you, but i try a manual way for now:
In Carousel.vue

Old
[code]
New
[code]
for a while it is working for me.

[2018-03-04 18:52] Danktuary commented on #134
Hey @quinnlangille, I've made a [dummy repo](https://github.com/Danktuary/Carousel-Dummy-Repo) you can use to check. I would've made a JSFiddle but the CDN link is still using 0.6.4.

I set up a quick project with vue-cli and really only edited the [App.vue](https://github.com/Danktuary/Carousel-Dummy-Repo/blob/master/src/App.vue) file (other than the `main.js` file, just to import the package its

[2018-03-05 14:03] Orlandster1998 commented on #88
Actually, you can simply create a customized navigation by making use of vue's `ref` property.

[code]

[2018-03-05 15:20] quinnlangille commented on #88
Would be great @Orlandster1998! Feel free to open a PR and I'll review when it's up :~)

[2018-03-05 20:29] dfee commented on #31
I initially missed @sainf's recommendation, but indeed the answer to this thread appears to be the following:

[code]

[code]

A couple points – I didn't specify `ssr: false` in `nuxt.config.js` and that's because while it's true that `vue-carousel` *should not* be used in SSR mode, it actually needs to be wrapped in a `no-ssr` component which appears to take a higher precedence.

[2018-03-06 18:24] bepi-roggiuzza opened #145 "Bug: pageChange not emitted after drag events"
Hi, I noticed that pageChange is not emitted after a drag, both with mouse and with touch.
Everything works fine when the current slide changes by a navigation or pagination button.

Tested using
vue 2.5.13
vue-carousel 0.6.9
Firefox, Chrome and Safari at the latest versions

Thanks 👍

[2018-03-09 10:21] isuke01 opened #146 "Class to slide element ?"
Hello,
Is somehow possible to add Class to current visible elements, and class to middle element if there is odd number of visible elements?

Thanks :) 👍

[2018-03-09 10:42] nataliawojtkowska opened #147 "Navigation scrolls per page, not per item"
Panning / sliding the carousel works fine, but clicking next or previous arrows scrolls per page, not per item.
`:scroll-per-page="false"` doesn't help

[2018-03-09 22:54] ouraios opened #148 "Display on two rows"
Hi,
I'd like to use vue-carousel but to display multiple element on two rows, something like one slide contain two elements one under another.
This feature is not currently implemented how would it be possible to implement it ?

[2018-03-11 00:28] quinnlangille commented on #148
Hey @ouraios, there are many ways to go about this. Using a component as a slide is probably the easiest. Let me know how it goes!

[2018-03-11 00:29] quinnlangille commented on #146
Hey @isuke01, not 100% sure what you mean here can you give an example?

[2018-03-11 00:31] quinnlangille commented on #147
Hey @nataliawojtkowska, this is an open issue - you can follow @ #134! If you have any suggestions feel free to comment there or open a PR :~)

[2018-03-11 00:31] #147 closed

[2018-03-11 08:04] tetshi opened #150 "Bug: Wraping <a> tag with <slide> breaks slider"
For example:

[code]
If you click and drag, as soon as you let off, it activates the link. I would think the expected result would be if the slide was initiated, the <a> would cease to function.

[2018-03-11 15:23] quinnlangille commented on #150
Hey @tetshi, haven't seen this happen before, and am currently using the slide as pictures above in production. Do you mind sending a jsfiddle or a link to this happening live somewhere? Will be easier to debug from there

[2018-03-11 22:50] tetshi commented on #150
[code]

Now this is being done in Laravel, but the end-markup is the same. For whatever reason though, if I click and drag and left off over the same slide, it'll activate the link.

[2018-03-11 23:42] ouraios commented on #148
I mean i have an array in my component data, and i want items of the array to be visible on your vue-carousel component but i want to display two items vertically per slide.
Your vue-carousel actually dont provide this feature, maybe its me on my own to do it but i want to manipulate the items of my array as i wish.
FOr example i want to display group or products in the carousel and when selecting

[2018-03-13 23:46] DavidVII commented on #138
Howdy, not sure if this affects things, but the carousel is in a modal. I imagine the carousel component can't calculate dimensions due to the modal being disabled by default.

For now, I'm still setting the flex basis and visibility manually.

[2018-03-14 23:33] quinnlangille commented on #138
@DavidVII Hmm I still can't seem to recreate this issue, is it occurring cross-browser?

[2018-03-14 23:55] DavidVII commented on #138
Chrome and Firefox both have this issue. Did you try rendering in a hidden modal then activating the modal?

[2018-03-15 15:37] bepi-roggiuzza commented on #145
Thanks @jdtzmn, really appreciated.
I was very busy at work so I didn't make it by myself, but the idea was the same as yours ;)

[2018-03-16 21:35] DavidVII commented on #82
It looks like this issue and #138 are one and the same.

[2018-03-16 23:09] buroli commented on #82
@DavidVII, did you test my workaround ?

[2018-03-21 06:53] mdix opened #154 "Bug: pagechange vs. pageChange"
The `pagechange` (or `pageChange`) event is emitted at two locations in the code:

https://github.com/SSENSE/vue-carousel/blob/cdf92d181caae0fa8a422c2c7331844a92522680/src/Carousel.vue#L419
https://github.com/SSENSE/vue-carousel/blob/cdf92d181caae0fa8a422c2c7331844a92522680/src/Carousel.vue#L497

One is written in lowercase (`pagechange`), the other one in lowerCamelCase (`pageChange`). It should

[2018-03-21 09:49] at-phuongdo opened #155 "Vue carousel as backgound?"
How can I config to set vue-carousel as backgound. To add something above it?

[2018-03-21 14:46] quinnlangille commented on #154
Hey @mdix, there is an open PR to fix this -> it looks as if there was a bad merge and some duplicate rules got added at some point. The fix will be a part of the v7.0 release hopefully coming by the end of the week

[2018-03-21 14:47] quinnlangille commented on #155
@at-phuongdo I'm not 100% what you mean by this? You want to overlay text on the carousel? Can you send an example of something similar to what you're trying to achieve?

[2018-03-22 02:48] #155 closed

[2018-03-23 23:01] h4rDkur commented on #61
in one of my projects from vue-cli webpack. i encountered this bug too but only in dev.
when i build it for production it's fixed.

[2018-03-28 05:37] Rusya13 commented on #150
Hi guys, I have the same problem. Do you have any idea how to solve it, even with some hack?

[2018-03-28 10:32] kulaone opened #157 "CDN link is still using version 0.6.4"
could you update the version on: https://ssense.github.io/vue-carousel/js/vue-carousel.min.js
to 0.6.9

[2018-03-28 16:50] acupofspirt commented on #88
Maybe it's better to use named slots? One for next, one for prev. Another one for pagination.

[2018-03-29 09:51] ysaaron commented on #88
Agree with @acupofspirt , I think it could be
[code]

This way could avoid using `$refs`

[2018-03-30 14:49] quinnlangille commented on #157
Hey, @kulaone! Will update when I roll to 0.7.0, should be in the next few days!

[2018-03-31 08:02] kulaone commented on #134
Hi,
Is this bug going to be fix for v. 0.7.0?
If not, how can I help to make it to this version?

[2018-03-31 17:05] quinnlangille commented on #134
Hey @kulaone, there is a PR that's currently open which deals with some duplicate functionality that I think might be causing this. I'm going to review and merge that hopefully at the start of this week, and if it fixes it will release all changes as part of `v0.7.0` right away. If not, I agree that this fix needs to be included in `v0.7.0`, so I'll post back here with some possible solutions

[2018-04-03 14:27] jeden1974 opened #158 "BUG: Side Buttons on MS Edge"
Don't use Edge myself but just noticed in by browser testing that when using edge you end up with the left/right buttons having a blue button background.

[2018-04-03 14:33] quinnlangille commented on #158
Can confirm this, good reporting @jeden1974. I'll flag this as an easy fix, should just be CSS prefixing or something like that.

[2018-04-03 16:11] quinnlangille commented on #134
Hey guys, just confirming that the new changes that I was hoping would fix do *not* address this. Can confirm it's an issue, and will remove the need for repro from the tags. If anyone wants to take a closer look it would be greatly appreciated! `v0.6.10` coming out later today - once we resolve this issue I'll be comfortable rolling to `v0.7.0`!

[2018-04-03 18:24] quinnlangille commented on #157
Just updated this, CDN is now using `v0.6.11`!

[2018-04-03 18:24] #157 closed

[2018-04-03 18:25] quinnlangille commented on #154
Just released the fix for this, let me know if it solves the problem!

[2018-04-03 18:26] quinnlangille commented on #145
Hey guys, just wanted to give a heads up that @jdtzmn's fix was released (finally) this morning. Sorry for the delay and thanks for contributing 🎉

[2018-04-03 18:26] #145 closed

[2018-04-03 18:27] quinnlangille commented on #116
Haven't heard back here so will close this, feel free to open a new issue if there are still any problems :~)

[2018-04-03 18:27] #116 closed

[2018-04-03 18:28] quinnlangille commented on #106
Haven't heard back here so going to close this, feel free to open another issue if there are still any problems :~)

[2018-04-03 18:28] #106 closed

[2018-04-03 18:29] #154 closed

[2018-04-03 18:31] quinnlangille commented on #69
Haven't heard back here so going to close this, feel free to open a new issue if you're still having a problem :~)

[2018-04-03 18:31] #69 closed

[2018-04-04 08:48] kulaone commented on #134
@quinnlangille I need some clarification. When we say scrollPerPage, do we mean that it's only affect scrolling and dragging event or it's including navigation and pagination?
I'm asking because I start writing code that will allow navigating only by slide and not by page. I was wondering should I use scrollPerPage as my prop or should I create a new one called navigatePerSlide.

[2018-04-05 19:33] michaelscheurer commented on #150
I have the exact same probleme with an <img tag. As soon as you click on the slider, the image appears. But at the beginning, there is nothing to see.

[2018-04-07 11:01] guillaumeduhan opened #160 "Question: Slide on click element?"
Hello and thank you for this awesome module,

I got one question. I would like to slide from page 1 to page 2 on click on an input. I found in the documentation, this function: getNextPage(). But when I put: "@click="getNextPage()", it doesn't trigger the sliding.

Another method?

My code:

[code]

And my method:

[code]

Thanks for help :)

[2018-04-08 00:03] quinnlangille commented on #160
Hey @guillaumeduhan, I think this is related to #134 in that since 0.6.7 the scrolling features haven't been working as expected. I think someone is working on a fix, so I'll update you here once I test and merge!

[2018-04-10 21:45] lggwettmann opened #163 "Feature: Show slides partly on the edges like in Netflix"
Is it possible to show only a part of the slide on the outside like in Netflix? This way users get a visual clue that it's a carousel without the need of the pagination dots or navigation arrows.

If it's not possible yet, would be great to get an option for it. Thanks for your work on this great package.

[2018-04-13 04:27] stop2stare commented on #163
Hi, @quinnlangille @lggwettmann , I have made a [PR # 165](https://github.com/SSENSE/vue-carousel/pull/165) to meet this need. This isn't impossible, but we truly have to do some css tricks.

[2018-04-13 06:46] stop2stare commented on #163
Oops, it's really awkward! I didn't read the API carefully before. With the ready-made API we could make it.
[code]

[2018-04-13 13:58] surgetom opened #166 "option to disable"

[2018-04-13 13:58] #166 closed

[2018-04-14 16:33] stop2stare commented on #146
Hey @quinnlangille , maybe what @isuke01  was trying to say is this:
For example, when VueCarousel has been initiated with `perPage="2"`, *slide 0* and *slide 1* have classes like `VueCarousel-slide VueCarousel-slide-visible`. I think this need is reasonable.
But maybe what @isuke01 really needs is some hook function like `onSlideEnd` to do some customized work.
Later I will push a PR to add this

[2018-04-14 18:09] quinnlangille commented on #146
I think the implementation should be whatever is the least complicated. I'm not sure if we want to couple it to `perPage`, I'd have to see how the implementation looked.

However, I _do_ think to expose something in the API for this feature makes the most sense (i.e - pass a prop with a boolean value to enable the feature, or perhaps as we discussed in your PR, pass a prop with a pixel value to cu

[2018-04-15 00:59] stop2stare commented on #146
Hello, @quinnlangille . Alright, new PR will be submitted right after [#165](https://github.com/SSENSE/vue-carousel/pull/165) is merged.

[2018-04-15 01:31] quinnlangille commented on #143
Yes! Getting the coverage increased is going to be really important as we move to `v1.0.0` - it would be a H U G E help if you could make some contributions here 😁. No worries on the number of PR's, but I agree that we should resolve #165 first!

[2018-04-16 16:44] stop2stare opened #169 "Should we rename instance event in camalCase?"
We currently have event `pageChange` on component `Carousel`. But we also have event `paginationclick` on `Pagination` and `navigationclick` on `Navigation`. Should we rename those two event in camalCase like `pageChange`?

[2018-04-16 17:58] kulaone opened #170 "Free space when perPage is bigger than slideCount"
When perPage is bigger than the slideCount (happens when using dynamic slides), the slide width calculate base on currentPerPage and we get a free space in the carousel (which annoying me UX expert ;) ).
I coded a quick fix:
`slideWidth() {
      const width = this.carouselWidth - this.spacePadding * 2;
      const perPage = Math.min(this.currentPerPage, this.slideCount);

      return width / per

[2018-04-16 18:50] quinnlangille commented on #170
Hey @kualone, I think #165 addresses this! Let me know if it's something else, and if so we'll gladly accept your PR - I'll be merging #165 in later today.

[2018-04-16 20:30] quinnlangille commented on #170
Ok, thanks @kulaone! Will review as soon as it's up

[2018-04-17 02:27] quinnlangille commented on #169
Hmm yeah, I agree that this is a good idea. However, like we did with the implementation of `pagechange` -> `pageChange`, it would need to be backward compatible so we don't break previous installs.

[2018-04-17 02:32] stop2stare commented on #169
Of course, we don't want breaking changes. But these two kinds of event names really make me confused.🤣
BTW, we're about releasing `v1.0.0`. Will we be able to change this by then?

[2018-04-17 11:17] manniL commented on #78
It'd be better to use named slots for custom styling of the nav components though :thinking:

[2018-04-17 14:14] quinnlangille commented on #169
I think it's safer if we include a deprecation notice with `v1.0.0` and schedule actual removal for a later version, just to give devs some time to adjust

[2018-04-17 14:39] stop2stare commented on #169
Sure thing.

[2018-04-17 16:00] stop2stare commented on #143
Hey @quinnlangille check [this](https://vue-test-utils.vuejs.org/en/) out. What about migrating tests to **vue-test-utils**? We can still use Jest but things will be a lot easier.

[2018-04-17 16:02] quinnlangille commented on #143
@stop2stare we're actually doing that migration at ssense right now, and it would be great to have it here as well. If you feel like you're up for taking on the migration, it would be a *huge* boost for our codebase

[2018-04-17 16:11] stop2stare commented on #143
@quinnlangille great, what's your progress about migration? How can I participate in your current work?

[2018-04-17 16:36] quinnlangille commented on #143
We're not migrating any open source yet, just our internal vue repos so feel free to refactor how you see best!

[2018-04-17 17:04] manniL opened #172 "Feature request: Use scoped slots to enable "full customizations""
Hey all!

I'm currently struggling with customizing navigation and pagination "properly" (no button in button and more than just label replacements).

As I've seen (#78, #88, #34) several other people had the same issues. A great way to deal with the customization problem are [scoped slots](https://vuejs.org/v2/guide/components-slots.html#Scoped-Slots). You don't lose the default settings for peop

[2018-04-17 17:44] quinnlangille commented on #172
Hey @manniL, I agree with you and this is actually something that's been considered for `v1.0.0` criteria. I think in the next few weeks I'll produce some kind of official roadmap document, to give more visibility to issues we want prioritized and this will be included for sure! Thanks for making the request 😄

[2018-04-17 18:09] quinnlangille commented on #163
Just a heads up, this was resolved with the release of `v0.6.14` - you're now able to use the `spacePadding` prop to enable the look ahead style slider like Netflix. Thanks for making the request 👍

[2018-04-17 18:09] #163 closed

[2018-04-17 18:11] quinnlangille commented on #146
Hey! Just a heads up that this was resolved with the release of `v0.7.0` -> the visible slides now have an 'active' and 'centre' class. Thanks for making the feature request 👍

[2018-04-17 18:12] quinnlangille commented on #160
Any idea if this has been resolved for you yet? The fix went out a while ago with `v0.6.13`, let me know if it's still happening and I'll switch this to a bug report!

[2018-04-17 18:43] manniL commented on #172
Thanks for the fast response @quinnlangille
I'm looking forward to the roadmap! :)

[2018-04-17 19:13] lggwettmann commented on #163
Wow, awesome @quinnlangille Thanks so much.

[2018-04-17 20:28] dextherry opened #173 "infinite loop does not works"
Hi, I read the posts about this issue, but same, it does not work infinite loop, I also downloaded the repository from github and put to my project and same,

I am using this code

`<carousel
                        class="carousel-slider"
                        :perPage="6"
                        :navigationEnabled="true"
                        :autoplayTimeout="3000"
                        :

[2018-04-17 20:39] quinnlangille commented on #173
Hey @dextherry, the loop should move back to the start and keep rotating through your slides. Is that not happening? Moving continuously though (ex slide 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5 ...) is not currently supported. If the regular loop is not working, do you mind sending an example of the bug over?

[2018-04-17 22:42] dextherry commented on #173
Hi @quinnlangille , well, I had 6 items and 6 perPage so there was not any movement, now I added a item more and it works as you said :),  ,  I was waiting a rotation like 1 2 3 4 5 1 2 3 4 5 1 2 3 4 5,  but, anyway, thanks for clarify it for me.

[2018-04-18 01:32] guotie opened #174 "Unable to preventDefault inside passive event listener due to target being treated as passive"
Unable to preventDefault inside passive event listener due to target being treated as passive

[2018-04-18 02:39] stop2stare commented on #143
@quinnlangille oh I see, that's ok.

[2018-04-18 03:08] stop2stare commented on #174
Hey @guotie ,Could you please offer us an example?(哥们儿能给个例子么，或者同时附上中文。。。)

[2018-04-18 03:10] guotie commented on #174
[code]

[2018-04-18 14:03] stop2stare commented on #174
@guotie sorry I can't make this happen again. And we don't use any `{passive: true}` when we add event listener to `touchxxx`.

[2018-04-18 14:30] sohailalam2 commented on #138
Hi @quinnlangille any update on this?

I am also facing the same issue... here is a snippet of my code -

[code]

Where **MyComponent** is a VueJs component which contains the template and some business logic like click listeners etc.

[2018-04-18 14:38] stop2stare commented on #150
Hey @tetshi , have you tried to `preventDefault` when clicked on `<a>`? Though it's still going to fail in mobile devices.
I think maybe issue #174 is related to this issue. We're working on this problem.

[2018-04-18 14:57] quinnlangille commented on #138
Hey @sohailalam2, no progress on this currently. I think it may be related to #172 - if not directly related, it should be resolved by this as a side effect. I'm going to try and get this prioritized, so hopefully will have a fix in the near future!

[2018-04-18 15:09] tetshi commented on #150
@stop2stare I did not try that, no. I don't mind the console warns temporarily, and I'm pumped you guys were able to figure out the issue. Thanks for the update. I'll try the `preventDefault` for now. Thanks!

[2018-04-18 15:13] stop2stare commented on #150
@tetshi Haha, don't be in such a hurry. I've pushed a PR which is going to solve this problem. Maybe the maintainers will release a new version. Just wait a day.😄

[2018-04-18 15:25] stop2stare commented on #174
Hey @guotie . it's solved, please update vue-carousel to v7.0.1.😄

[2018-04-18 15:25] quinnlangille commented on #150
Just released now! If you pull `0.7.1` on master this should be good. @tetshi, let us know if that resolves your issue!

[2018-04-18 15:25] sohailalam2 commented on #138
Hi, @quinnlangille thanks for the update. Any comment about the ETA?
We are kind of stuck because of this and cant release until this is resolved.

[2018-04-18 15:30] quinnlangille commented on #138
@sohailalam2 it's going to be a big fix, as adding the scoped slots will require rewiring how the carousel works. Hopefully something will come through in the next few weeks - If there is no traction from the community I'll work on a solution myself.

If you end up resolving the issue on your end, feel free to make a PR here with the fix!

[2018-04-18 16:45] stop2stare commented on #174
@quinnlangille ... It was in the source code in `Carousel`. I didn't check the source carefully... Just take a look at [this line in Carousel](https://github.com/SSENSE/vue-carousel/blob/master/src/Carousel.vue#L552). Maybe I should've deleted this line in the first place... Sorry, My Bad.

[2018-04-19 10:51] kingflamez commented on #81
For it to work seamlessly on **`DEVELOPMENT MODE`** and **`PRODUCTION MODE`**

create `plugins/vue-carousel.js:`

[code]

in `nuxt.config.js:`

[code]

in your component

[code]

This will enable it to work seamlessly  on both `production` and `development` mode

[2018-04-19 18:32] quinnlangille opened #178 "Bug: Pagination has extra dot"
Following our recent updates to slide performance, a small bug has occurred where pagination dots are extending one unit past our slide count, see below for an example:

![ezgif com-optimize](https://user-images.githubusercontent.com/17895168/39011032-581b02f6-43de-11e8-9e47-0533db5a2a1b.gif)

This is likely due to some rounding logic somewhere in the new calculations. Should be an easy fix and gr

[2018-04-20 08:20] guotie opened #179 "async get slides make the slides do not autoplay, and not autoplay loop"
[code]

[2018-04-20 11:22] paulgeisler opened #180 "Examples are broken"
Is it only me or are the examples really broken?

[2018-04-20 13:52] quinnlangille commented on #179
Hey @guotie,  I'm currently working on updating the documentation! Will hopefully have an updated version after the weekend. Unfortunately, a few features for merged into our released carousel without update documentation, but now that the carousel is being properly maintained I should have some updates to the docs as well as the comments in the codebase to make developing easier.

[2018-04-20 13:56] quinnlangille commented on #180
Hey @paulgeisler, definitely not just you! There was a mixup with the CDN version that's causing the bug, going to fix it today. Will ping here once the examples are back online and running. In the mean time, if you have a copy of the carousel locally running `npm run dev` or `yarn dev` will bring up our Vue-Play instance, which has all of the examples running!

[2018-04-20 14:10] paulgeisler commented on #180
Thanks!

[2018-04-20 14:10] #180 closed

[2018-04-20 14:26] NickMcBurney opened #181 "Question: Is it possible to block the touch/mouse from moving slider"
Hi,

Im trying to build an application which requires a carousel but I only want to change the active slide using the getNextPage() & getPreviousPage() methods.

I have added 'mouseDrag' and set to false `:mouseDrag="false"` and also `:minSwipeDistance="999999999"` but I can still change slides using touch.

Im wondering if it is possible to completely block the users ability to change slide witho

[2018-04-20 15:59] quinnlangille opened #182 "Bug: "Can't read currentPage of undefined" on jsFiddle"
Locally there is no issue regarding currentPage, it console logs at every point in the application and is visible in vue-dev-tools. However, on JSfiddle all of our examples are broken - this includes our embedded slider on the main https://ssense.github.io/vue-carousel/ page.

The error we're receiving in the console is:

![screen shot 2018-04-20 at 11 51 47 am](https://user-images.githubuserconte

[2018-04-20 16:07] quinnlangille commented on #182
@stop2stare it seems as if the `Slide` can't see `this.carousel` with the new `provider/injection` format - does something need to be updated in the JSfiddle to accommodate this change?

Both provided and injected components are coming through in the console so nothing wrong there

[2018-04-20 16:31] quinnlangille commented on #181
Hey @NickMcBurney, the carousel checks if `this.mouseDrag` is enabled, OR if the window has an `ontouchstart` event to enable dragging. The ontouchstart event's differ between browsers, but if you remove the listener then your dragging should not work.

Otherwise, I'll switch this to a bug report as that should be the intended functionality

[2018-04-20 16:44] quinnlangille commented on #174
Just released the fix for this, thanks for the bug report! and double thanks for the fix!

[2018-04-20 16:44] #174 closed

[2018-04-20 19:48] quinnlangille commented on #182
Looks like this was just due to jsFiddle using an old version of vue 😅

[2018-04-20 19:48] #182 closed

[2018-04-21 01:46] guotie commented on #179
thanks very much, great work!

[2018-04-21 01:46] #179 closed

[2018-04-21 04:30] stop2stare commented on #182
@quinnlangille haha, `provide/inject` was added in `v2.2.0+`. But maybe we should've added a statement in README that `vue-carousel` requires `Vue v2.2.0+`.

[2018-04-23 08:50] kulaone commented on #178
@stop2stare, I like your fix, but do we need to remove dots, or maybe color them as selected?
The dots allow the viewer to know how many slides are out there.

[2018-04-23 09:00] stop2stare commented on #178
@kulaone , I agree with your opinion.

But if there are more than one slide per page, say n, and total slideCount is m, then we can only slide `m - n + 1` times in one direction. If so, what does the extra `n - 1` dots supposed to mean? When we click the extra dots, the carousel won't react anyway.
So the problem becomes:

[2018-04-23 09:42] kulaone commented on #178
@stop2stare, It's a good question after all the element called pagination, so it needs to be functional as getting the viewer to all possible pages. But as viewers, we got used to seeing it also as a visual "counter" of how many objects/slides are there.

I think my doubts come from the fact that I'm using vue-Carousel in a slightly different way. I disable the pagination and build an icon menu to

[2018-04-23 10:00] stop2stare commented on #178
@kulaone alright, I get it. Maybe we need to highlight `perPage` dots at the same time rather than one. In this case, dots will make no misunderstanding and the *menu* functionality has been met also.

[2018-04-23 12:30] paulblyth opened #184 "Feature: Autoplay timeout should reset when manually switching slides"
Hi! Using v0.7.2 and I've set `v-bind:autoplayTimeout="5000"` which works perfectly until you manually move forwards or backwards in the carousel, at which point the timeout doesn't appear to be resetting and the current slide will slide in a fraction of the time.

e.g. I have slides A, B, C and D with a 5 second autoplay. When it auto-slides to B, I wait for 2.5 seconds and manually move to C. I'

[2018-04-23 13:52] stop2stare commented on #178
Hi @kulaone , what do you think of this solution?

I mean I do agree that we need some kind of functionality like *menu*, considering multiple slides in one page. But I am still not sure that we should create a new component to meet this need. Maybe we can modify `Pagination` a little bit instead.
Looking forward to your reply.😄

[2018-04-23 14:02] stop2stare commented on #184
Hey @paulblyth , thanks for the issue, could you please leave a piece of your code?

[2018-04-23 15:16] kulaone commented on #178
@stop2stare,
I like the idea of using pagination is a menu. It will also enrich its functionality. Like the adding a value for the pagination location (top, right, left, bottom)

[2018-04-23 15:17] quinnlangille commented on #178
I think the right solution involves addressing both of your points. @stop2stare's solution will definitely address the 7 dots on a 6 page slide scenario. However, since this issue is just a bug fix, would it be better to open a feature request for more robust pagination? @kulaone your addition sounds great, though I'd like to see what options would look like without adding a new component as well

[2018-04-24 15:46] quinnlangille commented on #178
If we have 9 slides and `perPage: 3` then there should be 3 dots (3 slides per page, one dot per page) in the pagination. If `scrollPerPage` is `false`, we should have 9 dots, one dot per slide. I made a quick wireframe here: https://wireframe.cc/wpBcFF

Free free to annotate if you have any questions!

[2018-04-24 15:53] stop2stare commented on #178
Well, then we CAN'T **highlight perPage dots at the same time rather than one**...
Hmmm... would you mind clarifying every situation?
1. 6 slides with `perPage: 1`
2. 6 slides with `perPage: 2` and  `scrollPerPage: false`
3. 6 slides with `perPage: 2` and  `scrollPerPage: true`
If this is clarified, the rest would be easy.

[2018-04-24 16:12] quinnlangille commented on #178
1. 6 pages, 6 dots
2. 6 pages, 6 dots (if scrollPerPage is false, pagination should ignore `perPage`)
3. 3 pages, 3 dots

[2018-04-24 17:14] kevin-coyle opened #188 "When items are loaded asynchronously the carousel starts at the last pagination dot"
If you add in the slides with a v-for and get the data inside those async, like for example an AJAX request then the pagination starts at the last dot.

Here's a JSFiddle to illustrate it https://jsfiddle.net/mor7m8s8/1/

I've used a set timeout to simulate the delay but it occurs just the same with an AJAX request.

[2018-04-24 17:29] kevin-coyle commented on #188
I'm currently doing a pretty nasty
[code]
To mitigate this, any ideas of how to get around it better? Maybe an event that I can respond to?

[2018-04-25 16:44] quinnlangille commented on #188
Hmm nice find @kevin-coyle, this is likely due to what lifecycle we calculate pagination on. I'll flag this as a bug fix!

In the mean time, I think you can pass a `:navigateTo=0` prop to have it start on the first slide. Kind of hacky but should work as a temp solution!

If you end up fixing it yourself, feel free to submit a pull request :octocat:

[2018-04-25 16:49] kevin-coyle commented on #188
Thanks @quinnlangille I'll try that. Thank you for your help

[2018-04-25 16:51] quinnlangille commented on #184
Hey @paulblyth, I think this is actually a feature request as the carousel currently does not reset the timeout on manual page transition. I'll flag this as a feature and hopefully we'll have a contributor take the task on!

P.S - the TypeError was just resolved with the most recent release! 🎉

[2018-04-25 19:33] kulaone opened #190 "codepen.io on IE11 not working"
Any clues why this code is not working in IE11?
https://codepen.io/kulaone/pen/pVbKmq
![vc](https://user-images.githubusercontent.com/1530342/39268405-c6389fd0-48c7-11e8-9a5f-758f09a5ada9.png)

Thanks

[2018-04-25 20:31] quinnlangille commented on #190
Hmm we might need to add a polyfill for something, any console error? I don't have IE on my PC right now and can't test for a bit

[2018-04-25 20:47] kulaone commented on #190
I'm working on a mac using browserstack

This is what I see on the codepen.io console:
[code]

[2018-04-25 21:15] kulaone commented on #190
I'm using this one:
https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js

[2018-04-26 14:19] TheAlexLichter opened #191 "Bug: Custom navigation elements give error on SSR"
Hey all,

## Setup

I'm using custom navigation arrows for my carousels:

[code]

## Issue
Unfortunately, I receive console errors about mismatching DOM nodes when using this approach together with SSR (Nuxt.js, **not** using `no-ssr` mode because SSR should work fine for components like this carousel).

![image](https://user-images.githubusercontent.com/640208/39311325-e8bdf014-496c-11e8-8fa7-9f3

[2018-04-26 14:24] #191 closed, assigned to nobody

[2018-04-26 14:27] manniL opened #192 "Feature request: Real SSR support"
Hey all!

## Issue

Currently, only the navigation arrows are rendered on SSR-side. (See #191)
This means all information inside the slider must be rendered by the client.
SSR should me mature enough to render the whole slider as well (except eventlisteners and DOM manipulation through `document ` or `window`).

## Feature Request

As SSR is increasing in popularity (10k stars for [nuxt.js](https:

[2018-04-26 15:12] quinnlangille commented on #192
Hey @manniL, this is a great request! SSR compatibility, as well as your other ticket (adding scoped slots -> #172) will be two of the major technical criteria we must complete before releasing `v1`.

I'm hopeful that we'll get some contributor traction on these issues. I'm going to release a roadmap document with our next release, which will hopefully make these requests more visible 🔍

[2018-04-26 15:15] quinnlangille commented on #190
Hmm ok that seems legit. I looks as if `slide` is not seeing the reference to `carousel`, I solved a similar bug in our JSfiddle examples and the culprit was an old `vue` version.. not 100% what could be causing here. Can you try rolling back vue-carousel versions until one works, that way we can better isolate the cause

[2018-04-26 15:41] kulaone commented on #190
Can I find old versions on CDN?

[2018-04-26 15:56] quinnlangille commented on #190
Yup, you can find any version here: https://www.jsdelivr.com/package/npm/vue-carousel

[2018-04-26 16:01] kulaone commented on #190
It stoped working on v0.7.0

[2018-04-26 16:12] quinnlangille commented on #190
Hmm that was when we added the `provider`/`injection` pattern vs using refs, and requires the vue bump. Was the same issue I was having, and the same error I was having with the JSFiddle problem. I'm not sure what `provider/inject` uses under the hood but maybe it has a compatibility issue with vue2.5

[2018-05-01 12:39] quinnlangille commented on #49
Though I wouldn't call it a full solution, @f4rr3ll1990's method is definitely a fix until we can get this working natively

[2018-05-02 05:49] zhiga90 commented on #188
v-if="images.length"

[2018-05-02 22:01] phaberest commented on #112
I'm trying to achieve the same goal, but as soon as I force it to a certain page, it immediately sets it back to the latest.

[2018-05-04 02:06] fmcdigital opened #193 ":navigateTo="newSlide" doesnt work with 5 or more slides per page"
If I change 5 slides per page for 4 or less, the `:navigateTo` prop works fine.

Here is my code, note that on *1024 width screen* it does not work because of the *5* slides.

[code]

[2018-05-04 08:57] yorrran commented on #184
Hey, will add goToPage(page) {
      ...
        this.autoplayInterval = 5000;
      }
    }, work for this issue? How can i test if it works fine locally after modification?

[2018-05-06 05:23] scroobius-pip opened #194 "Tab index for dynamically created carousel items are the same."
I'm trying to use vuetify cards with your carousel component.  The data shown in each carousel item is gotten with an API request. Like so

[code]

But this doesn't work. When i check the html i see this :
![snipaste_2018-05-06_06-22-25](https://user-images.githubusercontent.com/11554364/39670128-de24b314-50f5-11e8-978f-361472e158ec.png)

As you can see both items have tab index of -1 and have the

[2018-05-06 06:01] #194 closed

[2018-05-06 06:02] scroobius-pip commented on #194
sorry about that. I attributed a scrolling issue to this.

[2018-05-08 01:34] nchlodzi commented on #138
I run into similar issue while trying to use 3 slider components in one parent component.  My component looks like this:
![image](https://user-images.githubusercontent.com/16885110/39732107-b8d58990-526b-11e8-9dfb-39128f77e55b.png)
While page is loaded the first component with first set of tests are loaded correctly. But unfortunatly when i want to swich to other set of test ( by pressing button 2

[2018-05-08 02:29] lafeer opened #195 "Feature: Add Right-to-Left Support for scrolling"
Right-to-left support for slider. Currently, if the dir has been set to 'rtl', only the first slide is visible and you can't slide to the left where subsequent slides are being loaded. You can only scroll right onto blank slides.

Would be awesome to have this feature to cater to the Middle Eastern market!

[2018-05-08 03:18] DavidVII commented on #138
@nchlodzi this is indeed an unfortunate bug. I believe this may be solved with #172, but I'm not entirely sure.

I was able to get _some_ results with by setting the `VueCarousel-slide` style to this:

[code]

[2018-05-08 07:30] Mobeidat commented on #195
Yes please, it would be great to have it.

Thanks

[2018-05-08 14:29] quinnlangille commented on #195
Hey @lafeer that seems like an easy enough fix, just to confirm you'd like to see an `:rtl=true/false` prop which changes scrolling direction?

[2018-05-10 03:13] lafeer commented on #195
Yes, precisely! Thanks Quinn

[2018-05-10 14:53] narrative1st opened #196 "Feature Request: Pause between slide transitions"
It would be great if we could easily adjust the delay time between each slide transition. I can adjust the speed, but when I slow it down to the speed I would like, the transitions are stacked on top of each other.

A simple `:delay` prop in milliseconds would probably do it.

[2018-05-10 16:16] quinnlangille commented on #195
Cool! Going to switch this to a feature request

[2018-05-11 00:09] violetforest commented on #88
using the backticks breaks ie11. this worked for me:

`navigation-Prev-Label="<span class='sop-sr-only'>Prev</span>"   `

[2018-05-13 14:46] saraElsanan commented on #195
is this feature has been added ?? because it's not working with me

[2018-05-14 15:04] quinnlangille commented on #195
@saraElsanan no it hasn't been added yet, this is just a feature request asking for a contributors help in developing it. Once it's been added, I'll comment here and close this issue :~)

[2018-05-15 08:52] rizqirizqi opened #199 "Carousel dot: enable custom left top right bottom padding"
Currently available padding option:
`paginationPadding` which receives Number type

Enable custom padding with a different left, top, right, and bottom size.

[2018-05-15 15:43] nilsi opened #200 "Plugin/Preset files are not allowed to export objects, only functions."
Love this library, thanks a lot for the great quality!

I got a problem when HRM is hot reloading my app after I make a change. Im getting the following:

[code]

Any idea what I'm doing wrong here? I could share my component also if that helps and maybe my package.js file. Im on 0.7.3 of vue-carousel.

[2018-05-15 15:54] quinnlangille commented on #200
Hey @nilsi, you're getting this error and nothing is breaking on the carousel? Hmm.. Yeah if you could share your how your using the component and your webpack config that would be great

[2018-05-15 16:28] nilsi commented on #200
Yes carousel still working after the reload.

[code]

I  don't use webpack. I use MeteorJS which has its own build system.

[2018-05-15 16:39] quinnlangille commented on #200
Your carousel looks fine to me, so it's probably just a build config issue. I've never used meteor so won't be much help there, but you might also need to add `babel-preset-stage-1` and `babel-preset-stage-2`. Doesn't seem like they'll solve the HRM issue, but maybe we'll get lucky.

I'll flag this as help wanted in the mean time :~)

[2018-05-15 16:45] rizqirizqi commented on #199
oh, wait, I think we don't need a padding for every direction. so, my suggestion is to create an option only for left and right padding to give some space between two carousel items.

[2018-05-15 18:00] quinnlangille commented on #199
Oh, that actually already exists with `:spacePadding={num}`, it hasn't made it to the documentation yet though. I have a PR up adding the feature. Let me know if that works for you!

[2018-05-16 04:11] rizqirizqi commented on #199
Umm, sorry, actually I mean the padding is between two carousel dots. So yeah, my first suggestion is the right one. Maybe someone else needs to set the top and bottom padding with a different value than the left and right padding.

Current state:

With `:pagginationPadding="10"`
![image](https://user-images.githubusercontent.com/6806365/40095828-31c6ee06-58f8-11e8-9fd1-8dd6c2e6fb7a.png)

With `:p

[2018-05-17 07:47] yu-sungho opened #201 "Bug: IE11 is not working - needs investigation"
I don't know why ie11 is not working

[2018-05-17 14:03] quinnlangille commented on #201
Hey @yu-sungho, ie11 usually requires some extra effort with ES6 and front end frameworks. It seems we lost support for IE when we rolled up to `Vue@2.5`, so we likely will need to polyfill an unsupported tag or feature. I'll switch this to a bug report and see if anyone can help us out :~)

Thanks for reporting, if you fix it in the mean time feel free to open a pull request 💻

[2018-05-19 02:21] Nijhazer commented on #201
I've recently run into this issue on an app that uses Nuxt. As a workaround, we're running autoplay.js through babel-loader.

[2018-05-19 12:55] koddr opened #202 "Bug: Invalid character: '#' in :pagination-active-color"
Hello.

I have a bug with `pagination-active-color` attribute. My code is:
[code]
And console show me:
[code]
How to solve it?

[2018-05-19 15:27] quinnlangille commented on #202
That's a tricky one, as you seem to be doing this exactly right. Here is a demo of it working in the same way you've written above:

https://jsfiddle.net/ckd1vysd/5/

Maybe try and copy this code exactly into your application and move backward until you can either fix or recreate the problem. If you find that it's an actual bug, post back here and I'll open a bug request! I'd also like to hear abo

[2018-05-22 12:59] danpottshimself commented on #190
Still no fix for this? getting the exact same issue

[2018-05-22 14:14] quinnlangille commented on #190
It's looking like this is an issue with vue and ie11 - we upped our vue version with v0.7.0. It's likely that we'll just need to polyfill something, what that something is will require some investigation

[2018-05-22 14:15] quinnlangille commented on #201
Just a heads up, there was already a ticket open for this issue so lets continue any discussion on #190

[2018-05-22 14:15] #201 closed

[2018-05-24 17:07] delta9 commented on #202
@koddr Try

`            <carousel
              paginationColor="#d8d8d8"
              paginationActiveColor="#00d1b2"
              :perPage="1">`

[2018-05-27 13:22] VCodepp opened #203 "Question: How can I set an index slide?"
How can I adjust the slide index when the slider is created? I also called the discovery, but I could not find it.

I want to start from the second slide when I switch from one page to a slide.

I use vue-cli

[2018-05-28 12:22] alekpentchev commented on #158
If you don't mind I can take a look at this. Let it be my first open-source contribution. :)

[2018-05-28 12:54] alekpentchev commented on #158
I have found what's causing this issue. After the release of Windows 10 some fonts were changed.
Link to the issue here: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11844964/

Soon I'll create a pull request for this issue.

[2018-05-28 14:58] quinnlangille commented on #203
Hey @VCodepp, you can pass the `navigateTo` prop as `:navigateTo=1` to move to the second slide. It's not in the documentation yet, but you can find it in the prop listings in the `src/Carousel.vue`

Lemme know if that works!

[2018-05-28 16:35] alekpentchev commented on #131
Hi! Is this request still valid? If not I could work on it. :)

[2018-05-28 17:54] alekpentchev commented on #131
Your idea sounds good. It is good idea to create a method which receives content of a slide as a parameter.
I would like to ask what type of a parameter do we expect here? Is it string, image, html etc? What do you think?

[2018-05-29 03:01] quinnlangille commented on #158
Just released the fix for this, you can find it in `v0.8.0`! Thanks for reporting and contributing everyone 🎉

[2018-05-29 03:01] #158 closed

[2018-05-29 03:03] quinnlangille commented on #138
Hey guys, just merged in a recalculation of the carousel width provided by @nchlodzi - everything seems good on my end, but I was never able to recreate this bug on my own so I'm not the best judge 😅 Let me know if the problem is resolved and I will close this issue 🕵️

[2018-05-29 09:22] nchlodzi commented on #138
In my project vue-carousel in version 0.8.0 works great :) :) :). Hope it will work good for the others too :)

[2018-05-29 10:54] gmiserez commented on #45
Hi,

I am currently confronted with the same issue.
A solution in my opinion could be to use the index of the displayed item in order to only render the current image and the ones immediately on the left and right, like this:

`
<carousel :per-page="1"
:navigate-to="activeImageIndex">
	<slide v-for="(picture, index) in pictures">
		<img v-if="index >= activeImageIndex - 1 && index <= activeImageIn

[2018-05-29 13:58] tekbahadur1996 opened #205 "Slide size problem!!"
If content (images) are different in height then the height of carousel is the height of height of image which has maximum height. What if i want responsive carousel which changes its height with respect to its content.

[2018-05-29 14:15] quinnlangille commented on #190
@alekpentchev yeah I was in a similar situation when investigating this, it seems like a bit of a rabbit hole. If you come up with a solution feel free to open a PR and I can check it out, would be a huge boost towards v1.0 to have this fixed

[2018-05-29 15:39] alekpentchev commented on #190
Sure, I will think about it. If you or anyone else would have an idea, let me know.

[2018-05-30 04:50] carlosmtrinidad commented on #138
In my project with vue carousel v0.8.0 doesn't work.
I use it inside a modal (Bootstrap v3.3.7) and it renders a carousel with pictures. The issue is with the rendering as it is not shown at the beginning and can't get the carousel width.

I solved it clicking the first dot on the navigation as soon as the modal is shown. I know its not a fix but it's working.
[code]
After that the carousel get th

[2018-05-30 08:32] goors commented on #63
any update on this?

[2018-05-30 17:32] quinnlangille commented on #63
As mentioned above, the `:perPage=1` prop should do the trick

[2018-05-31 05:06] sprlwrksAprilmintacpineda commented on #78
[code]

[2018-05-31 09:42] DominusKelvin commented on #188
@zhiga90 Thanks for your solution, it works, could you explain the hack?

[2018-05-31 14:29] quinnlangille commented on #188
Good thinking @zhiga90! @DominusKelvin, all it's doing it conditionally rendering the carousel. Which suggests the bug is being caused when the carousel loads before the content. Knowing that this works, the fix should be simple. The ideal solution would likely be a watcher or computer property, but I think I would even be comfortable adding this conditional into the component itself.

Would anyon

[2018-05-31 18:34] xJREB opened #208 "Is it possible to hide/disable the navigation when only 1 slide is present?"
When only one slide is present in the carousel, no navigation is possible, yet the navigation/pagination is still displayed which is a bit confusing for the user. Is there currently a possibility to hide/disable it in this case? Great component btw, really like it. 👍

[2018-05-31 20:33] quinnlangille commented on #208
It sure is! You can pass `:paginationEnabled=false` to turn off the dots

[2018-05-31 20:33] #208 closed

[2018-06-01 10:54] toxicdog commented on #190
The slider works perfectly in Internet Explorer 11 with the Array.prototype.includes() polyfill.

Unfortunately, IE11 doesn't support translate3d(), so you'll have to change that for translate() too.

[2018-06-01 14:16] Exalax opened #210 "Invalid animation direction when 2 images and swipe"
Two things must happen:
1. Two slides
2. Swiping

Clicking to arrays is ok and produce right result
Browser independent

[2018-06-01 14:29] Exalax commented on #210
Confirmed to 0.8.0

[2018-06-01 14:45] quinnlangille commented on #210
Hmmm, this must have something to do with carousel width calculation. Any chance you can provide a jsfiddle or link to an example of this?

[2018-06-01 14:50] xJREB commented on #208
Thanks! For anyone wondering how I used this:

[code]

[2018-06-01 14:54] Exalax commented on #210
Sorry, my bad. No problem with library code.

[2018-06-01 14:54] #210 closed

[2018-06-04 10:48] omduel opened #213 "How to replace navigation button css selector?"
I would like to change the navigation button icon to picture instead.
I cannot replace it with such as ".VueCarousel-navigation-button" or "button.VueCarousel-navigation-button.VueCarousel-navigation-next.VueCarousel-navigation--disabled".
What did I mistake?

Thank you for your good component.

[2018-06-04 12:50] alekpentchev commented on #190
Thanks for giving feedback it works this way.
I've checked what causes that local dev server doesn't render properly (mentioned it before - promise polyfill required). I can confirm that it's vue-play's fault that we get white page.
When it comes to this issue with array method includes - it will be easy to overcome. But I'm thinking now how to fix this vuex polyfill issue before I can move forwar

[2018-06-04 14:42] quinnlangille commented on #213
Hey @omduel - there's no native way to do this yet, but you'll find a few workarounds in #88

Going to close this in favour of that, if you have in questions feel free to continue the conversation there :~)

[2018-06-04 14:42] #213 closed

[2018-06-06 19:54] PawelDmochowskiDRAST opened #215 "Bug: Empty slides at the end of carousel"
When carousel is set to per-item scrolling manual navigation on last page and autoplaying has to scroll through every visible item even when it does not affect the position of the carousel.

For example:
- carousel has 10 slides
- **perPage** is set to **6**
- **scrollPerPage** is set to **false**
- **loop** is set to **true**
- **navigationEnabled** is set to **true**
- navigating "next" scrolls

[2018-06-06 20:33] ERPedersen commented on #184
I can have a fix for this ready for this soon

[2018-06-06 20:38] quinnlangille commented on #184
@ERPedersen that would be great! Looking forward to the PR :~)

[2018-06-07 09:12] ysaaron opened #217 "`navigateTo` wasn't working if starting from 0 slide"
I found if I started with 0 slide, changing `navigateTo` after adding 3~4 slides(by default 2 slides per page), but carousel didn't scroll to page 1

The following example is modified from `play/index.js` `Dynamic, add or remove slides"`
[code]
[code]

[2018-06-10 02:02] Geew opened #218 "option loop not working"
`<div class="box">
        <carousel :loop="true" :scrollPerPage="true" :perPage="2">
          <slide>
            <img width="160" height="220" src="https://myanimelist.cdn-dena.com/r/160x220/images/anime/1337/91798.webp?s=ae78b63496d38c7e812dfe91f4c38930">
          </slide>
          <slide>
            <img width="160" height="220" src="https://myanimelist.cdn-dena.com/r/160x220/images/anime/

[2018-06-11 02:47] jordanramstad commented on #192
I have played with the idea of adding it but noticed something. The package itself does hook into the correct lifecycle hooks for SSR, so it "should" work.

However it does not and complains about a use of `document`. I was not sure how to setup an environment to test so I just copied the src directory into another project and built carousels in an SSR app..... and it worked fine in SSR.

It seems

[2018-06-11 06:43] rukshandangalla commented on #21
Thanks a lot @ashwinkshenoy.
I just figured out even you can use font-awesome icons like this:
:navigationNextLabel='(back_tick)<i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>(back_tick)'
:navigationPrevLabel='(back_tick)<i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>(back_tick)'

[2018-06-11 07:07] manniL commented on #192
@jordanramstad I've seen some issues with SSR (Nuxt.js in particular) as the SSR and CSR HTML does not match. This results in awkward "glitches", showing the slider once and the navigation labels a second time below.

[2018-06-11 18:21] jordanramstad commented on #192
@manniL Yes, the reason for that is if things run in the mounted function, and add elements that is not represented through virtual dom (jQuery for instance). So when vue finishes initializing, those changes are not "tracked" so it ignores them and if a change happened to the element, it would just duplicate it since it does not know the context of the other element. At least that is my understand

[2018-06-12 01:00] agtoncerqueira opened #219 "Dynamic Slide with two columns don't work very well"
I've trying to do a dynamic slide with two columns separate each one, but the main div size render small, when I click on slide or resize the window the div become with your normal size.
Use inspector to analyze, i realize that class .VueCarousel-inner begin with this value "flex-basis: 810px"  and after resize widow it change to "flex-basis: 1140px".
Here is my code:
[code]

I think that problem

[2018-06-12 09:31] daniwp commented on #77
@quinnlangille I don't believe this works. I have tried doing what you suggested but without success.

[2018-06-12 15:11] donaldr commented on #203
It doesn't work for me

`
<carousel :perPage=1 ref="rCarousel" class="quotes" v-on:pageChange="pageChanged" paginationActiveColor="#b50101" :minSwipeDistance=12 paginationColor="#444444" :paginationPadding=20 :paginationSize=20 :navigateTo=2>
`

Carousel stays at index 0.

[2018-06-12 15:40] quinnlangille commented on #203
Hmm just tested it and you're correct! Seems like there is a bug in the prop. I'll open a ticket to resolve it :~)

[2018-06-12 15:42] quinnlangille opened #220 "Bug: NavigateTo prop is not working as expected"
When defining a carousel with a default `:NavigateTo={index}` prop, the carousel should start on the given index.

[2018-06-12 15:46] quinnlangille commented on #217
Hey! There appears to be a bug in NavigateTo, I've opened a ticket for it's resolution here #220. Feel free to continue the conversation there, will close this in the mean time :~)

[2018-06-12 15:46] #217 closed

[2018-06-12 15:46] quinnlangille commented on #203
I've opened a ticket for it's resolution here #220. Feel free to continue the conversation there, will close this in the mean time :~)

[2018-06-12 15:46] #203 closed

[2018-06-12 15:53] donaldr commented on #203
Thanks!

On Tue, Jun 12, 2018, 11:46 AM Quinn Langille <notifications@github.com>
wrote:

[2018-06-13 10:59] Stexxe commented on #178
I think this is solution to this issue https://github.com/SSENSE/vue-carousel/pull/221, but I am not sure.

[2018-06-13 14:20] NickMcBurney commented on #181
@quinnlangille I've tried removing the check within /node_modules/vue-carousel/dist/vue-carousel.min.js - by removing `this.isTouch||` shown in screenshot below:
![image](https://user-images.githubusercontent.com/6604187/41354026-d866c51e-6f15-11e8-815e-c1212b560920.png)

This seems to work on my Android phone (Essential PH-1) but not on iPhone 6

There is a pull request for adding the functionali

[2018-06-13 23:11] mkegoldberg commented on #202
I had the same issue but removing the colon worked for me

[2018-06-17 22:11] gabdel1 commented on #188
@zhiga90 Brilliant hack. Works like a charm.

[2018-06-18 14:30] quinnlangille commented on #181
Hmm yeah I can look at refreshing that PR, is really out of date but could be worth looking into. I'll check it out later this week!

[2018-06-18 15:26] furyscript opened #223 "Question: How can I add custom transition effects?"
Is it possible to set custom effect like a simple `fade` and not just css default transition?

[2018-06-20 08:41] furyscript opened #224 "Two carousel into one page with nuxt"
I have a problem with nuxt:

If I use two carousel into one page, I get this error
`you may have an infinite update loop in a component render function`
And the first carousel doesn't have correct width/height

The template is like:
[code]

[2018-06-22 13:54] quinnlangille commented on #224
Hmm, I'm not 100% familiar with nuxt. There are many cases of multi-carousel working over SSR though, so there's a way this will work! I'll flag this and see if someone can offer some help

[2018-06-22 13:58] quinnlangille commented on #223
Yeah! There is a `transitionEnd` and `transitionStart` hook that you can trigger an animation from. The documentation hasn't been updated with these features, but you can find them here: https://github.com/SSENSE/vue-carousel/blob/e871a2aaec8deec8ee79e399e574c7468a5d2a4f/src/Carousel.vue#L625

[2018-06-22 14:45] furyscript commented on #223
Can you explain me this with an example?
I want to change effect when user click pagination dots.

[2018-06-25 05:20] speir-wang opened #226 "Question: How to retain the slide pagination position?"
For example, I have 5 slides on the home page, each image per slide, and I move to the third slide and go to another page, I want to see that the carousel is still showing the third slide when I come back to home page.

I tried to wrap the carousel component within a keep alive tag, that didn't work. I didn't enable autoplay either (btw, I saw someone mentioned that autoplay, but I didn't see that

[2018-06-25 10:39] bartdominiak commented on #203
You can just add this:
[code]

[2018-06-26 15:47] quinnlangille commented on #196
Hey @narrative1st, missed this issue notification! I'll flag this as a feature request, seems like it should be pretty simple :~)

[2018-06-26 15:49] quinnlangille commented on #193
Hmm, this sounds like something to do with the slide width logic, I'll flag as a bug thanks for reporting!

[2018-06-26 15:51] quinnlangille commented on #218
Hey @Geew, loop's working fine for me! Mind sending over a JSfiddle reproducing the error?

[2018-06-26 15:52] quinnlangille commented on #219
Hey @agtoncerqueira, are rendering these carousels on the server or the client? I've seen a similar issue with SSR but never with regular rendering

[2018-06-26 16:17] quinnlangille commented on #223
There is actually an example already in the codebase, if you run teh vuePlay dev server you'll see an alert firing on transition in one of the examples. You can find the code for that in play/index.js under the proper title

[2018-06-26 16:20] quinnlangille commented on #226
You could potentially save the pagination number into state or pass it thru your router and feed it to the `:navigateTo=` prop if the value in state exists. There are probably some other ways to make this happen, but that's my first thought. Lemme know if you find a solution!

[2018-06-26 17:04] bakuryuthem0 opened #229 "Question: How do I dynamically change autoplay? The prop does not stop it"
I have this carousel

`    <carousel :loop="true" :per-page="1" :autoplay="doAutoplay" :autoplay-timeout="4000" :pagination-enabled="false" :mouse-drag="false">`
   ` ...Here are a bunch of slides`
    `</carousel>`
i have a button that toggle the `doAutoplay` for the `autoplay` prop, in the beginning it contains true. the problem is, when the `doAutoplay` is toggle, the autoplay does not stop, bu

[2018-06-26 19:47] quinnlangille commented on #215
Hey @PawelDmochowskiDRAST, this should be addressed with the latest release `v0.9.0`. Lemme know if it fixes it!

[2018-06-26 19:48] quinnlangille commented on #220
This has been resolved by #222!

[2018-06-26 19:48] #220 closed

[2018-06-26 19:53] quinnlangille commented on #229
Hey @bakuryuthem0, mind trying this with 0.9.0? We just release it, and it has a reset feature on hover that might make this work. Otherwise, it looks like it'll require a custom watcher

[2018-06-26 19:54] quinnlangille commented on #202
Hey good find guys, I'll flag this as a bug request and see if we can get it resolved :~)

[2018-06-27 07:05] furyscript commented on #223
Ok I see, but how can I add my custom keyframes / class to element and remove the default transition style?

[2018-06-27 07:48] terryds commented on #81
No update?

[2018-06-27 13:30] satuweb commented on #218
Doesn't work for me

[2018-06-27 13:48] quinnlangille commented on #218
Ah yeah, @satuweb is right I didn't see your last bit about the drag. Maybe that could be a useful feature, but it would require a pretty large rework of the drag/loop function

[2018-06-27 13:49] quinnlangille commented on #81
@terryds no PR has been opened addressing full SSR support yet, is the above workaround not working for you?

[2018-06-27 13:59] #146 closed

[2018-06-27 13:59] #160 closed

[2018-06-27 14:50] terryds commented on #81
@quinnlangille it's working without SSR

[2018-06-29 07:33] rosshulford commented on #188
Works great for me.

[2018-07-01 23:04] codenamics commented on #68
up

[2018-07-02 09:14] PawelDmochowskiDRAST commented on #215
Actually the result is... worse (using the same setup as described).
Now after navigating 4 items right subsequent 3 item insert empty slides from the right side before finally looping back to start.

Expected behavior would be:
- N - number of slides
- P - current page length
After navigating to slide N-P (0-based) subsequent navigation to next should loop.

[2018-07-02 13:50] cicsolutions opened #230 "Loop option missing from API Documentation"
Hi, I just wanted to note that the github instructions DO mention the loop option, however the API docs DO NOT mention the loop option.
https://ssense.github.io/vue-carousel/api/

Thanks for such a great component, and all that you do!

[2018-07-02 14:57] jorgvm commented on #224
I'm not having this problem with Nuxt. I'm loading the carousel with nuxt.config:

`plugins: [
    {
      src: '~/plugins/vue-carousel.js',
      ssr: false
    }
  ],`

In vue-carousel.js:

`
import Vue from 'vue';
import { Carousel, Slide } from 'vue-carousel'

Vue.component('carousel', Carousel);
Vue.component('slide', Slide);
`

and on my page I just use <carousel>, without declaring in Compo

[2018-07-02 19:00] manniL opened #231 "Bug: Last slide is skipped on low resolution"
Version: 0.9.0

Steps to reproduce:

* Add slides
* Show carousel on low resolution
* Scroll with navigation (dragging works somehow)
* See that the last slide is ignored

In version 0.7.3 this does not happen.

[2018-07-03 14:14] satuweb commented on #148
I need the same issue, I would display two row of items (6 per page). I try to set flex-wrap on VueCarousel-inner module, but dosn't work. Have you got any suggestions? @quinnlangille
thanks!

[2018-07-03 14:17] satuweb commented on #218
@quinnlangille Ok! No problem, I will live yet :-)

[2018-07-03 19:35] subhash-velou opened #232 "Clicking on a slide from last page jumps carousel to previous page"
https://jsfiddle.net/bojn4dz4/164/
1. Navigate to the last (4th) page.
2. Click on any slide (e.g. 8, 9, 10)

Observe carousel jumps automatically to the page before last (3rd).
version: 0.8.1

[2018-07-04 01:51] subhash-velou commented on #232
Looks like this issue is fixed in 0.9.0.

[2018-07-04 01:51] #232 closed

[2018-07-04 19:03] Ohar opened #233 "Bug: wrong slide width on first init"
Version: **0.9.0**

# Description
Slides has wrong width on first init.

It looks like reason of this is calculating slides width right after component init, when fonts are not loaded yet.

## Screenshot

![Screenshot](https://camo.githubusercontent.com/ced4fb34807e9ac6f781bb87e6a1ccd14b955123/68747470733a2f2f7075752e73682f4151554b532f323764653733333464342e706e67)

# Steps to reproduce
1. Open [`d

[2018-07-04 20:37] quinnlangille commented on #233
Hey @Ohar, great reporting! I'll mark this as a bug report and see if we can get someone to submit a fix! We're currently working on the way slide/carousel width is calculated, so if this is effected by the changes I'll make sure to report here :~)

[2018-07-04 20:41] quinnlangille commented on #148
As I mentioend above, a custom component being fed into the slide should work - something like

[code]

This is one of many ways you could achieve this effect, but it would cause a reorganization or maybe a computed property to transform the data. I'll be happy to see what solution you'll think of, if it's cool post it back here and I can include it as an example!

[2018-07-04 20:43] quinnlangille commented on #231
Hey @manniL, by low resolution do you mean on a certain display? Or at a certain width? Can you provide an example of this happening? Thanks!

[2018-07-04 20:44] quinnlangille commented on #230
Yeah that has been in the plan to add that to official docs for weeks now and it keeps getting pushed back, thanks for reminding me!

[2018-07-04 20:45] quinnlangille commented on #215
Hmmm, can you link me to an example of what you're seeing? Just so we're on the same page. I'll issue a bug fix request once I have an example to post!

[2018-07-04 20:47] quinnlangille commented on #68
Hey guys, we actually do have a `spacePadding` prop that adds padding between slides. I'm aware it's not the same, but it can achieve a similar look if that's all that's required. Otherwise adding the margin would be easy enough, will just need someone to submit the PR!

I'll make this as a good first feature to try and get some traction

[2018-07-05 06:41] manniL commented on #231
@quinnlangille Sorry for the "vague" description. It happened on mobile screen size, so I guess it's related to the width. Will set up a reproduction repo as soon as I can.

[2018-07-05 07:08] PawelDmochowskiDRAST commented on #215
Sure.

https://codepen.io/PawelDmochowski/project/editor/AyMxVN

[2018-07-05 13:51] quinnlangille commented on #231
No worries! I'll once I have the repro it'll be much easier to figure out the issue ~ will flag this as a bug in the mean time

[2018-07-05 16:19] wibleh commented on #226
Something like:

[code]

and

[code]

(quick code, not tested, assume vuex with no getters etc)

[2018-07-05 19:43] quinnlangille commented on #226
Yeah, that's exactly what I was thinking @wibleh. Maybe I'll add an example of that with the next update

[2018-07-06 02:29] speir-wang commented on #226
Thanks @wibleh @quinnlangille, I have the basic idea now :) Will try that out.

[2018-07-06 10:16] wibleh commented on #226
@speir-wang Hope it helps - if it works please look at adding an example to the carousel docs and create a merge request :)

[2018-07-08 09:56] christopherkade commented on #196
I'd love to tackle this as my first issue!
Although can you please clarify if I understood the issue correctly?

After setting the speed to 5000ms I get the following result:

![vuejs_carousel](https://user-images.githubusercontent.com/15229355/42418676-232e1544-829d-11e8-8f1d-974c93b655a8.gif)

Where transitions are interrupted before they get to finish by any type of navigation on the carousel.

[2018-07-08 14:14] quinnlangille commented on #196
Hey @christopherkade, thanks so much for tackling this one! The way I initially understood the request was to have a full pause between transitions. But now that I've seen your example (which I really thank you for including!) I think I was mistaken.

Maybe @narrative1st would want to weigh in, but to me, this seems like we want to delay the next transition from starting to respect a really slow s

[2018-07-09 10:17] christopherkade commented on #196
Would that feature truly be useful? Why would a user prefer to delay the next transition by Xms instead of delaying it until any previous animations are completely done?

Wouldn't a `delay` boolean prop doing the latter be of better use?

[2018-07-09 14:00] quinnlangille commented on #196
Yeah I probably could have written that better - I'm suggesting we add a delay following all animations, i.e:

if user clicks on slide with delay set to 1000ms, animation begins but lasts 2000ms. The current functionality makes the delay useless, since it has already finished before the animation ends.

Ideally, we'd let the animation finish and _then_ trigger the delay. Did you have something els

[2018-07-09 16:49] narrative1st commented on #196
Thanks for looking into this. What I was looking for was to be able to set a length of time in-between each transition. I was looking for slower transitions from one group of slides to the next. With the current implementation, the slower speed looks great - but then it just starts the next animation with no ability to give the viewer time to see the new set of slides.

Let me know if this makes s

[2018-07-10 11:32] danielwinther commented on #112
Looking at https://github.com/SSENSE/vue-carousel/pull/108, **ken_mills**'s answer worked for me.

[2018-07-10 11:40] wk93 commented on #215
I have same problem on SSR.

[2018-07-10 17:36] quinnlangille commented on #215
Switched this to a bug report, thanks for the repro!

[2018-07-11 01:10] normann commented on #196
OMG, finally find the feature is discussed here. Yes, I am using it to show a series of alert messages in a carousel way, the problem from my client's eyes is the message showing there and stay still between animation end and animation start is too short. This is not related to transit speed, it is a simple issue for how long that one slide could stay still, I've been playing and changing the spee

[2018-07-11 10:25] KonradHEXANT opened #234 "Wrong width of slide, if there is less slides than defined columns"
I've got slider set up to 4 columns on large screen, but content is based on array of variable length.
If there are 4 or more items, width of each item is OK, but when number is lower than 4, then each element takes equal part of carousel. This is especially an issue when there is 1 element with fluid photo - it gets HUGE.

Right now the only fix is to add container for each slide with css `max-wi

[2018-07-11 11:45] christopherkade commented on #196
Okay, this is more clear.

_Here's an example scenario of my understanding:_
The carousel is on autoplay mode with a speed of 1000ms and a delay of 1000ms. It would animate the transition in 1000ms then wait 1000ms and then start the next transition.

This makes much more sense, I'll look into how I could implement it, but if you have any recommendations as to how I should operate in order to deli

[2018-07-11 18:04] quinnlangille commented on #234
Hey @KonradDeskiewicz, any chance you could submit a reproduction of that? A link to a test repo or a jsFiddle? I think I've seen a similar thing happen before, but just wanna make it easier for contributors to see the bug.

It sounds like you're right in thinking flex-basis is the culprit, I'll flag this as a bug to see if we can get some contributors to help. If you end up  fixing it yourself, f

[2018-07-13 09:57] dvasyliev opened #235 "Dragging, navigation and pagination events"
Hi,
will be nice if you will add list of events (it's really necessary):
**Dragging**
- drag-start
- drag-end
- dragging (it could be)

**Navigation**
- previous
- next

**Pagination**
- page-change

I think It's not difficult to add $emit line with params in some methods

[2018-07-13 09:57] #235 closed

[2018-07-13 09:59] dvasyliev opened #236 "Dragging, navigation and pagination events"
Hi,
will be nice if you will add list of events (it's really necessary):
**Dragging**
- drag-start
- drag-end
- dragging (it could be)

**Navigation**
- previous
- next

**Pagination**
- page-change

I think It's not difficult to add $emit line with params in some methods

[2018-07-13 11:52] dvasyliev opened #237 "Empty slides on the last page"
When I have 10 slides which should show per 3 on the each page, I see only one slide on the last page. In the version 0.7.1 all works fine!

Fox example its my slider with slides on the each page:
page 1: [0, 1, 2]
page 2: [3, 4, 5]
page 3: [6, 7, 8]
page 4: [9, _, _]

Is should be like this on the 4th page:
page 4: [7, 8, 9]

When I haven't enough slides for last page, I should see few slides fro

[2018-07-13 11:55] pashamareev opened #238 "SSENSE generates additional blank page"
So, I have tried to use basic example of your carousel and got a weird problem: it seems like additional blank page is generated.  I have 5 items and 4 items per page option. My code:
[code]
TestCueCarousel.vue

[code]

Output: https://prnt.sc/k60wpk

I do not want any empty items, I always want to have 4 items on per page. What am I doing wrong?

[2018-07-13 11:57] dvasyliev commented on #237
[Here](https://jsfiddle.net/k18Laxhv/) is example
P.S. Go to the last page

[2018-07-13 12:08] dvasyliev commented on #237
It's [example](https://jsfiddle.net/nxym5gjz/) from version 0.7.1 where on the last page I can see correct slides. But, there are some strange behavior, on the last page I see [7, 8, 9] slides, but when I go to the previous page I see [6, 7, 8] slides, will be better show [4, 5, 6] slides.
Logic in that, when you will able show 3 next/previous slides - you show! When there are less then 3 slides o

[2018-07-13 12:54] quinnlangille commented on #238
Hey @pashamareev, this is a bug that was introduced with the last update. There is an open issue for it's resolution that you can follow here -> https://github.com/SSENSE/vue-carousel/issues/215

Going to close this in favor of that, but feel free to move your comments over there :~)

[2018-07-13 12:54] #238 closed

[2018-07-13 12:55] quinnlangille commented on #237
Hey @dvasyliev, thanks for detailed reporting! This is actually a bug that was introduced with the last update. There is an open issue for its resolution that you can follow here -> #215

Going to close this in favor of that, but feel free to move your comments over there :~)

[2018-07-13 12:59] quinnlangille commented on #236
Hey @dvasyliev, I've been working on a documentation update for quite a while that will cover all the new events being added. It's tough, because work happens so fast on the carousel lately that I always find my new documentation going out of data lol I'll try to prioritize an update this weekend.

Following the update to the docs, we're going to require a strict documentation update with added fe

[2018-07-13 13:01] dvasyliev commented on #237
@quinnlangille sure!
Hope you will fix it as soon as possible :)

[2018-07-13 13:02] #237 closed

[2018-07-13 13:03] quinnlangille commented on #237
Yeah there are a few people who have already mentioned they're working on solutions, so we'll hopefully see some contributions for it over the weekend

[2018-07-13 13:10] dvasyliev commented on #236
@quinnlangille thanks! You do good job)

[2018-07-13 21:08] GummyVites opened #239 "Any way to move the pagination onto the Carousel?"
looking through the docs I couldn't find anything for this.

 Tried:
`  .VueCarousel-pagination{
    position: absolute;
    margin-bottom: 20px;
  }`

[2018-07-15 07:59] gomezmark opened #240 "Manual Control"
Is there a way to have a manual control like buttons?
Then, I want to jump on page 3 for example?

Thanks.

[2018-07-15 13:37] dvasyliev commented on #240
@gomezmark you should define ref attribute on the carousel
`<carousel ref="carousel"></carousel>`
and use goToPage function
`this.$refs.carousel.goToPage(3)`

[2018-07-15 13:40] dvasyliev commented on #240
Also you can get previous, next, current page or perPage
`const perPage = this.$refs.carousel.perPage`
`const current  = this.$refs.carousel.currentPage`
`const previous  = this.$refs.carousel.getPreviousPage()`
`const next  = this.$refs.carousel.getNextPage()`

[2018-07-15 14:59] quinnlangille commented on #240
Yeah @dvasyliev is right! There is actually an example of adding "go to page x" buttons on the vue-play instance when you spin up the dev server :~)

[2018-07-15 15:01] quinnlangille commented on #44
Hey guys, forgot to update this issue - we added this feature a while ago, and there are .slide-active and .slide-center classes added to visible slides!

[2018-07-15 15:01] #44 closed

[2018-07-15 15:04] quinnlangille commented on #239
Hey @GummyVites, we don't have a native way to do this but it should definitely be possible with CSS, either by adding a class to the carousel as mentioned in #14, or by hijacking a class like you've attempted.

I'd guess that it's not working due to a scope issue, maybe try adding an `!important` flag, or being more specific with your selector

[2018-07-16 01:36] hang15 opened #241 "Bug: Carousel Does not Reset To show all slides when windows is resized."
I created a carousel with the following properties
[code]
and 4 square slides of fixed size 130px.

First I resized the window to show only one slide and navigate to the last slide.
Then I maximized the window.
The carousel is stuck at showing only the last slide and unable to advance backwards with the pagination keys.

[2018-07-16 15:12] quinnlangille commented on #241
Hey @hang15, this seems to be working fine for me. Can you send a jsFiddle or a link to an example of it happening so we can take a look? Thanks!

[2018-07-17 13:35] adambartosiewicz opened #242 "Navigation arrow does not fade on last slide"
It looks like the right arrow of pagination does not fade anymore when on the last slide. The occurs in the latest (0.9.0) version. When switched  to 0.8.1 it works as expected.

[2018-07-17 14:54] jorgvm opened #243 "Bug: When scrolled to last item, click anywhere returns carousel to previous page of slides"
Hi,

Let's say you always show 3 items per slide, and you have 4 items in total. If you show the 4th item, and then click anywhere on the slider, it will return to show the 1/2/3 items.

Here is an example:
https://jsfiddle.net/mfvcu82y/

This is strange, and does not happen if you had 5 items in total:
https://jsfiddle.net/mfvcu82y/3/

I would like to be able to turn his bug/feature off please!

[2018-07-17 15:01] quinnlangille commented on #242
Hey @adambartosiewicz, this is related to #215. A bug with slide count calculation was introduced with an update. Going to close this you can follow the progress and post any findings there! Thanks

[2018-07-17 15:01] #242 closed

[2018-07-17 15:02] jorgvm opened #244 "Dragging glitch / jumps back if there aren't enough items to show"
Hi,

take this example:
https://jsfiddle.net/mfvcu82y/7/

Groups of 3 items are shown, there are 7 items in total.
The first time, when I drag from the far right to the left, the next group (4,5,6) is shown beatifuly.
But the second time, halfway through my dragging to the left, the carousel suddenly jumps back (because there aren't more items to show)

It would be nicer if it allowed you to drag

[2018-07-17 15:04] quinnlangille commented on #243
Hey @jorgvm, this is definitely a bug. No idea what could be causing it at first glance, so will take some investigation. If you happen to find a workaround, feel free to make a PR or post your solution here :~)

Thanks for reporting, I'll flag this as a bug fix and see if we can get some contributor traction.

[2018-07-17 15:08] quinnlangille commented on #244
Hey @jorgvm, this is just how our dragging works currently. I agree that a feature to toggle a `endless-drag` or something similarly named would be interesting.

I'll change this into a feature request!

[2018-07-18 11:00] devd251993 opened #245 "pageChange event giving payload as undefined."
I want to display current image number, that user is watching. I have included buttons, on clicking then image number changes. I am trying to listen pageChange event, which should give me current page number. The vue-dev tools event tab showing me correct payload, but when I try to access it in my code, the value of payload is undefined.
My configuration is as follows:
 "vue": "^2.5.7",
 "vue-caro

[2018-07-18 13:14] quinnlangille commented on #245
Hey @devd251993, at first glance I'd try changing the case of the event to all lowercase `@pagechange` vs `@pageChange`. That could be causing the issue.

If that doesn't work, there's an example of this event in our `vue-play` instance that is working, here's the source for it:

[code]

You can also find this example running on the dev server of the project at `localhost:5000`.

If after taking a

[2018-07-18 14:18] devd251993 commented on #245
@quinnlangille  Thank you for reply. The case change does not work. There was error in my code only.
I changed `@pageChange="updateNavigationNumber(number)" `to `@pageChange="updateNavigationNumber"` and it worked. And also in play example `@pagechange` wont work. After changing it to `@pageChange`  I started getting logged values.  For `@pagechange`  I got following error
![image](https://user-im

[2018-07-18 14:18] #245 closed

[2018-07-19 22:12] toddgroff commented on #215
I just submitted a PR #246 to fix this issue.

[2018-07-20 10:45] hitozz opened #247 "Bug: IE11 specific: Carousel examples are missing"
https://ssense.github.io/vue-carousel/examples/

Reproduced on Win10, IE11

See screenshot: https://i.imgur.com/dWU264W.png

[2018-07-20 14:55] quinnlangille commented on #247
Hey @hitozz, our examples are just embeds of JSfiddles, so unfortunately I think it's an issue on their end. I'll check our github page branch and see if I can play with the babel config, but I doubt the issue is in transpilation

[2018-07-20 18:31] hitozz commented on #247
Thanks @quinnlangille !

[2018-07-21 06:00] gomezmark commented on #240
@dvasyliev

Thank you for you answer.
but the .getNextPage() is not working on my end.
It returns the next page index.

But what I did is like this.
[code]

[2018-07-21 08:49] daanhaitsma opened #248 "Feature: Control carousel by keyboard"
I would like to see an option to control a carousel by keyboard, for example with the keyboard keys.

[Some example code](https://stackoverflow.com/questions/28856300/owl-carousel-keyboard-navigation)

[2018-07-21 15:56] quinnlangille commented on #215
Releasing the fix shortly, just merged and testing now. As an aside to this, I'll likely add to the roadmap to beef up our testing in this area, so we don't have this kind of thing happen again. If anyone's interested in helping with the tests (because you like writing them, or want to learn more about them), feel free to write here, here -> #143,  or email me at quinn.langille@ssense.com!

[2018-07-21 16:11] quinnlangille commented on #248
Hey @daanhaitsma, this is a good idea! I'll move it to a feature request, should be pretty simple to use. The UX side of it might be a little more difficult, so whoever decides to take it on maybe send me an email first -> quinn.langille@ssense.com

[2018-07-21 16:13] quinnlangille commented on #247
Just released a polyfill that should cover some IE compatibilities, I don't have any wayt o test on IE so if you get a minute would you mind taking a look to see if that fixed it @hitozz - otherwise, it's an issue on JSFiddles end

[2018-07-21 16:14] quinnlangille commented on #215
Released with v0.10.0 - https://github.com/SSENSE/vue-carousel/releases/tag/v0.10.0

Thanks so much to everyone for reporting and especially to @toddgroff for the fix! If there are any outstanding issues that were resolved with this fix, feel free to open a new issue :~)

Going to close this one now, great work everyone 🎉

[2018-07-21 16:14] #215 closed

[2018-07-21 21:03] daanhaitsma commented on #248
Glad you like it as well!

Indeed, the functionality shouldn't be too hard to implement. Only think I couldn't wrap my head around is when to activate, for example in a situation with multiple sliders on a page.

[2018-07-23 02:03] stephwestgarth opened #249 "Bug: Right click event triggers screen drag event listener"
Hi there,

Interesting bug here; if you right click on an element in a slide, when you close the dialog, it will react as if you are trying to do a touch move event. It doesn't matter if you click any option like "open in new tab" or just somewhere else on the page, it doesn't stop registering the click and treats it like a touch move event. Demonstrate-able on the Vue Carousel demo page: https://

[2018-07-23 08:14] hitozz commented on #247
Checked on IE11.
Still not fixed. Looks like this should be addressed to JSFiddles.

https://i.imgur.com/0407Kmg.png

Thanks for your effort anyway! @quinnlangille

[2018-07-23 08:14] #247 closed

[2018-07-23 09:40] hitozz opened #250 "BUG The carousel shifts to the right if slides have at least 1px border."
Steps:
1. Go to Examples page: https://ssense.github.io/vue-carousel/examples/
2. Navigate to the last slide
3. Add border: 1px solid #000; to the .VueCarousel-slide {

Actual result: carousel has shifted to the right.

See screenshots:
https://i.imgur.com/tAsJCv4.png
https://imgur.com/a/hIplEys

[2018-07-23 15:50] quinnlangille commented on #249
That's definitely a weird bug lol seems like it would be a good first fix for a contributor - I'll flag it now! The issue is likely just an conditional that is too broad somewhere, or an improperly destroyed event listener.

Thanks for reporting! :~)

[2018-07-23 17:34] quinnlangille commented on #250
I think this is to do with adding border through the inspector. As the carousel width is calculated on render, changing the border will add 2px to each slide, without recalculating the width of the carousel.

If you add the border in your CSS and properly re-render, it will likely work out fine!

[2018-07-23 19:09] #250 closed

[2018-07-25 18:55] hdkcreative opened #251 "Bug: slideClick events not firing"
we tried to add the link to any web page different by slide..

but is not working..

we code 👍

what is wrong ?

what additional file is required ?

we add the @slideClick="handleSlideClick"  in  <slider..  but  this not work

[code]

[2018-07-26 07:21] pratiksingh05 commented on #251
@hdkcreative Hi, I achieved that see below this code

 <carousel   :perPage="1" :navigationEnabled="isArrowToggle" :rtl="false"
                  :scrollPerPage="true" :autoplayTimeout="5000" :autoplay="true" :mouse-drag="mouseDrag"
                  :loop="true"  @pageChange="onPageChange" >

To add @pagechange event on carousel and in JS side:

 onPageChange: function (val) {
       var currentI

[2018-07-26 14:09] quinnlangille commented on #251
Hey @hdkcreative, just test and it seems there is a bug with `slideClick` at the moment. Based on the issues we usually get, it's not a hugely used feature and we're missing tests for it so not 100% when it was introduced. I'll switch this to a bug fix request, and see if we can get it fixed

In the meantime, does @pratiksingh05 solution help you out?

[2018-07-26 14:17] pratiksingh05 commented on #251
@quinnlangille Yes! it'll work for me so definitely it'll work if he implements.

[2018-07-26 15:51] hdkcreative commented on #251
hi @pratiksingh05 pratiksingh05 , you can add your code a fiddle or codepen for example please ?

[2018-07-26 15:52] hdkcreative commented on #251
thank you @quinnlangille , we  can wait for this ! :)

[2018-07-27 18:52] ERPedersen commented on #251
I am unable to reproduce this error using the above code. The events are working as intended for me. I have tested in Chrome, Firefox and Edge on a Windows 10 machine.

Can someone provide a fiddle with an example?

[2018-07-27 20:02] hdkcreative commented on #251
(hi @ERPedersen , thank you for response, you can check the code in   [](https://codepen.io/hdkcreative/pen/wxrLop)
)
wait your response please ;)

[2018-07-29 13:19] Gagydzer commented on #234
Looks like it's because the slideWidth computed prop is calculating based on a min value of  currentPerPage and slideCount.

[2018-08-01 17:32] VipPhilstar commented on #233
same issue

[2018-08-02 10:04] askdesigners commented on #66
Any progress on this one in a recent release?

[2018-08-03 14:08] HelgeSverre commented on #60
@ShaunEgan  Try the Vue portal plugin to render the modal outside of the carousel slider.

[2018-08-04 03:10] agtoncerqueira commented on #219
Hey @quinnlangille I'm rendering from the server, but i don't know what happened everything is working well again...
The Config is the same, I just added ":paginationSize="12"" but this it's not too important. My project back normal without explanation I hope that keep like this in the future on production!

Sorry me for take a long time to answer!!!

[2018-08-06 01:39] samit4me opened #254 "Bug: multiple instances of babel-polyfill"
Just updated from `0.9.0` to `0.10.0` and when running my project I get the following error:

[code]

Going to stick with `0.9.0` for now but was wondering if you have any recommendations? If it's of any help we `import 'babel-polyfill';` at the beginning of `main.js` and using webpack 3.

[2018-08-06 09:15] jkwasniak opened #255 "Wrong position navigation/pagination in the version 0.10.0?"
after first init call i see:
- wrong position navigation:
  - navigationPrevLabel ist active, even first element
  - navigationNextLabel ist inactive, even first element and there are other elements
- wrong position pagination:
  - last pagination dot ist active, even first element

In Version 0.9.0 everything worked correctly.
[code]

[2018-08-06 09:45] focussing opened #256 "Number of items per page sometimes 2"
I want only one item per page so I use this:

[code]
When I reload a page, sometimes 2, sometimes 1 item is shown.

[2018-08-06 12:08] ynte commented on #224
I've got the same problem when using multiple carousels. In my case this seems to be caused by using the `perPageCustom` prop. In the computed function `breakpointSlidesPerPage` this prop is mutated due to being sorted in place, triggering a recompute in the second carousel and starting an infinite loop.

[2018-08-07 15:21] aZilberstein commented on #224
I've got the same problem with Nuxt and 2 carousels in one page...

[2018-08-08 09:12] fikkatra opened #257 "Feature Request: Optionally disable animation on ':navigateTo' prop"
I'm looking for a way to initialize the carousel at a given page number. In my case, I want to show the last slide immediately when my component is loaded.

I've looked at the `navigateTo` property. This works, but it has the disadvantage that you see the animation: the carousel moves to the last page while sliding through all previous pages.

Other things I tried:
The following does not work (cur

[2018-08-08 15:48] brianmclachlin commented on #254
Having the same issue, downgrading to `0.9.0` as well.

If the package used the following code it would fix the issue:

[code]

[2018-08-09 03:47] RyanLiu0235 opened #258 "Both yarn.lock and package-lock.json"
Hi guys, I haven't checked this project for a long time, and I notice that there are both yarn and npm lock file now. Maybe this is caused by different contributors' MR. Anyway, I don't think this is good, at least it's not concise(?).
How about use only yarn instead?

[2018-08-09 07:44] ajshortt commented on #65
@MathieuDoyon @RemyJeancolas I'm going to go ahead and build in this feature unless you've already started?

[2018-08-09 11:32] DreaMinder opened #260 "0.10.0 three times larger then 0.9.0 in result bundle"
Using nuxt analysis tool, it shows that .9 version is 27kb parsed, 8kb gziped and .10 is 114kb parsed, 36 gziped.
It would be better to make it as lightweight as possible. For me low size is the main advantage of this component.

[2018-08-09 12:38] RemyJeancolas commented on #65
Hi @ajshortt, you should check with @quinnlangille, he is the guy mostly in charge of this repo.

[2018-08-09 13:55] dvasyliev commented on #236
@quinnlangille Hi! Could you tell me, when are you going to add new events for dragging and navigation?

[2018-08-09 15:35] besnikh commented on #45
Any update on lazy support ?

[2018-08-09 16:38] quinnlangille commented on #45
Hey @besnikh, we've had no contributor interest in developing this feature yet. I'll flag as a help wanted to see if we can attract some more attention. The feature would be pretty use imo

If you or anyone watching this thread has a homebrewed solution, feel free to open a pr :~)

[2018-08-09 16:41] quinnlangille commented on #66
Hey @askdesigners, no progress yet - however, this will be directly related (and hopefully resolved by) to #172. There's some traction on that thread, and the feature is officially in our roadmap for v1.0.

That being said, we're looking for a contributor to make the feature, so feel free to submit something if you come up with a solution in your own :~)

[2018-08-09 16:43] quinnlangille commented on #60
Hadn't seen this issue before, and it's pretty old. I'd say @HelgeSverre's solution is acceptable, going to close this! If anyone has any problems relating to this, feel free to comment here or open a new issue :~)

[2018-08-09 16:43] #60 closed

[2018-08-09 16:44] quinnlangille commented on #219
Hey @agtoncerqueira, we've been doing quite a bit of development in the past few weeks, so it's likely this issue was resolves as a side-effect from one of the releases. I'll close the issue, thanks for responding!

[2018-08-09 16:44] #219 closed

[2018-08-09 16:45] quinnlangille commented on #255
Hey @jkwasniak, I'm not seeing this happening on my end. Care to send a JS fiddle or repo I can clone and test? Thanks - will flag accordingly now.

[2018-08-09 16:47] quinnlangille commented on #256
Hey @focussing, this seems like a weird one.. any chance you could send a reproducible link? JSfiddle or cloneable repo would work fine. Have never seen or heard of this before, so would like to see a working reproduction.

[2018-08-09 16:51] quinnlangille commented on #257
Hey @fikkatra, this functionality isn't currently supported but would likely be easy to engineer. I'll flag this as a feature request.

I would envision navigateTo to simply take an optional display toggle, i.e

`:navigateTo= [1, false]`

That's just the first thing that comes to mind, so if anyone has another idea feel free to submit a PR and I'll review right away :~)

[2018-08-09 16:52] quinnlangille commented on #254
Hey @brianmclachlin, I actually just noticed this myself. Seems like there was an oversight in review and we ended up merging in two 'babel-polyfill' declarations. Will resolve in the next release!

[2018-08-09 16:53] quinnlangille commented on #258
Hey @RyanLiu0235, good to hear from you again! Yeah good catch, the `package-lock.json` must have made it into the last release. I'll review you PR right now and get it merged in!

[2018-08-09 16:55] quinnlangille commented on #260
Hey @DreaMinder, I've received a few e-mails regarding the size increase and am currently investigating. I think it's likely attributed to some work on our babel/webpack config - will update here once a solution has been merged in!

[2018-08-09 16:58] quinnlangille commented on #65
Hey @ajshortt, no one internally has started on this. It would be a welcome addition, so feel free to build :~)

[2018-08-09 17:01] quinnlangille commented on #236
Hey @dvasyliev, both of the events are already in the carousel they're just not documented. You can find them here in the mean time -> https://github.com/SSENSE/vue-carousel/search?q=%24emit&unscoped_q=%24emit

[2018-08-10 05:45] focussing commented on #256
Hey @quinnlangille, please take a look at [this](http://www.pratenmetpim.nl/meermateriaal). It loads like this:
![schermafbeelding 2018-08-10 om 07 39 24](https://user-images.githubusercontent.com/26736152/43940721-40deb812-9c71-11e8-9e48-81830aed1ac5.png)
and after refresh like this:
![schermafbeelding 2018-08-10 om 07 39 33](https://user-images.githubusercontent.com/26736152/43940727-48cea492-9c

[2018-08-10 15:12] quinnlangille commented on #256
Hmm yeah that's definitely not working as expected. After a few clicks it seems to sort itself out, so looks like it's an issue with initial state. Must be an edge case when set to `perPage=1`. I'll flag as a bug!

[2018-08-10 15:14] quinnlangille commented on #256
Looks like it may be related to #233

[2018-08-13 06:30] focussing commented on #256
Hello @quinnlangille can I help one way or another?

[2018-08-13 12:59] quinnlangille commented on #256
Hey @focussing, yeah if you want to submit a fix for this be my guest! I'm guessing the issue is in `slideWidth` calculation inside the carousel or slide components computed properties. If you end up taking the task on, feel free to discuss here if you find anything you have questions about :~)

[2018-08-13 18:26] quinnlangille opened #262 "Chore: Fully update documentation"
Our docs have gone way out of sync and need a huge re-haul, this issue will cover re-documenting the entire carousel.

[2018-08-14 20:34] jorgeuos opened #265 "Interval on each slide"
Is there a way to change how long a slide is visible?
I've tried to change `:speed=800` but it only changes the speed of the transition.

[2018-08-15 03:55] ephraimlambarte commented on #123
I am experiencing this too but it only happens in firefox, it works fine in chrome.

[2018-08-15 13:08] quinnlangille commented on #265
Hey @jorgeuos, could you elaborate on this? Do you mean you want to delay between transitions?

[2018-08-15 13:15] jorgeuos commented on #265
The time one slide stays in focus. Idk how long it is now, but our designer wanted one second extra for our slides.

[2018-08-15 14:03] gmiserez commented on #45
Hello @besnikh,
Completely forgot this topic. It works with the solution I suggested before. Basically you add a v-if condition around your picture and test the picture index against the currently displayed index.

Sample here:
https://jsfiddle.net/6ncxya9h/

[2018-08-15 14:43] quinnlangille commented on #265
There's an open feature request for a delay right now, which sounds like what you're looking for => #196

Someone's mentioned that they'd create the feature but I've seen no PR from them yet. Any updates regarding it will happen in that thread. If you end up engineering something in house, feel free to submit a PR!

[2018-08-15 14:47] jorgeuos commented on #265
Yes! Looks like it, pretty much. I'll see if I have time over to do it! I'll close this then!

[2018-08-15 14:47] #265 closed

[2018-08-15 16:17] codigovision commented on #255
I experienced the same issue with version 0.10.0 on vue 2.5.2. Downgraded to 0.9.0 as suggested and it's working.

I'm using the global setup:

import VueCarousel from 'vue-carousel'
Vue.use(VueCarousel)

And my test was just a basic carousel with 2 slides, one per page.

[2018-08-16 07:42] elviskudo commented on #45
thanks @gmiserez

[2018-08-16 23:13] normann commented on #196
It will be really helpful if this feature could be added, since it is also referred from #265 , could one of the developers try to tackle it down? Otherwise, cos the default time that a set of slides viewable to the viewer is just too short and make the library less selected for Carousel/Slides feature.

[2018-08-17 21:53] mjrerle2 commented on #188
@zhiga90 excellent, worked well for me too.

[2018-08-20 01:25] SAL-MichaelZanggl opened #267 "Feature Request: add href option to slide to make it act like an anchor"
I think it is a very common way to use links for slides, unfortunately using an anchor tag inside `Slide` has a caveat.

I currently implemented the slide like this
[code]

When I start dragging while on a slide and release while the mouse is still on the same slide the browser navigates to the respective `item.url`.

Doing this using `slideClick` is not possible since the function also gets trigg

[2018-08-20 02:21] SAL-MichaelZanggl opened #268 "Feature Request: Allow dynamic number of slides"
I have a dynamic number of images I want to display in your carousel.
For large screens I want to display up to 8 slides per page. But since the number of images is dynamic I might end up having only 2 images to display. In that case the slide takes up way too much space.

Example: https://codesandbox.io/s/n3mkw7z7q0
I highlighted the background of each slide to easily see how much space it takes

[2018-08-20 20:03] quinnlangille commented on #268
Hey @SAL-MichaelZanggl, have you tried using `:perPageCustom`? You can find the docs [here](https://ssense.github.io/vue-carousel/api/), that should solve your issue -> https://ssense.github.io/vue-carousel/api/

[2018-08-21 01:03] SAL-MichaelZanggl commented on #268
But with that setting I can only handle responsiveness right?

But I kind of found a workaround now.
https://codesandbox.io/s/ywxqywjjyj

The workaround works like this.
Condition:
- I want 4 slides per page, but sometimes I have less items available.
- I don't want the items to spread if I only have two items.
- Each slide has a width of 150px.

workaround:
- define a computed field with the slid

[2018-08-21 21:44] jorgeuos commented on #196
I think I solved it with:
`
<carousel
  :autoplayTimeout=6000

`
At least it works for me.

[2018-08-21 22:40] victor-ponamariov opened #269 "Is it possible to distinguish between click and swipe?"
Hello there and thanks for your awesome library!

I'm trying to handle following case.
I have a product gallery, and I want to be able to know when user clicked on a slide (then I want to redirect user to product page) and when user just swipes to next photo.

Didn't manage to do this. Tried different variations. The best I could do is to apply pointer-events: none to wrapper div, which completely

[2018-08-22 01:31] stephwestgarth commented on #254
Just flagging this one again as a new release went out yesterday but the issue wasn't fixed. Still having to use 0.9.0 because of this issue.

[2018-08-22 10:29] Suruat commented on #254
+1 to the issue. Can't use plugin because of this error

[2018-08-27 02:38] marbuser opened #270 "Is “Center Mode” Possible?"
Hey there. Many other carousels offer a mode called “Center Mode” that looks like this;
![image](https://user-images.githubusercontent.com/34422459/44637677-29e0bf80-a9e5-11e8-8c05-e8f8c63533ca.png)

As you can see, other elements fade while the center one is full opacity.

I've tried doing this myself but can't seem to figure out.

[2018-08-27 12:28] SueIte opened #271 "Get the displayed page and execute function"
Hi there!
I do have a simple question - how can I achieve the following:
I want to change images outside the slider when the a particular content/slide is displayes within the slider. So I need a way to get an event like "slide 1 in View", "slide 2 on View" and so on, so that I can execute a function. Whats important - I need it to work when the specific slide is visible or slided into view, becau

[2018-08-28 07:18] raynox commented on #243
Hey, something wrong happens here:
[code]
`this.currentPage` is being set to 0 and it slides to the first page. This code is so complicated, I don't know why.  I'm trying to fix this, but I need to understand this scroll mechanism first.

[2018-08-29 20:44] Cre3z commented on #271
@SueIte have you found a solution to this yet?

[2018-08-29 20:55] Cre3z commented on #236
@dvasyliev have you been able to implement any of these events successfully?

I can't get navigationclick to work or pageChange

[2018-08-30 09:04] kjugi commented on #254
#266 fixing this issue I think