[2018-08-31 12:27] quinnlangille commented on #269
Hey @victor-ponamariov, sorry for the late reply! We don't currently send separate events for click and swipe, the closest would be a touch event we emit, but I don't think that will solve your problem. However, I think it would be useful - so I'll change this to a feature request.

[2018-08-31 12:30] quinnlangille commented on #270
Hey @marbuser, we don't have this as an API functionality currently. However, add a class to every element in the center (`VueCarousel-slide-center`) as well as the ones beside it that are in view (`VueCarousel-slide-active`). What you're trying to achieve should be possible with these!

[2018-08-31 12:41] quinnlangille opened #274 "Refactor carousel/slide width calculation logic"
As indicated by numerous bugs and contributions to our scrolling logic, it's clear that something is amiss here. The logic is really complicated, and it's very likely it could be simplified into something much more elegant. This is a big issue and will affect most of the carousel in one way or another. If anyone wants to take it on, feel free to start a discussion here or message me privately by e

[2018-08-31 12:44] quinnlangille commented on #243
Hey @raynox, I agree that the code is really complex. This is by far our most contributed part of the carousel, so it's had many authors and as a result got a little messy. We're planning a refactor of this logic as part of the `v1` roadmap, which will hopefully resolve this. However, there's no timeline on that, so if you have a solution feel free to open a PR!

I've opened #274 to discuss the is

[2018-08-31 12:45] quinnlangille commented on #218
Hey @houd1ni, what did you have in mind?

[2018-08-31 12:51] quinnlangille commented on #271
Hey @SueIte, @Cre3z. We append a class on all active slides (`VueCarousel-slide-active`) when they come into view. You could likely make something work based on slides that gain/lose that class.

As for finding the index, we don't currently emit any events that expose that info. We have hooks to dynamically change index from the outside, but not the other way around.

However, depending on your co

[2018-08-31 12:53] quinnlangille commented on #254
Yeah @kjugi is right, I've cleared my calendar for this afternoon and will (hopefully) be merging + releasing it in this afternoon

[2018-08-31 15:11] houd1ni commented on #218
Hi, @quinnlangille ! When a user is on the last slide and clicks "right" navigation button, the Slider just quickly rewinds to the first slide, so it's a tape, not a real circle carousel.

If dynamically add slides after last one and before the first, keeping constant "window" (slidesPerView + what a user can scroll before it triggers new slides creation), we could improve both performance and UX.

[2018-09-01 18:04] lakshmananmurugesan opened #276 "Question: Is Vue-Carousel production ready?"
@HugoPelletier @coljung @VinceG @YAAK @yannbr Hi Guys, I have a question. This repository looks promising with number of downloads and star ratings, good options and so want to use it. Is this production ready? I saw readme that its on alpha-state. Can you please clarify its stability?

[2018-09-01 18:09] VinceG commented on #276
@lakshmananmurugesan we use it in production. The only issue we have which is not a bug but a feature missing is the the ability to drag the carousel back and forth like you would on a mobile device but on desktop.

Other than that we had no issues since we launched.

[2018-09-01 19:51] quinnlangille commented on #276
Hey @lakshmananmurugesan, while the repo is still in alpha (there is lots of development happening) we're approaching a v1 release, in which we will remove the alpha disclaimer from the readme.

 In the meantime, lots of people (including myself) use the carousel in production. The disclaimer is mostly there just to let developers know the API spec will usually change frequently (mostly just addit

[2018-09-02 05:00] lakshmananmurugesan commented on #276
@VinceG @quinnlangille Thanks for the quick turn up and clarifications. This helps me!

[2018-09-02 09:41] utkarshnag commented on #249
@quinnlangille has this issue been fixed? I'm unable to reproduce the bug.

[2018-09-02 23:38] quinnlangille commented on #249
Yeah I was able to reproduce just now on the https://ssense.github.io/vue-carousel/ homepage

[2018-09-03 09:45] mandaputtra commented on #262
I will help, need your advice

[2018-09-03 09:50] mandaputtra commented on #223
Still need advice to overide css animation

[2018-09-03 22:13] paperscissors opened #277 "Carousel doesn't take slide padding, border size into consideration when calculating width"
So it looks like if your carousel is set to only show one slide, and you've got padding or borders setup, it doesn't factor those into the width calculations of each slide in the carousel.

So, say for example I have slides that are the width of the carousel, but also have `padding: 85px` set on them, the first slide is 85px wider than the carousel, the second is offset from the left edge of the c

[2018-09-04 08:48] mandaputtra commented on #223
Just override it, and it done.

[code]

hope this help, the thing is I make the transform more fast, and do fade.

[2018-09-04 11:04] its-rj commented on #276
@quinnlangille Concerning production ready: Is there a rough roadmap which features will be included next? I'm asking since I got the request to find a Vue based slider that is flexible enough to realize stuff like these:
https://www.marc-cain.com/Inspiration/Specials/Look-of-the-Month/
https://www.marc-cain.com/Inspiration/Herbst-Winter-2018/Kampagne/Marc-Cain-Collections/

[2018-09-04 11:48] lakshmananmurugesan commented on #218
@quinnlangille @houd1ni Loop is not working with "perPageCustom". :perPageCustom="[[480, 2], [768, 3], [1280,6]]". Say I have 9 images, where I display 6 images in desktop at first, next slide should show only 3 images, but it shows 6 images (not helpful). Is this a bug?

Based on perPageCustom, it should display the images without looping it, right?

[2018-09-04 11:52] lakshmananmurugesan commented on #218
@quinnlangille @houd1ni This is the case with :perPage also. Loop is not working and helpless.

[2018-09-04 11:57] lakshmananmurugesan commented on #218
@quinnlangille @houd1ni This is my script:
<carousel :paginationEnabled="true" :navigationEnabled="true" :perPageCustom="[[480, 2], [768, 3], [1280,6]]" :loop="false">
Expecting 6 images to be displayed on each slide in desktop, if on next click, the images count lesser than 6 then it should display those images without concatenating previous set of images. Loop isn't helpful.

[2018-09-04 11:58] lakshmananmurugesan commented on #218
"<carousel :paginationEnabled="true" :navigationEnabled="true" :perPageCustom="[[480, 2], [768, 3], [1280,6]]" :loop="false">"

[2018-09-04 15:05] quinnlangille commented on #276
Hey @its-rj, we have a tag for issues on our roadmap -> https://github.com/SSENSE/vue-carousel/issues?q=is%3Aopen+is%3Aissue+label%3Aroadmap

They're what we're currently prioritizing, but they're also pretty large. So ETA is difficult to evaluate

[2018-09-04 17:03] its-rj commented on #276
Thanks, @quinnlangille. Sorry that I haven't noticed it.

[2018-09-04 18:58] deakpal commented on #138
I had the same problem, and my solution is:
`    mounted() {
      setTimeout(() => {
        this.$refs['carousel'].onResize();
        this.$refs['carousel'].goToPage(0);
      }, 200);
    }`

[2018-09-05 08:31] jorgvm opened #280 "No way to tell if carousel has loaded"
Hey,

When the carousel is loaded, I want to navigate to a certain page number. I can change the "navigateTo", but only when the carousel is loaded. And I don't know when the carousel is actually loaded (I'm using SSR)

With an emit, a parent component can know if the Carousel is done loading:
https://github.com/SSENSE/vue-carousel/pull/279

Or am I missing something and can this already be done s

[2018-09-05 15:01] quinnlangille commented on #280
Hey @jorgvm, yeah that sounds like a good addition. I think you can do this in Vue itself, but it's not super nice looking and this is pretty low impact for a way cleaner solution.

For small features like this, just a PR is usually fine!

[2018-09-05 15:26] jorgvm commented on #280
thanks!

[2018-09-05 15:43] quinnlangille commented on #280
No worries! Just released your fix, will close this now. Thanks a million for the contribution! Hope to see some PRs from you again :~) :octocat:

[2018-09-05 15:43] #280 closed

[2018-09-05 15:44] quinnlangille commented on #260
This has been resolved with the release of `v0.12.0`, bundle size should be down to ~25kb. Going to close this now, feel free to open a new issue or comment here again if there are any other bundle size issues! Thanks for reporting :octocat:

[2018-09-05 15:44] #260 closed

[2018-09-05 15:46] quinnlangille commented on #257
Just released @utkarshnag's feature for this! Going to close the issue, feel free to comment here if there are any questions :octocat:

[2018-09-05 15:46] #257 closed

[2018-09-05 15:47] quinnlangille commented on #254
Forgot to update that this was released yesterday with `v0.12.0`! Everything looks good on my end, but feel free to comment here if anyone is still experiencing babel-polyfill related issues :octocat:

[2018-09-05 18:02] n3ps opened #281 "Feature request: Make navigateTo configurable"
To avoid conflicts from other mixins.

For example, the VeeValidate library allows its `errors` prop name to be configurable.

[2018-09-06 12:26] utkarshnag opened #282 "Question: Vue-play not running after recent update"
yarn build and yarn test is working. My system is Windows 10 (64 bit). @quinnlangille what to do?

$ yarn dev
yarn run v1.9.4
$ vue-play start --standalone
webpack: wait until bundle finished:
events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::5000
    at Object._errnoException (util.js:1022:11)
    at _exceptionWithHostPort (util.js:1044:20)
    at Serve

[2018-09-06 13:40] utkarshnag commented on #282
I just ended up deleting my fork. Forked and cloned this repo again and it works perfectly fine now. I will close this issue.

[2018-09-06 13:40] #282 closed

[2018-09-06 13:41] quinnlangille commented on #282
Ah, it may have been an issue with one of the node modules since the web pack update changed a lot of versions. In that case, it's also useful to try to delete your node_modules folder and reinstall! Glad it's working now

[2018-09-07 09:05] utkarshnag commented on #195
I have made this feature but the user will still have to use navigateTo to shift to the last slide. Will that be okay?

[2018-09-07 10:37] jwmx commented on #202
Try use single quotes inside.

[code]

Otherwise it is not resolved as a string.

[2018-09-07 15:28] quinnlangille commented on #195
Hmm, I think we should have the scrolling work the same wether it's right or left. It will likely just take some conditional logic inside the advancePage. It seems like we'll just need to add a +1 or -1 to slide index when rtl is enabled. Does that sound doable?

[2018-09-09 14:55] chicop commented on #269
Hi @quinnlangille :), I would love to build this feature. Has anyone already started on it?

[2018-09-09 15:14] pushpitab commented on #276
Does the carousel support youtube video link?

[2018-09-09 16:58] sukumarghy opened #285 "carousel not working for slides. I have linked bootstrap.min.js, bootstrap.min.css & bootstrap-theme.min.css"
<div class="container">
<div class="row">
  <div class="col-sm-12">
    <div id="slider" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img src="D:\PYTHON PROJECTS\IMAGES\wallpaper2you_362137.jpg" alt="download" />
            <div class="carousel-caption">
              <h1>SERVER</h1>

            </di

[2018-09-10 10:02] amigogobara commented on #195
Ok I wanna use RTL
how can I use the latest features added?

[2018-09-10 14:16] quinnlangille commented on #195
@amigogobara the feature is still in PR phase, I'll post here once it's been merged into a release

[2018-09-10 14:26] quinnlangille commented on #276
@pushpitab right now it will support a basic URL to a video in the source. Once we have an answer for #172 it will support basically anything, in case you want to add a custom video component or something like that

[2018-09-10 14:27] quinnlangille commented on #269
@chicop negative! All yours if you want it :octocat:

[2018-09-14 13:28] rodrigofazenda commented on #285
Hi @sukumarghy, you are in the wrong project. You are talking about a Bootstrap Carousel, this is a Vue.js Carousel.

[2018-09-17 04:14] nuke99 opened #286 "API Documentation not updated"
I see functionalities such as `advancePage()` in source code. but they are not mentioned in the Public API documentation.  is there a specific reason for this? I would like to use the function `advancePage` but since it's not mentioned in the documentation not sure if I should 😕.

Please give an update 😁

[2018-09-17 15:09] quinnlangille commented on #286
Hey @nuke99, documentation update is on the roadmap for v1. Should happen in the next few weeks!

[2018-09-18 17:05] quinnlangille commented on #285
Yeah @rodrigofazenda is right! Going to close this

[2018-09-18 17:05] #285 closed

[2018-09-18 17:06] quinnlangille commented on #276
Since the initial questions been answered and we haven't had any chat in a while, going to close this. Feel free to open another issue if anyone has any questions :octocat:

[2018-09-18 17:07] #276 closed

[2018-09-18 17:08] quinnlangille commented on #271
Since I haven't heard back I'll assume the classes fixed the issue! Going to close this, but feel free to reopen or make a new issue if anything else comes up :octocat:

[2018-09-18 17:08] #271 closed

[2018-09-18 17:09] quinnlangille commented on #267
Hey @SAL-MichaelZanggl, I missed this issue sorry for the delay! This is possible, but will also be resolved by #172 which is in our v1 roadmap. Going to close this, but if you have any concerns feel free to make a comment on #172 :octocat:

[2018-09-18 17:09] #267 closed

[2018-09-18 17:12] quinnlangille commented on #258
This was resolved by another PR! Going to close this, but if you have any questions/comments feel free to reopen or make a new issue :octocat:

[2018-09-18 17:12] #258 closed

[2018-09-18 17:51] quinnlangille commented on #230
I've created #262 to cover the doc updates, going to close this in favor of that. Feel free to make any comments/suggestions there!

[2018-09-18 17:51] #230 closed

[2018-09-18 17:52] quinnlangille commented on #286
Forgot to mention that we have #262 that covers the documentation epic for the roadmap. I"m going to close this in favor of that, so feel free to make any comments/suggestions there! :octocat:

[2018-09-18 17:52] #286 closed

[2018-09-18 17:54] quinnlangille commented on #202
Hey, @jwmx good point! I'll take that as a solution and close this issue. Feel free to open a new issue or comment here if anyone still has any problems :octocat:

[2018-09-18 17:54] #202 closed

[2018-09-18 18:03] quinnlangille commented on #277
Forgot to close this with my last comment, going to now!

[2018-09-18 18:03] #277 closed

[2018-09-18 18:05] quinnlangille commented on #268
Flagged this as a feature request. The message above is good acceptance criteria, if anyone is interested in taking it on feel free to post here!

[2018-09-18 18:06] quinnlangille commented on #255
Has this been resolved with the latest release? I'm unable to reproduce

[2018-09-18 18:06] #254 closed

[2018-09-19 17:32] martin-badin opened #288 "Infinite loop without scroll to first slide"
Please add support for infinite loop without scroll to the first slide.

If I'm on the last slide, the next slide should be the first slide. For example please see [the slick slider](http://kenwheeler.github.io/slick/).

[2018-09-19 17:40] martin-badin opened #289 "Missing autoplayHoverPause prop in Carousel component"
Please this prop missing in Carousel component.

[code]

[2018-09-19 17:41] #289 closed

[2018-09-19 17:54] dave-carner commented on #196
The `autoplayTimeout` property @jorgeuos referenced worked for me too. Would be helpful to have this property documented.

[2018-09-19 21:37] koresar commented on #196
@dave-carner it is documented. See https://ssense.github.io/vue-carousel/api/

However, the README in this project is quite misleading. You could help by supplying a PR which would remove the docs from the README and point to the website above.

[2018-09-19 21:46] dave-carner commented on #196
@koresar Ah, my bad. I was looking at the props table on the REAMDE. Thanks for pointing the way!

[2018-09-24 06:14] shaikhabdulqadir commented on #240
Getting this error this.$refs.carousel.getPreviousPage is not a function

[2018-09-24 07:09] christophrumpel opened #290 "When using inside a we component, styles are not not being applied"
## Bug Report

**Current Behavior**
I am using the great carousel in my VUE CLI project and it works fine. But when I export the project to a web component through the VUE CLI build service, then the carousel styles are outside of the web component and therefore not reachable. (see screenshots below)

**Input Code and steps to reproduce**
- create VUE CLI project
- install Vue Carousel
- export pr

[2018-09-24 19:56] quinnlangille commented on #290
Hmm I don't have a whole lot of experience with web components, but maybe this has something to do with how vue-cli deals with style scoping? I'll flag this as a bug request, and hopefully someone will address it asap! I'm also doing a bit of work on web components for another project I'm working on, so if I encounter a fix I'll submit a PR asap!

[2018-09-24 20:00] christophrumpel commented on #290
Thanks @quinnlangille !

[2018-09-24 20:01] quinnlangille commented on #290
@christophrumpel in the mean time, seems like there are some possible solutions here: https://github.com/vuejs/vue-web-component-wrapper/issues/12

[2018-09-24 20:04] christophrumpel commented on #290
Ah cool! Thanks, will try that.

[2018-09-28 02:40] VicoErv opened #291 "not showing before i try to slide"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

**Input Code and steps to reproduce**
- You can add a link to a hosted repo, or a JSfiddle, repl.it, etc here
- Or, you can paste your code in a formatted block like so:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (.babelrc,

[2018-10-01 15:19] OnnoGeorg commented on #181
Has this been solved? I am trying the block any slide change by swipe on mobile devices, but can not figure out how to achieve this.

A solution by adding `pointer-events: none` to the stylesheet is not possible, because I need those pointer events in the slides (they contain some active elements).

So, any option like `swipeEnable` would be highly appreciated!

[2018-10-02 08:57] evgen3 commented on #291
@VicoErv
same problem, decided so:
http://joxi.ru/l2ZNeJWuw6jNk2

[2018-10-02 09:15] dragonH commented on #291
Same here

![181002](https://user-images.githubusercontent.com/18332044/46339458-73b46980-c665-11e8-8698-8666a88b6aca.gif)

as you can see

it has got the data from server and start autoplay

but it turned out to be blank

notice that the style "visibility" in element is initial hidden

no idea why

Same

the element show normally after i slide it

[2018-10-02 10:33] erick2014 commented on #256
@quinnlangille I would like to work on this, or at least try haha

[2018-10-03 10:57] focussing commented on #288
👍

[2018-10-03 10:59] focussing commented on #256
I hope you find something :)

[2018-10-03 11:03] focussing commented on #256
Maybe calculate the `slideWidth` in "Carousel.vue"
[code]

[2018-10-03 11:09] focussing commented on #256
`this.slideWidth` never gets a value in `Carousel.vue`

[2018-10-03 11:13] focussing commented on #256
I updated
[code]
Sorry I cannot test it, when I run "npm run build" in the vue-carousel folder I get error messages.

[2018-10-03 12:29] Gytisla commented on #291
Same here, but only with 'loop=true'

[2018-10-05 16:06] natemate90 commented on #31
I added  `plugins: [{src: '~/plugins/vue-carousel.js', ssr: false}],` in `nuxt.config.js` to force nuxt not to use ssr on this component, nu need to use `<no-ssr>`

[2018-10-08 13:56] mzayed opened #294 "Carousel Width and Navigation Customization"
**Is your feature request related to a problem?**
Customizing the size of `slideWidth` of the carousel and having the navigation buttons route to another link rather than just the previous slide and the next slide.

**Describe the solution you'd like**
I'm using a modal window that is slightly larger than the computed size of the slides in the carousel, which is calculating an incorrect offset for

[2018-10-08 20:24] matamune94 opened #295 "scrollPerPage doesn't work 0.14.0 in nuxtjs"
when i change :scrollPerPage="false"  and make error : RangeError: Invalid array length
can help ?

my code :

  <div class="mycarousal">
  <no-ssr>
    <carousel :scroll-per-page=false>
      <slide>
        <span class="label">Slide 1 Content</span>
      </slide>
      <slide>
        <span class="label">Slide 2 Content</span>
      </slide>
      <slide>
        <span class="label">Slide 3 Con

[2018-10-08 21:53] matamune94 commented on #295
no works as expected , scrollPerPage and per-page is different , ex : you have a page with 4 item and you want scroll on 1 item when Dragmouse if no have scrollPerPage , you will scroll 4 item next not 1 item , i need fix it

[2018-10-08 23:47] matamune94 commented on #295
need help please!!!

[2018-10-09 09:57] Defite commented on #295
@matamune94 well, forget to mention that I'm already using this option, sorry.

[2018-10-10 05:03] quinnlangille commented on #256
Hey @focussing, not sure why you're getting an error can you post the output if it's still happening?

[2018-10-10 05:08] quinnlangille commented on #291
Hey guys, this sounds like a similar issue to #138, which was resolved. Can anyone confirm if it's the same behavior if so I'll move this to a bug fix? In the meantime, if it is the same issue, there are some workarounds in that thread :octocat:

[2018-10-10 05:14] quinnlangille commented on #294
Hey @mzayed, it looks like you're requesting two features here:
[code]

Neither of these should be difficult! I'll flag as a feature request, as both seem like reasonable ideas :octocat:

[2018-10-10 05:16] quinnlangille commented on #295
Good to see you fixed @matamune94, will close this!

[2018-10-10 05:16] #295 closed

[2018-10-10 05:46] focussing commented on #256
Hey @quinnlangille yep it is still happening; see the site, I have not changed anything

[2018-10-10 11:05] sergiocastrovale commented on #288
Yeah, this is kind of the expected behavior on a loop-able slider, not the other way around. Any chance it will be included soon?

[2018-10-10 12:54] heshamelmasry77 commented on #81
any solution for this problem

[2018-10-10 15:44] quinnlangille commented on #256
@focussing I meant the error in `npm run build`, is that still happening and if so can you send output?

[2018-10-10 15:45] quinnlangille commented on #288
We've had lots of requests for this, I'll flag this as a feature request!

[2018-10-10 15:48] quinnlangille commented on #81
Hey @heshamelmasry77, since we can't seem to have a consistent success or failure with this issue I'm starting to believe it's a nuxt side issue rather than the carousel. I'll leave this chat open as discussion, but since we have documented successful implementations above I don't think anyone is actively pursuing another option

[2018-10-11 03:01] dragonH commented on #291
@quinnlangille

i follow the solution in [#138](https://github.com/SSENSE/vue-carousel/issues/138)

and it slides normally

thx!

here is what i added

		mounted() {
			setTimeout(() => {
				this.$refs['carousel'].onResize();
				this.$refs['carousel'].goToPage(0);
			}, 1000);
		}

[2018-10-11 05:41] quinnlangille commented on #291
@dragonH, great! However, this would suggest that the problem isn't _actually_ resolved. I'll mark this as a bug and investigate when I get a chance. If anyone else finds a solution feel free to post here!

[2018-10-11 16:33] focussing commented on #256
iMac:vue-carousel raymond$ npm run build

/Users/raymond/stack/sites/pim-webpack/node_modules/vue-carousel/webpack.common.js:64
    new VueLoaderPlugin()
    ^

TypeError: VueLoaderPlugin is not a constructor
    at Object.<anonymous> (/Users/raymond/stack/sites/pim-webpack/node_modules/vue-carousel/webpack.common.js:64:5)
    at Module._compile (module.js:635:30)
    at Object.Module._extensions.

[2018-10-16 13:45] Calinou commented on #184
Should this issue be closed, now that https://github.com/SSENSE/vue-carousel/pull/216 has been merged?

[2018-10-16 16:19] quinnlangille commented on #184
Hey @Calinou, good call! Forgot to wrap this one up. Will close now, thanks for notifying :octocat:

[2018-10-16 16:19] #184 closed

[2018-10-18 08:45] rizqirizqi commented on #199
@rodrigodata I tested your code, and it's still not working as expected. Then, I checked your code, there's something needs to be fixed.

Here's the part of your code (src/Pagination.vue:77):
[code]

And I think this is what you mean to do:
[code]

This syntax is also applied for line 82 and 85.

Can you create a PR for this changes after you fixed those lines?

Thank you for your help to implemen

[2018-10-18 08:52] Gytisla commented on #291
Hi. There is some other problem for me, i think. When the carousel component is mounted, on "VueCarousel-inner" it sets 'translate(1110px, 0px);', which only changes if i click anywhere on a carousel component. This happens only when "loop=true" is set.

![image](https://user-images.githubusercontent.com/38819776/47142491-e2770100-d2ba-11e8-9ad6-91305febdf87.png)

Workaround for now:
[code]

[2018-10-18 08:58] VicoErv commented on #291
i was use the component with loop attribute set to false, but i will try that solution first. :+1:

[2018-10-18 11:19] NickMcBurney commented on #65
Any update on this @ajshortt? It would be great to have the ability to convert slider to a vertical slider.

[2018-10-18 20:06] quinnlangille commented on #291
Hey @Gytisla, great find! That definitely shouldn't be happening. Anyone feel like making a PR for the fix?

[2018-10-19 12:38] dappiu commented on #81
I'm using `nuxt 1.4.2` and `webpack 3.12.0`.
I tried both with the "local" import inside the component, or using global plugin.

I have no problem at all using the `<carousel>` inside a `<no-ssr>` tag up to version 0.11.0. Upgrading vue-carousel to version 0.12.0 or above, the error starts to pop out:

[code]

[2018-10-19 15:57] Defite commented on #81
The only solution for now is to use `no-ssr` properly :)

[code]

It turned out, that `no-ssr` can have only one child. Now everything works fine.

[2018-10-19 20:11] quinnlangille commented on #195
Hey guys, just merged in @utkarshnag's PR - RTL scrolling is now enabled! Check the docs or #284 for more info.

p.s I'm going to be doing a documentation overhaul over the next week or so, feel free to make any suggestions here (#92) if you end up reading through them!

[2018-10-19 20:11] #195 closed

[2018-10-19 20:13] quinnlangille commented on #239
Since I havne't heard back on this one will close it up. Feel free to reopen or open a new issue if you still have any questions :octocat:

[2018-10-19 20:13] #239 closed

[2018-10-19 22:53] NickMcBurney commented on #181
@quinnlangille I've created a new pull request for this: https://github.com/SSENSE/vue-carousel/pull/296

[2018-10-20 02:46] quinnlangille commented on #181
Hey @NickMcBurney, thanks! I'll take a look at it now :octocat:

[2018-10-22 15:09] MartinGerritsen commented on #96
Hey guys, thanks for the great work! Any updates on this FR? Thanks!

[2018-10-22 20:44] BillyPurvis commented on #224
Works a treat!

Nuxt: 2.0.0
vue-carousel: 0.15.0

[2018-10-22 22:23] ianemv commented on #224
Weird.
Also  "nuxt": "^2.0.0" and  "vue-carousel": "^0.15.0". Added vue-carousel.js at plugins and nuxt config but still having window is not defined error.

[2018-10-22 22:32] ianemv commented on #224
My bad, solution above add in nuxt config and adding as plugin actually works. I just forgot to remove import at the vue file that uses the carousel.

[2018-10-23 09:03] juneyoung opened #298 "[customize dots] Is it able to move dot pagination over the slides?"
Is it possible to customize dot styles? I want to move those dots over the slides. (I think you could understand what I mean. The basic sample of the official site is dot located under the slides.)
In my component, I declare vue-carousel like

[code]
But it ignores the style in the component.

I think this UI feature is very common so there might be pre-implemented form in vue-carousel but could n

[2018-10-23 15:29] quinnlangille commented on #298
Hey @juneyoung, there have been a few issues regarding this before and I _think_ this can resolved with the new slots we deployed fir navigation and pagination in `v0.15.0` - [here's the commit for that](https://github.com/SSENSE/vue-carousel/commit/e9e57149a65f800b5d918723dc17e25856290cb9).

We don't have the feature documented yet, it will be coming as part of #262.

Lemme know if that will help

[2018-10-23 17:44] JelenaGajic opened #299 "Navigate slides on hover"
Hi,

I would like to add the following functionality - to enable navigation thru slides on hover. Meaning - while the cursor is outside of the carousel navigation is paused and enabled on hover. On mouseleave navigation should be stopped. Practically, an opposite feature of autoplay="true" and autoplayHoverPause="true".

Can you please help me?

Thanks in advance!
Jelena

[2018-10-23 18:12] quinnlangille commented on #299
Hey @JelenaGajic, yeah that sounds doable! Should be easy to implement. I'll convert this to a feature request :octocat:

If anyone wants to take on building this, don't hesitate to post any questions about implementation here! 🚀

[2018-10-24 17:06] daniel12564 opened #301 "Question: How can I remove the effect when you touch an item of the carousel (device only)."
When you touch an item of the caoursel it will cover the content with a transluced black box.
I would like to know if there is a way to block this effect.

This effect seems to only occurs on devices, i've only tested it on my iphone.
![bug](https://user-images.githubusercontent.com/4305949/47448024-94637100-d784-11e8-991a-5ded87eefa54.jpg)

Thanks

[2018-10-24 17:32] quinnlangille commented on #301
Hey @daniel12564, I can't recreate this and have used the carousel on mobile pretty extensively. Seems like it might be device specific, have you recreated on other mobile devices?

[2018-10-24 19:35] daniel12564 commented on #301
Hi @quinnlangille, I previously tested on an iphone 7, now I've tested on an iphone 5s and the bug still occurs.
To reproduce the effect/bug you should press and hold for a few secs on an item of the carousel, i was able to reproduce this on my personal application and also on the web page of the [pluggin](https://ssense.github.io/vue-carousel/).

[2018-10-24 19:39] quinnlangille commented on #301
Ah, looks like you're correct! Should be a simple CSS fix. I'll open as a bug report

[2018-10-25 04:40] rkomiyama opened #302 "Unable to use vue-carousel as a local package"
## Bug Report

**Current Behavior**
Unable to use vue-carousel as a local package using `yarn link`. The following warnings are produced:

[code]

**Input Code and steps to reproduce**
`App.js`
[code]

**Expected behavior/code**
Doing a `yarn link` should allow me to use `vue-carousel` in a local project.

**Babel Configuration (.babelrc, package.json, cli command)**

[code]

**Environment**
- "@v

[2018-10-25 17:16] focussing commented on #96
Hey @quinnlangille we surely would like to have this feature :)

[2018-10-25 21:08] quinnlangille commented on #302
Hey @rkomiyama, yarn has an [open issue](https://github.com/yarnpkg/yarn/issues/2914) that's likely effecting this. I can recreate this issue on local if I use `yarn link`, but it works fine if instead I point to my local directory with node_modules installed in my package json (i.e `vue-carousel: link: ../path/to/vue-carousel`)

Since it's likely that this is an issue on yarns end, I'll close thi

[2018-10-25 21:08] #302 closed

[2018-10-27 08:17] christopherkade commented on #196
Since the `autoplayTimeout` prop seems to work, would you like me to update the `README` in order to mention it?
It also seems like mulitple props are missing from this file, I could update it fully by adding every single prop mentioned [here](https://ssense.github.io/vue-carousel/api/).

[2018-10-27 23:02] wes977 commented on #288
I added a story to the play using a prop "loop" that makes the carousel return to the first slide if set to true.

[2018-10-28 15:35] focussing commented on #288
yes that would be much appreciated :)

[2018-10-29 21:11] rkomiyama commented on #301
How do you open up the web inspector in an iOS simulator?

[2018-10-29 22:35] rkomiyama commented on #302
@quinnlangille I'm still getting the same warnings even with `npm link`. There might be an issue with `vue create`, but I'm not sure how relevant it is to this issue (https://github.com/vuejs/vue-cli/issues/1494).

[2018-10-30 01:43] lmrarturo commented on #291
It's something with flex-basis. It started with `flex-basis = 0` and when you click the carousel it calculates flex-basis an then the carousel shows.

[2018-10-30 14:56] NifeCz opened #306 "Timing"
Hello guys,

its possible to slow down slider.. i mean time before slide and sliding time too.
Its possible to start slider on all items in same time, but not by length of array?

https://giftinbox.cz/

step 2

sorry for my english
Thank you :)

best regards
Karel

[2018-11-01 09:00] Kemper-Diao commented on #288
This request is solved ?  I have the same request

[2018-11-01 15:34] nebez commented on #243
@jorgvm @raynox - we've just published @saschwartz's fix for this issue as `v0.16.0-rc2` if you're feeling up for the latest unstable version.

@quinnlangille I'm marking this issue as resolved and we can continue the discussion in #274.

[2018-11-01 15:34] #243 closed

[2018-11-03 12:46] bartdominiak commented on #288
@Kemper-Diao Use prop: `loop` and set it to `true`

[2018-11-04 13:39] stokaboka opened #310 "Bug: event name casing is not standard"
emit event name "slideClick" - this violates the event naming convention
72:          this.$emit("**slideClick**", Object.assign({}, e.currentTarget.dataset));

I propose to replace the name of the event "slideClick" with "slideclick"

P.S.Thanks for the interesting gallery !!!

[2018-11-05 10:00] Kemper-Diao commented on #288
but It's still not working, my version is  0.16.0-rc1, is that right?

[2018-11-06 04:38] sebastienbarbier commented on #251
All right, works with latest vue if we rename the event `slideclick` instead of `slideClick`. Might be related to #310

[2018-11-06 05:03] pratiksingh05 commented on #251
No, it worked for me if you see above my example that will work for you as well
Just add within the carousel block of code :-
<slide v-for="(item, index) in YourArrayData " :key="index" >
         // Here you add your div which you want to show
 </slide>

Note:- Nevertheless It'd be default behavior of slide to show both the side for slide and just need to use a click event of the side arrow to ma

[2018-11-06 05:55] sebastienbarbier commented on #251
Thanks for your answer @pratiksingh05 , I managed to solve this with a local stored fork renaming `slideClick` to `slideclick` as suggested in #310.

[2018-11-07 05:53] ja1shan opened #312 "Disable vertical scrolling when swiping on mobile"
Firstly, thank you for this Vue Componoent. It is working perfectly apart from one little issue I have.

When using it on a mobile device and swiping on the slider it can scroll the page up and down. Is there any way to prevent vertical scrolling on mobile when swiping left and right on the slider.

I tried to add e.preventDefault() on the onDrag function when (Math.abs(newOffsetX) > 5) with no lu

[2018-11-07 06:33] DrMeers opened #313 "Allow pagination at top and/or bottom of carousel"
**Is your feature request related to a problem?**
Sometimes pagination dots are below the fold for tall carousels and/or small displays

**Describe the solution you'd like**
Would we add an option to allow pagination dots at the top *and*/or the bottom? My current use case would require both top and bottom.

[2018-11-09 19:17] #255 closed

[2018-11-11 12:01] quinnlangille commented on #306
Hey @NifeCz, yeah we have a `speed` prop you can pass. You can find an example of that here -> https://jsfiddle.net/quinnssense/ckd1vysd/80/

[2018-11-11 12:01] quinnlangille commented on #306
Going to close this for now, feel free to reopen the issue or comment if you have any questions :octocat:

[2018-11-11 12:01] #306 closed

[2018-11-11 12:02] quinnlangille commented on #310
Hey @stokaboka, good catch I'll switch this to a bug report

[2018-11-11 12:05] quinnlangille commented on #288
Hey @Kemper-Diao, no this is still an open feature request. If a feature has been added into a release, it's issue will be closed and comment will be made with the release.

[2018-11-11 12:10] quinnlangille commented on #251
Hey @sebastienbarbier @pratiksingh05, the difference is likely related to the projects vue version. I'm not 100% on this because their docs are fuzzy here, but I'm pretty sure at some point they deprecated camel and snake case event naming.

I can confirm that on my local `slideClick` does not work and `slideclick` does. There is a PR up to resolve this in the docs/event name to make the developme

[2018-11-11 12:12] quinnlangille commented on #312
Hey @ja1shan, just to confirm this is because the content of your slide is taller than the carousel? Can you send a fiddle or screen capture of this happening so we can properly diagnose?

[2018-11-11 12:18] #298 closed

[2018-11-11 23:58] ja1shan commented on #312
I'm not sure but my Carousel and Slider seems to be the same size.
Here is an example https://jsfiddle.net/gvzn6mt3/5/

[2018-11-12 17:21] dmikester1 opened #315 "Why is tabindex of -1 added to each slide? Can we make that an option in the API?"
**Is your feature request related to a problem?**
Tabbing through the slides does not work correctly because a tabindex of -1 is added to each slide.  I'm sure this was done for a good reason, but I'd be curious to hear why.

**Describe the solution you'd like**
I would like to see an option added to the API Config to make that an optional feature.  We need to be able to tab through the carousel s

[2018-11-12 21:00] quinnlangille commented on #315
Hey @dmikester1  this is actually a bug that must have been recently introduced, the tabindex of -1 was supposed to only be set to off screen slides for accessibility reasons. However, that still wouldn't meet your criteria.

I like the idea you mentioned,  we can conditionally add -1 to off screen slides based on a `tabbable` prop.

I'll tag as a feature request!

[2018-11-13 00:06] ja1shan commented on #312
I only wanted to disable the scrolling when the user is swiping (through the carousel slides), not entirely.
I did try use **e.preventDefault()** earlier with no luck.

It is fine, I will look into another solution.

An example would be
https://surmon-china.github.io/vue-awesome-swiper/
When swiping the Carousel on mobile (you can't scroll up and down by swiping up and down).

[2018-11-13 18:06] katiedeangelis commented on #96
@quinnlangille I would also love this feature!!

[2018-11-15 07:05] yashwanth1796 opened #318 "Autoplay stops at last slide"
Now if we set auotplay to true it stops at last slide can any one tell me how to continue the autoplay after last slide to again start from first.

[2018-11-15 07:34] #318 closed

[2018-11-19 11:34] TheLastTech commented on #256
I fixed this with min-width.

[2018-11-21 04:06] dacsang97 commented on #288
@Kemper-Diao `:loop="true"` working in 0.16.0-rc2

[2018-11-21 19:13] am commented on #313
@quinnlangille maybe this should be obvious, but would you mind share how could a custom solution be like using the `slots`? I'm missing how could the setup be like...

Thank you

[2018-11-22 02:13] tranvannhat opened #319 "Slice not working with Select element html"
`<slide v-for="item in listTestProduct" :key="item.id">
          <select :class="[$style.customSelect, $style.customSelectSm]">
              <option selected>S</option>
              <option value="1">M</option>
              <option value="2">XL</option>
              <option value="3">XXL</option>
            </select>
      </slide>`
when use Select option cannot drag and drop slice

[2018-11-22 14:55] sumeshkmp opened #320 "Touch slide is not working on touch friendly laptop"
On a touch friendly laptop, I am not able to change the slide by sliding the image. Also touch drag also seems to not working. Is it possible to change the slide on touch (not the pagination dots)?

[2018-11-22 16:58] quinnlangille commented on #319
Hey @tranvannhat, not 100% what the issue is here. Going to close this, as it's ambigious. If you haven't resolves on your end please reopen with an issue template! Thanks :octocat:

[2018-11-22 16:58] #319 closed

[2018-11-23 19:03] quinnlangille commented on #241
Ah cool! Will close this then, thanks for the update :octocat:

[2018-11-23 19:03] #241 closed

[2018-11-24 02:44] AdminXVII opened #323 "Slides flushed right instead of left with scrollPerPage"
## Bug Report

**Current Behavior**
When there are too few slides to fill the row, with scrollPerPage, the slides are flushed right instead of left.

**Input Code and steps to reproduce**
https://jsfiddle.net/AdminXVII/eywraw8t/473381/

**Expected behavior/code**
In LTR at least, slides should flush left.

**Possible Solution**
Problem seems with maxOffset, which is not constrained to a minimum va

[2018-11-24 07:42] caseyrlentz opened #327 "API documentation does not match Readme"
## Bug Report

**Current Behavior**
The public API documentation found on `https://ssense.github.io/vue-carousel/api/` states that the `paginationEnabled` setting is defaulted to `false`, while the Readme states otherwise.

**Possible Solution**
change `false` to `true`

[2018-11-26 04:15] josephting commented on #143
Before working on increasing the code coverage, I'm looking to incorporate [Vue Test Utils](https://vue-test-utils.vuejs.org) which means major test script refactor.

With that said, current test methodology is using [`mount`](https://vue-test-utils.vuejs.org/api/#mount) equivalent prior to using Vue Test Utils while unit test should be using [`shallowMount`](https://vue-test-utils.vuejs.org/api/#

[2018-11-26 16:09] quinnlangille commented on #143
Hey @josephting, yes adding vue-test-utils was planned on our end already so it would be a welcomed addition! I think adding the snapshot serializer is a good idea as well, but let's do this incrementally as it will be a lot to review otherwise.

Let's make an initial PR adding utils, a second PR adding the new serializer, and any additional PRs after adding new test cases.

Sound reasonable?

[2018-11-26 18:33] quinnlangille commented on #327
Hey @caseyrlentz, thanks for report. I'll fix right now!

[2018-11-27 02:07] josephting commented on #143
Sounds good. I went ahead and fix the things that's currently broken as a first step.

Also, what do you think about [Vue Testing Library](https://github.com/dfcook/vue-testing-library)? It's dom based testing using [Dom Testing Library](https://github.com/kentcdodds/dom-testing-library/).

It would change the way we test the component though. As in, testing based on what we can see from DOM inste

[2018-11-27 16:11] quinnlangille commented on #143
I think implementing both testing paradigms is valuable, rather than having one or the other. Ideally,  Unit testing (what we currently have) is a check on individual methods and their input/output. Using the DOM testing lib and writing functional tests (what you're proposing) would be testing the functionality of the fully rendered carousel. Both can exist and be run as separate suites.

That bei

[2018-11-28 11:29] sumeshkmp commented on #320
Hello, Is it possible to do this ?

[2018-11-28 17:09] quinnlangille commented on #320
No, it is not currently possible. All of our touch functionality requires `"ontouchstart" in window` to be true. If you print this in your devtools console, you'll see that only when your page is initially rendered at a mobile breakpoint will this evaluate to true.

Adding the feature to support touch laptops would require a device agnostic way to know, in browser and on page-load, that the device

[2018-11-28 17:09] #320 closed

[2018-11-29 00:53] josephting commented on #313
@am You can edit `Carousel.vue` and move this code block to above `div.VueCarousel-wrapper` and within `section.VueCarousel`.

Copying it will still work properly so you can have both 1 before `.VueCarousel-wrapper` and another after `.VueCarousel-wrapper` to have the pagination slots at both top and bottom of the carousel.

@quinnlangille Would copying the pagination slot to the top and add a new

[2018-11-29 03:09] quinnlangille commented on #313
Yeah, I think that solution could probably work @josephting. We could conditionally render the pagination above or below based on the prop. Good thinking!

Anyone feel like making a PR for the feature?

[2018-11-29 13:27] alvarosabu opened #333 "Feature Request: centralize detection of window features"
**Is your feature request related to a problem?**
I'm implementing a long Form with a carousel slides separate groups of inputs.  I have an issue disabling the `mouseDrag` prop whenever the user focus on an imput and allowing it again onBlur.

It seems that this prop only configure the eventListeners on init, but doesn't change whenever the input does.

**Describe the solution you'd like**
MouseDr

[2018-11-29 15:34] quinnlangille commented on #333
Hey @alvarosaburido, I was also thinking about this recently. We're currently working on refactoring the carousel and this could be a reasonable feature. Mouse and touch drag both depend on different available features in the `window`.

As you've mentioned, we only check these properties  on init. I'd have to think about implementation, maybe we could wrap all of our checks in one method and save

[2018-11-30 07:59] alvarosaburido commented on #333
Hey, man @quinnlangille yeah, exactly what I meant. The next week I'm on vacation maybe I can give it a try in an MR meanwhile. If you are working on refactoring, let me know if I can contribute with it.

[2018-12-01 10:59] zymawy opened #334 "Right-to-Left for scrolling"
## Bug Report

**Current Behavior**
My Site Using `RTL` Languages And `RTL`Set To HTML Tag
The Carousel Does Not Respect `RTL` Scrolling.
I Try And Set
`:rtl="true"`
And
`autoplayDirection="backward"`
Nor Working For Me.
package v:  `"vue-carousel": "^0.16.0"`
I Checked All The Issue Related
#284
#195

[code]

[2018-12-01 22:17] quinnlangille commented on #143
Hey @josephting, sorry for the delay. Just merged your PR into a new working branch, `0.17.0` which we should use for all of the testing improvements. Feel free to make further PRs against that branch!

[2018-12-03 04:17] josephting commented on #143
Thanks for the notification, @quinnlangille. #335 is now ready for the next step.

[2018-12-04 08:48] cvetkovskin commented on #257
It seems that though the implementation of the feature has been merged, the prop type of `navigateTo` is still a `Number`, therefore a `Invalid prop: type check failed` error is being fired if you pass the array to it.

Can you please change it to `[Number, Array]`

[2018-12-04 15:13] quinnlangille commented on #257
Good call @cvetkovskin! Missed that in review, I'll make a fix later today

[2018-12-04 17:40] quinnlangille commented on #143
Just reviewed, will wait for a response from @ashleysimpson and if he has no input will merge right away. Thanks @josephting

[2018-12-04 20:40] dmikester1 opened #338 "Bug: VueCarousel-slide-active with perPageCustom not working correctly"
## Bug Report

**Current Behavior**
I am using the perPageCustom attribute to dynamically set the number of slides to either 2, 3, 4 or 5.  For some reason the VueCarousel-slide-active class only gets applied to the first 2 slides, like the number of slides is 2 all the time.

**Input Code and steps to reproduce**
`<carousel
              :navigation-enabled="true"
              :min-swipe-distanc

[2018-12-05 00:40] josephting commented on #143
Thank you, @quinnlangille.
I'll work on integrating [jest-serializer-vue](https://github.com/eddyerburgh/jest-serializer-vue) next.

[2018-12-05 22:11] quinnlangille commented on #338
Hmm, this definitely seems like a bug. Would you be able to send a link to a fiddle or a reproduction we could debug?

[2018-12-05 23:34] quinnlangille commented on #327
Fixed it a while ago but forgot to rebuild lol should be visible now! Thanks for reporting the issue :octocat:

[2018-12-05 23:34] #327 closed

[2018-12-06 05:37] josephting opened #339 "Add jest-serializer-vue"
Opening this issue as a place for discussion on this matter.

Planning to discontinue `expectToMatchSnapshot()` in [`utils.js`](https://github.com/SSENSE/vue-carousel/blob/master/tests/client/utils.js) and use [jest-serializer-vue](https://github.com/eddyerburgh/jest-serializer-vue) instead.

Below are some of my thoughts. Comments are welcome.

### Current Snapshot

[code]

### Native Jest Snapsh

[2018-12-06 18:57] dmikester1 commented on #338
Was able to modify an existing fiddle to duplicate this issue: https://jsfiddle.net/we8jbym2/

[2018-12-07 00:54] josephting commented on #339
Fair enough. I'll stick to using the existing jest-serializer-vue then.
I couldn't find any serializer with prettier support so it'll be custom if that is to be added.

[2018-12-07 01:50] quinnlangille commented on #338
Ok, easy enough. Looks to me as if something in the rounding logic has gone amiss - this will all be reworked in the coming v1 revamp, but it might be a while away. In the meantime, I'll add the appropriate flags and see if we can get someone to help out :octocat:

[2018-12-07 02:14] quinnlangille commented on #339
Hmmm ok cool, thanks for looking into it. Could be an interesting package to build... maybe I'll give it a shot when I have some spare time

[2018-12-07 02:14] #339 closed

[2018-12-07 02:38] #323 closed

[2018-12-07 06:59] am commented on #262
One thing I notice is the fact there is duplication, both API docs the project README and the code comments have similar information. Maybe all the docs could be generated from the code, or at least have a single source of truth.

[2018-12-07 14:08] dmikester1 commented on #338
Thank you, that would be very helpful.  We are hoping to us this in a production setting.

[2018-12-07 15:16] niketpathak opened #342 "Dynamically adding slides"
Currently, it is not possible to add slides dynamically, however I think it'd be very helpful if this is integrated.
There's another lib that does it already: https://github.com/surmon-china/vue-awesome-swiper (but i find it a bit heavy, hence the feature request)

[2018-12-07 15:40] #342 closed

[2018-12-07 21:03] dmikester1 commented on #315
Adding another comment to this.  It would be ideal if when the focus is on the last visible slide, the tab key would send focus to the right arrow, so the user could hit space to activate the arrow to bring in the next set of slides then automatically set focus on the first slide.

[2018-12-10 10:20] #92 closed

[2018-12-10 22:05] dfvc opened #345 "Bug: Cannot reach last slide using navigation button"
## Bug Report

**Current Behavior**
Cannot reach the last slides by swiping.

**Input Code and steps to reproduce**

[code]

**Expected behavior/code**
Before 0.16.0, it was not possible to reach the last slide by using navigation "next" button. Swiping everything worked fine. Now, after update to 0.16.0, this behavor is inverted, i.e., I can reach the last slider by pressing "next" button but not

[2018-12-11 08:52] jorgemurta commented on #345
Having the same issue @SEE

[2018-12-11 08:56] jorgemurta commented on #345
This can be reproduced on the "Navigation buttons and scrollPerPage false" scenario on the project's Vue Play

[2018-12-11 14:23] jorgemurta commented on #345
@dfvc Thank you!

[2018-12-11 15:25] koraykupe commented on #312
I am also looking for a solution for it. There are several ways to do it. I am trying to find the most basic one.

[2018-12-11 21:55] MomciloNikolic commented on #88
GREAT JOB BRO :)

[2018-12-12 16:47] quinnlangille commented on #345
Hmm thanks for flagging guys, I can reproduce on my end. The last minor added some changes to scrolling logic, we'll have to investigate to see where the issue is. Clearly our fix didn't fully resolve! I'll mark as a bug - if anyone fixes in the mean time, feel free to make a pr!

[2018-12-12 16:53] dfvc commented on #345
@quinnlangille, there's already a pr for it: https://github.com/SSENSE/vue-carousel/pull/346

[2018-12-12 16:54] jorgemurta commented on #345
@quinnlangille there is already https://github.com/SSENSE/vue-carousel/pull/346

[2018-12-12 21:09] quinnlangille commented on #345
Ah, didn't see (still going thru notifications for the week and always do issues first). I'll review and continue conversation on pr - thanks for pointing it out :octocat:

[2018-12-13 09:43] podlebar commented on #81
working example by loading vue-carousel async in mounted hook:
https://gist.github.com/podlebar/ca379d339fba2381b5b45272be1d1d23

you might need to change some stuff but the important part is the script and the no-ssr wrapper

[2018-12-13 14:21] yumemi-yamasaki opened #347 "Also on the last slide I want to get the click event of the next button."
In my application,  when the next button is clicked on the last slide,  I want to go to another page.
But the next button does not work and ``opacity=0.5`` on the last slide, since canAdvanceForward()  is false.
[code]

I tried ``loop="true"`` and use ``@pageChange`` for page transition, however loop animation occur before page transition.

``@pageChange`` method is called when ``currentPage`` var

[2018-12-14 00:51] samit4me opened #348 "vuex-router-sync peer dependency issues"
Started getting the following peer dependency warning after upgrading from `0.9.0` to `0.16.1`.

[code]

After installing each version it seems this issues was introduced in version `0.12.0` due to `vue-play`, see https://github.com/SSENSE/vue-carousel/pull/266/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R40.

So I assume this issue may actually lay with `vue-play` but as I still get confused with

[2018-12-17 18:48] keren-w commented on #131
Hello, my name is Keren and I'm looking to do my first contributions to OS project. Having a working experience in VueJS I think this is an assignment I can handle, hopefully.
How can/should I join in, if it's still needed?

[2018-12-17 20:43] quinnlangille commented on #131
Hey @keren-w, yeah the issue is still open! Feel free to check out our [contributing guide](https://github.com/SSENSE/vue-carousel/blob/master/CONTRIBUTING.md) - it should cover the basics. Other than that, the usual way most people go about contributing is to fork the repo and make a PR. From there we'll review and discuss potential changes/tweaks if any. Once it's been approved, we'll merge and

[2018-12-17 20:45] quinnlangille commented on #347
Hey @yumemi-yamasaki, this has already been reported! I'll close this issue, feel free to follow along or make a comment on #345 :octocat:

[2018-12-17 20:45] #347 closed

[2018-12-17 20:50] quinnlangille commented on #348
Hey @samit4me, yeah these are just NPM warnings from mismatched sub-dependency versions, and probably out of our control to fix. It shouldn't cause any performance issues, and `v0.16.0` is stable to use. However, if you do notice performance problems on `v0.16.0`, feel free to open an issue!

In terms of the warnings, we'll try to resolve in `v1.0` but these sort of things are usually dependant on

[2018-12-17 20:50] #348 closed

[2018-12-18 16:12] #229 closed

[2018-12-19 08:42] achtan opened #351 "remove vue-play from dependencies"
why is vue-play listed in dependencies ?
after installing vue-carousel i got ton of unwanted packages...
[code]

[2018-12-19 21:52] quinnlangille commented on #351
`vue-play` is a dependency of the package, we use it for our sandbox environment

[2018-12-19 22:00] quinnlangille commented on #351
Just published the fix `vue-carousel@0.16.2` 🚀

[2018-12-19 22:00] #351 closed

[2018-12-20 06:49] josephting commented on #345
This should be closed now with #346 merged. 💯

[2018-12-20 13:54] gertvdkolk opened #353 "autoplay prop is toggled but does nothing"
## Bug Report

**Current Behavior**
Okay, here it goes..

~A video shows more than 1000 words~

![2018-12-20_14-36-23](https://user-images.githubusercontent.com/8580426/50287915-ac91fc80-0464-11e9-87f7-82d2df5502f4.gif)

I've made a setup where there are 10 panels. Each panel has a card and displays some widgets.
I added a button that toggles the [autoplay] and changes the [speed] and [autoplay-ti

[2018-12-20 21:44] #345 closed

[2018-12-21 00:15] josephting commented on #143
@quinnlangille With all the prep work out of the way, we can begin to improve code coverage now.
To be honest, I'm not that experienced in coming up with test cases to address code coverage.

However, before we begin, can I know what's the objective here?
- Are we aiming for 100% coverage?
- Are we going to use [vue-testing-library](https://github.com/dfcook/vue-testing-library) to do some of the

[2018-12-21 12:44] quinnlangille commented on #353
Hey @gertvdkolk, I haven't looked fully into this but at first glance, I think the issue is similar to #320 in that a few of these settings are only checked on the carousels creation. I'll take a more detailed look, but if that's the case we're planning to remedy this in `v1.0.0` by exposing a carousel-events api.

I'm out of office currently, if you're investigating and find anything in the meant

[2018-12-21 13:06] quinnlangille commented on #143
Yeah, correct @josephting, the aim is for 100% coverage (however, coverage percentage is not necessarily correlated to coverage quality, and we also want to keep that high). We're going to use `vue-test-utils` as much as we can, but the library is still in its infancy so we may need to get creative.

Inexperience is totally fine, that means you'll learn a lot from the project! Both @ashleysimpson

[2018-12-26 06:50] dmitr11 commented on #233
use ready

mounted(){
            $(document).ready(function() {

            });
        }

[2018-12-26 15:33] quinnlangille commented on #233
^ you can do the same in plain javascript without having to load in jQuery

[code]

[2018-12-28 02:12] darraghenright commented on #310
Hi @quinnlangille

I just started using VueCarousel in a personal project and really love it - thanks very much for the great work!

I was reading the issues and had a quick dive into this one. I see that @stokaboka already submitted a merged PR to change `slideClick` to `slideclick`.

With regard to your second point, I did an audit on the code and found three other events that are still formatte

[2018-12-28 02:15] darraghenright commented on #310
As an aside, I think some of the events are not documented, but I haven't checked if someone else has opened another issue or PR for this.

[2018-12-28 06:14] josephting commented on #143
@quinnlangille I attempted to increase the code coverage but to no success. I guess I'm just not proficient enough to figure out what's going on behind the scene.

My attempt here is to test `adjustableHeight` and `adjustableHeightEasing` properties. From there, I can see that `transitionStyle()` computed value directly relates to the properties above.

So, I came up with 2 cases where: (assuming

[2018-12-28 22:07] quinnlangille commented on #310
Hey @darraghenright, thanks for taking on the issue! I would be fine with non-hyphenated (`pagechange` vs `page-change`) but, if you'd like to migrate all events to hyphenated versions feel free. I think meeting the vue style guide is a direction we should be taking. It would be good to maintain backwards compatibility here if we can!

Let me know if you have any questions :octocat:

[2018-12-28 22:13] quinnlangille commented on #143
@josephting your test looks fine, given the case you're trying to test. This seems like an issue with the coverage tool, rather than your test. Maybe even some `vue-test-utils` weirdness considering the initialization issue.

If we can deterministically fail or pass the tests, and the snapshot output is what we're expecting - I'd consider that a win. Mind pushing up your branch and I'll take a loo

[2018-12-31 10:54] AmrKafina commented on #61
Not sure if it helps, but I managed to fix this to some extent by adding `max-width: 100%` to the `slide` component.

[2018-12-31 19:37] darraghenright commented on #310
Yeah, I'd be happy to migrate all events - definitely seems like a good idea to adhere to the Vue style guide there!

In terms of backward compatibility, do you mean we should leave any existing events as-is, and add the new events, in case there is userland code that depends on the old events?

If so, in Carousel.vue we'd do something like:

[code]

With a view to removing the old event for some

[2018-12-31 19:59] darraghenright commented on #310
Speaking of backwards compatibility - I was re-reading Vue's event naming recommendations, and there was an implication that I didn't pick up previously: event listeners are case insensitive in _DOM templates_, which of course means it's not possible to listen to emitted events in `camelCase` and `PascalCase` as their lowercase variants would be expected.

However, in string templates, event liste

[2019-01-02 04:48] BorysTyminski commented on #138
I used @deakpal solution and actually it's working but for some reason now my pagination dots disapear. When I inspect console it added `display: none` to .VueCarousel-pagination element as inline style. Even when I overwrite it I can see only one dot and there is actually only 1 dot in DOM.

[2019-01-02 08:09] Uyarn opened #356 "Feature Request: truncate pagination dots"
Hi,
   Our team use vue-carousel and it is awesome:)
   Does it supports hide the dots when there are too many carousel photos?
   For example, If there are 20 photos and the current pages is 10, I just want to display the No 8, 9, 10, 11, 12 dots and hide the previous dots(1,..,7) and the following dots(13,..,20)

[2019-01-02 15:31] quinnlangille commented on #138
@BorysTyminski what version of the carousel are you using?

[2019-01-02 15:33] quinnlangille commented on #356
Hey @Uyarn, this isn't a currently supported feature. Just to confirm, you're looking to truncate the pagination dots and show something like

`first ... 8 9 10 11 12 ... last`

When you have more than a predetermined number of dots?

[2019-01-02 16:02] Uyarn commented on #356
Hey @quinnlangille, thanks for your quick reply.
Yes my expectation looks like this. But actually the feature I mean is that there we can provide pagination.vue another props attribute called `dotsNumbers` which is the dot number we want to display. Of course it needs some animation to show the carousel moves.

[2019-01-02 16:05] uyarn commented on #356
Hey @quinnlangille, thanks for your quick reply.
Yes my expectation looks like this. But actually the feature I mean is that we can provide pagination.vue another props attribute called dotsNumber which is the number of dots we want to display. Of course it needs some animation to show the move of carousel .

[2019-01-02 16:46] quinnlangille commented on #356
Yeah, ok thats what I understood. If we pass something like `maxPaginationDotCount` we can make the logic based on that. I'll move this to a feature request and see if anyone would be interested in helping to implement!

[2019-01-02 20:15] BorysTyminski commented on #138
@quinnlangille

    "vue-carousel": "^0.10.0",

I don't know if it can be relevant but I display `<slide>` component in `v-for` loop:

             <div class="yacht__throw" v-if="imagesThrow.length > 1">
                     <carousel ref="carousel"
                              :perPage="1"
                              :autoplay="false"
                              :autoplayTimeout="3000"

[2019-01-02 23:19] quinnlangille commented on #138
👍 All good! I'm going to close this issue, as I think it and it's edge cases have been resolved by recent updates.

Anyone still having any issues regarding this, feel free to post after I've closed or open a new issue :octocat:

[2019-01-02 23:19] #138 closed

[2019-01-03 03:00] Uyarn commented on #356
Well, I am interested in implementing it :)

[2019-01-03 08:19] Jones-S commented on #61
Well, I have not touched this project for quite a while. If I do that or whenever I need a new slider I will try it out. Maybe somebody else has tested it?

[2019-01-03 14:17] quinnlangille commented on #356
Great @Uyarn, feel free to submit a PR once you have something up and running 🚀 If you have any questions or need a hand just lemme know!

[2019-01-03 20:40] darraghenright commented on #310
Sounds great! :sunglasses: I'll get working on this asap

[2019-01-08 12:41] marbuser opened #357 "`slideWidth` Doesn't get set correctly."
## Bug Report

**Current Behavior**
Creating a carousel with 4 slides with the config;
[code]
Maybe 20% of the time in the browser is works as intended. The other 80% the `slideWidth` gets set to 32 (When it should be 300).

As soon as you interact with the carousel it fixes, but that's obviously not the idea solution.

I have no idea what is causing this and it doesn't really make much sense.

**

[2019-01-08 20:38] jp-sauve commented on #49
Is this related to being dynamic? I have a slide component, and can't get the slideshow working either, although all of the slides' data are in the carousel component.

[2019-01-09 12:19] darraghenright commented on #310
Just been looking at this some more, and it won't be possible to just duplicate the `navigationclick` and `paginationclick` events with their kebab-case counterparts because they are used internally to trigger  modifications to the page number. One of the navigation tests fails as a result of this. I'll have a look of what can be done there.

In any case, would it be fair to assume that they are "

[2019-01-09 12:40] darraghenright commented on #310
A quick note—I decided to revert my changes of these events from camelCase to lowercase because case is still significant in string templates as previously discussed, and I figured there was a chance that there is userland code that might rely on these. So I just added the kebab-case versions instead.

[2019-01-10 15:10] rnunot commented on #334
I can confirm this is not working.

Here's a reproduction: [https://codesandbox.io/s/j2y8vnqxvy](https://codesandbox.io/s/j2y8vnqxvy)

If the `dir` attribute is set to rtl the slides will display to the left of the first slide and will be inaccessible while additional blank slides will be added to the right.

If you set the parent element `dir` to be ltr and use `autoplayDirection="backward"` then

[2019-01-15 02:01] quinnlangille commented on #334
Thanks for the repro @rnunot, this is definitely an issue. I'll add the bug flags ASAP and hopefully someone can investigate. I have a feeling it has something to do with the fix made for #323, could be a good place to start investigating for whoever decides to make the fix!

[2019-01-15 02:02] quinnlangille commented on #49
Hey @jp-sauve, mind sending over a reproduction of your issue? If _nothing_ is loading at all, this seems unrelated

[2019-01-15 02:06] quinnlangille commented on #310
Hmmm yeah I think we can assume that if an event doens't have an obvious exposure to users then we can consider it `internal`. I think as long as we're standardized and backwards compatibility is maintained then we should be on the right track. Once we issue and move past the deprecation notice, we'll be free to make whatever change is necessary - until then, let's play it safe! Thanks for looking

[2019-01-15 03:09] fattchris commented on #138
I can confirm that with version 0.17.0, placing the carousel in a Bootstrap Modal still exhibits this bug. I do not currently have a workaround, and the CSS "work arounds" listed here do not work.

[2019-01-15 13:51] jp-sauve commented on #49
@quinnlangille I actually switched to using a nested template instead of a separate component for the slides and it worked as expected. I have limited needs so it worked. If I have some time I'll play with it again, as we may want to add more in the future.

[2019-01-16 03:08] quinnlangille commented on #49
Good to hear @jp-sauve!

[2019-01-16 23:01] darraghenright commented on #310
Sounds good! I'll review tomorrow and see where we're at, and throw you some questions if they arise. I think some documentation might need to be updated too so I will look at that, and I guess if that's everything I'll create a pull request then.

[2019-01-17 10:51] shapiromichael commented on #244
Looking forward for this feature as well - I imagine that you can even drag to the left from the starting point to get to the last items on your carousel

[2019-01-17 10:54] shapiromichael opened #358 "Feature: stop autoplay after first interaction"
**Is your feature request related to a problem?**
When you set autoplay and drag the carousel - the autoplay will not pause / stop (there's no hover event on mobile).

**Describe the solution you'd like**
An option to stop the autoplay after the first user interaction with the carousel (clicking on the indicator dots / navigation arrows / dragging the carousel).

[2019-01-18 02:31] quinnlangille commented on #358
Hey @shapiromichael, this should be a pretty easy feature to implement. I think it's a reasonable request, I'll add the flags!

[2019-01-18 02:33] quinnlangille commented on #310
Sounds good, I'll review as soon as it's up! 🚀

[2019-01-22 12:30] smakman commented on #138
I trigger a window resize once the carousel is visible:

[code]

[2019-01-23 13:18] markus361 commented on #68
@CavalcanteLeo, did you encounter a bug in IE11? I tried to do the same an but slides don't fit the slider width anymore

[2019-01-24 13:39] amjadkhan896 commented on #31
I am having the same issue. Not working in SSR "npm run build" command

[2019-01-25 11:53] utkarshnag commented on #334
@rnunot setting autoplayDirection to backward would make the last slide to appear so that the autoplay can be started from the last slide to the first one in rtl fashion. Ideally I think you should not use both dir and autoplayDirection.

[2019-01-25 15:00] rnunot commented on #334
@utkarshnag

That's the issue though, to truly support rtl layouts the slide order must be reversed, we can't simply start on the last slide.

`autoplayDirection` probably isn't the best solution for this issue since it actually does something else (start on the last slide) which has its uses in both ltr and rtl directions.

Currently rtl can be achieved with a [workaround](https://codesandbox.io/

[2019-01-29 12:02] srsalute opened #363 "Error when i use a carousel vue component inside a card"
i'm using carousel-vue inside a card component, i define the margin of the card and its works when i have no slides of carousel defined, but when i have, the margin-left disapears, and the card stay together with the left border of window.

![marginerror1](https://user-images.githubusercontent.com/14018087/51906648-bab03280-23ab-11e9-8dd9-dea9d02f0445.png)
![marginerror2](https://user-images.githu

[2019-01-30 10:15] hdodov opened #364 "Avoid using aggressive styles"
Very nice component, but it's hard to customize it visually. I need to restyle the prev/next buttons, but it's harder because they're styled from within the component. Even worse, the styles are scoped, so they have an even bigger specificity. This sucks, especially if you're using BEM and you're writing low-specificity selectors.

I think styles should be separated and not put in the SFC. Instead

[2019-01-30 16:03] rico-ocepek commented on #364
I did exactly what you are asking for and I  personally don't think that it was particularly difficult.
Inside the component which uses the carousel you can just use the css `/deep/` selector and as webpack (or whatever module bundler you are using) will assign the same scope attribute to everything style directive it does not actual effect the specificity of your selectors that way

`
    /deep/

[2019-01-30 16:35] rico-ocepek commented on #251
Any news with this one?
The `slideClick` event is still not working and it took me almost an hour to figure out that I need to use `slideclick` instead

[2019-01-30 16:38] ERPedersen commented on #251
@rico-ocepek

It's fixed in https://github.com/SSENSE/vue-carousel/pull/361, but isn't merged yet

[2019-01-30 16:59] marbuser commented on #357
Any update on this? It's been almost a month and not a single reply. :/

[2019-01-31 14:42] quinnlangille commented on #364
@hdodov we're actually working on a full component rewrite right now for the v1 release - this will ideally include functional components and separate styles! I'll ping here once we get to that point if you'd like to make some contributions or have any additional input :octocat:

[2019-01-31 14:44] hdodov commented on #364
Sounds awesome! Thank you very much!

[2019-01-31 14:46] quinnlangille commented on #357
Hey @marbuser, I missed the original post! Sorry about not replying. This is an open issue (you can find more details here #233) and we're working on a a fix currently #274. Unfortunately, it's not an easy issue and has a ton of side effects. The refactor is planned as part of v1, but in the mean time you can find a few workarounds in #233! Lemme know if you have any questions about it - I'm going

[2019-01-31 14:46] #357 closed

[2019-01-31 14:51] quinnlangille commented on #363
Hey @srsalute, I've seen a similar issue to this recently but with right-side flushing (it was resolve here #324) and it may have caused this side effect. Can you send a reproduction on jsFiddle or a gitrepo that we could look at to help debug?

[2019-01-31 14:55] quinnlangille commented on #334
@rnunot I'm pretty unfamiliar with rtl layouts, but what you're suggesting is that in addition to setting scroll direction to backwards and starting on the last slide, we should also switch slides from
[code]

If that makes sense, should be a simple fix! Lemme know if I'm missing any requirements, and if not I can switch this to a feature request :octocat:

[2019-01-31 14:57] quinnlangille commented on #31
Hey @amjadkhan896, there are lots of potential solutions for SSR posted above ^. So many, that it actually warrants closing this issue. I'll flag it as a question for searchability, but this issue is definitely resolved :octocat:

[2019-01-31 14:57] #31 closed

[2019-01-31 16:07] rico-ocepek commented on #251
@ERPedersen  @quinnlangille Thank you guys!

[2019-01-31 16:51] AleRohvt opened #365 "dragging with the touchscreen and mouse doesn't work"
I'm using carousel-vue but dragging with the touchscreen and mouse doesn't work when I start the application. if I reload the application this feature works. Is it a bug? or what can I do?

[2019-01-31 17:46] rnunot commented on #334
@quinnlangille That seems about right but I'm not sure if that implementation is the best...
Starting on the last slide and inverting the order will work assuming the carousel is inside an element with `dir="ltr"`, that's basically what I did in my [workaround](https://codesandbox.io/embed/k9w07yox6v?module=%2Fsrc%2FAppCarousel.vue).

If you check the [reproduction](https://codesandbox.io/s/j2y8vn

[2019-02-02 07:33] marbuser commented on #233
@dmitr11 Could you possibly elaborate on what exactly `el.data` is?
You pass in the data prop but use it for nothing else except, `el.items = el.data`.

So could you possibly elaborate on what this data actually is?

[2019-02-02 13:43] marbuser commented on #233
Hey @quinnlangille
I tried this but it didn't work. It never got triggered in Vue for some reason. :/

Tried both es5 and es6 syntax.

[code]

[2019-02-04 18:31] timeandtimeago commented on #96
Please add the :loop="true" to the API page.
https://ssense.github.io/vue-carousel/api/

[2019-02-06 08:02] rico-ocepek commented on #257
@quinnlangille don't forget this one please ;)

[2019-02-06 09:22] rico-ocepek commented on #257
@quinnlangille @ashleysimpson
I fixed the issue and created a PR that fixes the issue and includes the missing readme update

https://github.com/SSENSE/vue-carousel/pull/366

Btw thank you for your work here!

[2019-02-06 13:13] simonorono commented on #288
@timeandtimeago this is yet to be implemented

[2019-02-07 03:59] parmira5 commented on #358
Hey, I'm new to development and contributing to open source, but I'd love to take a shot at this.

[2019-02-08 04:50] devWaleed opened #367 "Feature Request: disable pagination click but show dots"
Hey, is there a way to disable click on pagination so user can't click to change slide but still show pagination dots for visual understanding of the slide change?

[2019-02-09 06:27] Yalm opened #368 "Does not use passive listeners"
**Does not use passive listeners to improve scrolling performance**
if you add {passive: true} the problem is fixed

   ` this.$refs["VueCarousel-wrapper"].addEventListener(
        this.isTouch ? "touchstart" : "mousedown",
        this.onStart,{passive: true} ); `

[2019-02-12 20:10] rfriberg commented on #345
Hi! I'm still seeing evidence of this behavior.  I.e., I can reach the last slide by pressing "next" button but not by swiping.

I was able to reproduce on that same "Navigation buttons and scrollPerPage false" scenario mentioned above with some minor changes:  load 9 or more slides and change `perPage` to anything more than '2':

[code]

[2019-02-12 20:41] emcniece opened #369 "How to wrap/extend slides in a new component"
I'd like to extend the `<slide />` component so that I can have multiple clearly-defined slide types, like `<ImageSlide />` and `<TextSlide />`. However when I attempt this, the carousel treats all of the slides as a single slide, almost as if it doesn't recognize the base `<slide />` component.

Here are some things I've tried:

0. Plain wrapper + slot (content added in parent)

[code]

1. Extend

[2019-02-13 23:12] emcniece commented on #369
Got it. From the docs:

tagName | String | slide | Name (tag) of slide component. Overwrite with component name when extending slide component.
-- | -- | -- | --

... so using `<carousel tagName="mySlideComponent">` would work.

This behaviour is caused by the regular expressions like [Carousel.vue#L646](https://github.com/SSENSE/vue-carousel/blob/master/src/Carousel.vue#L646) which restricts the

[2019-02-13 23:12] #369 closed

[2019-02-14 11:22] Sumeshkumar opened #371 "Auto play stop when click on the pagination dot on mobile"
## Bug Report

**Current Behavior**
Auto play stop when click on the pagination dot on mobile. Auto play does not start again until manually click somewhere outside the carousel. Is this behaviour is expected on mobile?

[2019-02-14 15:40] rasteiner commented on #320
For people googling, I had this problem for a "kiosk" application (a touchscreen running a fullscreen website in a museum). Fortunately you can force enable the touch events api in chrome://flags. (search for "touch api")

Ofc this isn't a solution. Just a workaround for a very specific use case. Maybe it helps other people.

[2019-02-18 06:20] devWaleed commented on #367
Is there anyway to stop clicking?

[2019-02-18 17:01] syneva-runyan commented on #178
Hi! Not sure if this is an outstanding issue or not, but happy to jump on it if so! My understanding of reading this is that in the scenario with:

+Six Slides
  :per-slide="2"
  :scrollPerPage="false"

EXPECTED BEHAVIOR:  6 Dots are shown in the pagination
ACTUAL BEHAVIOR: 5 Dots are shown in the pagination.

Question: Empty slide spaces. Ex, When the 5th dot is highlighted, the 5th slide is show

[2019-02-21 22:53] podhornyi commented on #367
For now it is impossible
But it's good to have, will create pull request with needed changes shortly

[2019-02-24 14:47] quinnlangille commented on #233
@marbuser are you getting any JS errors in your console?

[2019-02-24 14:49] quinnlangille commented on #358
Hey @parmira5, I missed this notification! If you're feeling up to it feel free to take a look at our [contibution guide](https://github.com/SSENSE/vue-carousel/blob/master/CONTRIBUTING.md) and open up a PR!

[2019-02-24 14:51] quinnlangille commented on #369
Hey @emcniece, we're working on a refactor of this right now for v1 - definitely a good point. We will check the need for the regex and see if it's necessary to keep!

[2019-02-24 14:52] quinnlangille commented on #371
Hey @Sumeshkumar, that is definitely not expected! Thanks for reporting. Do you have this working live somewhere that we can take a look at to debug?

[2019-02-24 14:57] quinnlangille commented on #178
Hey @syneva-runyan, thanks for offering to take this one. I think the root cause of this whole issue is a desperate need for refactoring in our slide calculation logic. We're currently working on it in office, but if you'd like to take a crack at improving the logic you're more than welcome!

In regards to your question, I think the best solution is to show an empty place holder slide. i.e - if we

[2019-02-24 15:02] quinnlangille commented on #367
Good idea @devWaleed. Looking forward to reviewing the PR @podhornyi

[2019-02-24 15:04] quinnlangille commented on #364
Forgot to close this with my last comment - closing now!

[2019-02-24 15:04] #364 closed

[2019-02-25 14:41] syneva-runyan commented on #178
Seems right to me, I'll take a look!

[2019-02-26 05:53] Sumeshkumar commented on #371
Hey @quinnlangille thanks for the reply. Sorry I do not have a live link currently which you can check but looks like the the issue can be reproduced from the below link. Please check the auto play section and click on the pagination dots.

https://ssense.github.io/vue-carousel/examples/

I have tested on IPhone 6s safari browser on private mode.

Please let me know if you guys needs more info fro

[2019-02-26 11:23] devWaleed commented on #72
I am still having this issue. :navigation-enabled="true" or :navigationEnabled="true" is not working.

[2019-02-26 11:24] devWaleed opened #375 ":navigation-enabled="true" or :navigationEnabled="true" is not working."
I am having this issue.

 :navigation-enabled="true" or :navigationEnabled="true" is not working. It doesn't show next/previous buttons.

[2019-02-26 11:35] #375 closed

[2019-02-27 10:32] amjadkhan896 commented on #192
Is this feature is completed, We are waiting for it. Though it works on SSR, the view source is not generating when we run the build. When we run the npm run dev dev, it's generating the view source

[2019-02-27 12:05] devolutionsOffice commented on #312
did anyone find a solutions for that?

[2019-02-27 13:11] differentMonster opened #376 "loop return motion ."
Problem : isit possible that the slider can loop from the start without doing the the return back motion ?

i wish to make the slider loop from the start when reaching the end , but setting :loop="true" will have this jump back return motion which i find it disturbing , do anyone has any solution for this loop to go back smoothly from the start slider ?

[2019-02-28 17:08] willans opened #377 "Exclude CSS"
Is it possible to not include the CSS that comes with the Carousel. I often like to use my own and really strip back anything I won't need.

[2019-03-02 08:25] Uyarn commented on #356
Hi, @quinnlangille, I submit a  [PR](https://github.com/SSENSE/vue-carousel/pull/379) for this feature request :) if you are free, pleaese review it

[2019-03-03 14:59] Danon opened #380 "Sliding on mobile causes whole page to slide."
## Bug Report

**Current Behavior**
When I slide the carousel on android, the carousel scrolls as expected - but I can also see typical indicators of the page not being able to scroll left anymore.
![image](https://user-images.githubusercontent.com/13367735/53696958-40206b80-3dcc-11e9-8ad7-ab7fa7158edb.png)
On iPhone, the same effect - the carousel scrolls but the whole pages "tries" to scroll lef

[2019-03-03 17:06] Danon commented on #380
Ok, The bug still persists, but I managed to walk around it. You just set `overflow:hidden` to the parent of `vue-carousel`:
[code]

[2019-03-06 23:06] nicholasgriffen commented on #377
Hi willans, the style appears to be baked into the component, as for example from line 910 here https://github.com/SSENSE/vue-carousel/blob/master/src/Carousel.vue. I suppose you could clone, remove the styles from the source code, and build an unstyled version for your project but I do not know how that would affect the behavior of the Carousel.

[2019-03-07 10:21] frizar opened #383 "Feature Request: dynamically disable/enable mouseDrag and touchDrag"
Hey. Is there such a possibility now to dynamically disable/enable mouseDrag and touchDrag?

[2019-03-09 15:10] matthew-inamdar commented on #81
For anyone else facing this issue - the solution by @podlebar above was the only one that worked for me!

[2019-03-11 16:35] jsilasbailey opened #385 "Missing cleanup of resize listener"
## Bug Report

Currently in the `mounted()` hook of `Carousel.vue`, an event listener is attached to `window`,

[code]

But there is no equivalent `removeEventListener` call in the `beforeDestroy()` hook.
This results in a buildup of listeners on the window object when a page is navigated to and away from multiple times via routing.

[2019-03-12 10:52] CeciliaSilvera opened #386 "pagination buttons missing type attr gets interpreted as submit-btn"
pagination buttons missing type attr gets interpreted as submit-btn

on clicking pagination a request gets sent to server. This is because type attribute is not set on dot-buttons and browser interprets it as a submit button.

[2019-03-12 13:33] ElijahKotyluk commented on #248
I'm looking to start contributing to open source projects, was wondering if this feature request was still available to try and check off?

[2019-03-13 01:03] abhipanda opened #388 "Accessibility: Section lacks heading"
## Bug Report

Incorrect use of section tag causes HTML syntax to be invalid. The section tag used MUST have a heading.

Fix is to convert the section tag to a div.

[2019-03-13 03:37] 1yzz commented on #88
`named slot` would be much more better. no need to add more event listeners

[2019-03-13 11:03] gameofgnomes opened #390 "Initial Active Slide has no active class"
When the slider is initialised, the VueCarousel-slide-active class isn't added to the first visible slide. Only when navigating through the slider does it then get added.

[2019-03-14 07:59] sun-kingcity opened #393 "Auto hide swal when slideclick"
## Bug Report

**Current Behavior**
When bind click to trigger a swal, the popup turn on and turn off immediately

[code]

**Possible Solution, it's ok if adding 1ms timeout (tried nextTick, but no luck)**
[code]

[2019-03-16 12:15] simbilim commented on #72
@devWaleed have you found a way to fix the issue?

[2019-03-16 14:49] simbilim opened #396 "Slide left once moves all slides"
Hi, first of all thank you for building and sharing this plugin.

I'm having an issue with the transform of the VueCarousel-inner.
At pageload 4 slides are visible. When I click to slide left, all 10 slides slide left and none are visible.

[code]
[code]
[code]

What I want to achieve is that only a single slides moves when navigation is clicked.
And the flex-basis should be fixed because the cont

[2019-03-17 12:30] matamune94 commented on #150
The current version has not been resolved, need fix please

[2019-03-17 12:54] matamune94 commented on #174
fix please

[2019-03-17 15:36] quinnlangille commented on #371
Ah, that's easy enough for us to see. We're working on the pagination component currently, so I can take a look!

[2019-03-17 15:37] quinnlangille commented on #192
Hey @amirmasoud, proper SSR support will hopefully be resolved in the upcoming v1 release. Will keep you posted on this issue if we have any major developments/setbacks

[2019-03-17 15:40] quinnlangille commented on #376
Hey @differentMonster, we already have a issue open regarding this -> #288. I'll close this in lieu of that, feel free to follow along or comment there!

[2019-03-17 15:40] #376 closed

[2019-03-17 15:40] quinnlangille commented on #356
Hey @Uyarn, sorry for the delay! I'll hopefully be reviewing today

[2019-03-17 15:43] quinnlangille commented on #380
Hey @Danon, thanks for the report and sorry for the long response! I agree that that is a bug, and in the mean time we've been using `overflow: hidden` as well. I'll report back here if we have any developments!

[2019-03-17 15:45] quinnlangille commented on #377
@nicholasgriffen is correct! We're currently using single file components, so the template and styles are baked in. Part of our v1 refactor is to move to a more functional component design, which will have the added benefit of separating our CSS.

Going to close this in the mean time, as currently we have no way around embedded CSS.

[2019-03-17 15:45] #377 closed

[2019-03-17 15:47] quinnlangille commented on #383
Hey @frizar, it currently is not! We have a feature request open for that here ->  #333. I'll close this in lieu of that, but feel free to follow along!

[2019-03-17 15:47] #383 closed

[2019-03-17 15:49] quinnlangille commented on #385
Hey @jsilasbailey super good find! That's a quick fix on our end, I'll make a PR this week. :rocket:

[2019-03-17 15:51] quinnlangille commented on #386
Hey @CeciliaSilvera, thanks for the report. Just confirmed that behavior on my end, will make a PR to fix asap! Thanks for reporting :pray:

[2019-03-17 15:53] quinnlangille commented on #248
Hey @ElijahKotyluk, sorry for the late reply! Yeah this is still open for sure, feel free to submit a PR :rocket: If you need any help with your first contribution, feel free to ask any questions her or over email. Also, make sure to checkout our [contribution guide!](https://github.com/SSENSE/vue-carousel/blob/master/CONTRIBUTING.md)

[2019-03-17 15:54] quinnlangille commented on #388
Hey @abhipanda, thanks for submitting the fix! I'll review asap

[2019-03-17 15:56] quinnlangille commented on #390
Hey @gameofgnomes, good catch! I'll flag this as a bug, should be a quick fix for whoever wants to take it on :rocket:

[2019-03-17 15:59] quinnlangille commented on #393
Hey @sun-kingcity, this bug doesn't seem related to the vue-carousel's code base. and more an issue with it's implementation. I'll close this for now, so someone doens't interpret it as needing fixed.

[2019-03-17 15:59] #393 closed

[2019-03-17 16:00] quinnlangille commented on #396
Hey @simbilim, any chance you could send a repoduction over? I'm having a hard time visualizing what the desired result is. I can help debug further with a jsFiddle or a repo you have up that I can clone

[2019-03-17 16:02] quinnlangille commented on #150
Hey @matamune94 this was resolved quite a while ago, what version of the carousel are you using?

[2019-03-17 17:25] abhipanda commented on #388
Thanks @quinnlangille

[2019-03-17 19:31] matamune94 commented on #150
final version sir

[2019-03-17 19:53] matamune94 commented on #150
@quinnlangille Im use nuxtjs with vuetify and vue-carousel .

[2019-03-18 02:56] quinnlangille commented on #312
@koraykupe feel free to share if you end up implementing something on your end!

[2019-03-18 03:00] quinnlangille commented on #150
@matamune94 final version meaning `0.18.0-aplha`?

[2019-03-18 03:06] matamune94 commented on #150
@quinnlangille i use npm install maybe is true ?

[2019-03-18 03:21] matamune94 commented on #150
@quinnlangille
https://www.jsdelivr.com/package/npm/vue-carousel
I think is last version

[2019-03-18 03:50] matamune94 commented on #150
this my https://jsfiddle.net/matamune94/okbj871y/6/ when u click on numbers on sides and drag. it will have bropblem

[2019-03-18 08:40] koraykupe commented on #312
Sorry, I switched to another plugin.

[2019-03-18 09:41] matamune94 commented on #150
check please
![Alt Text](https://previews.dropbox.com/p/orig/AAX6FI3qXEDUU1UpoKNVMU87pO1MIKC8NpDQOn2eGHGdHMl_4-T5j6BAJjML2iTVxCHI_HJf4j2fW2ebcFlEMwvlCj-W_jBjCEhiinOW3c3bnCOHgkyF71vul-mhLSwTqYij91CSr21MjvkxPXf-Gc-WS8DXmSms-yN0pW39Beyz9wIq5aUzxYVb0ivCHOqMrJvD-Mxmz7-c1z2R8NDDebzPIsEAeYWox_8wRXcEFBJOl2s8P-SuTqKtuGkiKC3v5uZXokaF71-6AeesdgN5uNNQ/p.gif?size=1600x1200&size_mode=3)

[2019-03-18 15:05] SushmitaTardia opened #397 "Last slide is getting cropped in carousel"
## Bug Report

**Current Behavior**
On sliding to last slide, there is a truncation on the last slide

**Input Code and steps to reproduce**
- https://jsfiddle.net/705fwdta/

**Expected behavior/code**
There should be no truncation on the last slide.

[2019-03-18 16:19] quinnlangille commented on #150
Hey @matamune94, I'm not able to recreate using the jsFiddle you sent above. Perhaps its a browser setting or something else on your end causing the issue?
![link_scroll](https://user-images.githubusercontent.com/17895168/54545417-062c9900-4978-11e9-948e-7bf629f1d775.gif)

[2019-03-18 18:45] matamune94 commented on #150
i said you click on numbers not slide sir

[2019-03-18 19:02] matamune94 commented on #150
@quinnlangille https://jsfiddle.net/matamune94/okbj871y/26/ , im fixed example , please try again

[2019-03-18 19:14] quinnlangille commented on #150
This is still working exactly as I would expect, no different from my video posted above. If I explicitly click on the slide, it opens the link, otherwise the dragging works as expected.

[2019-03-18 19:18] matamune94 commented on #150
tôi đã thử trên nhiều máy tính khác nhau và nó có cùng vấn đề như vậy , you should consider this issue carefully. I really like this carousel

[2019-03-18 19:20] matamune94 commented on #150
I tried on many different computers but it had the same problem that I gave, You should thoroughly examine this issue sir, I really like it

[2019-03-18 19:58] quinnlangille commented on #150
Sorry @matamune94 but we are not able to do anything about an issue that we cannot reproduce. I'm going to close this issue now, as from what I can tell this issue has been resolved since `0.7.1`, as stated above.

[2019-03-18 19:58] #150 closed

[2019-03-18 20:07] quinnlangille commented on #397
Hey @SushmitaTardia, I'm not seeing any cropping of the slide in your example. If I'm understanding correctly, you're seeing the 5th slide appearing less wide than the 4th slide, when on the 3rd page?

[2019-03-19 11:52] seijihariki commented on #88
Yeah, I agree with @1yzz. While you can use refs, `named slots` would be much more idiomatic and easy to use.

[2019-03-19 23:46] ElijahKotyluk commented on #248
Hey @quinnlangille, I'm going to get started this weekend. I'll get in touch prior to beginning. Thank you.

[2019-03-20 09:27] Yezuz05 commented on #224
@ynte I'm having the same issue, did you find a way to fix it?

[2019-03-20 11:59] ynte commented on #224
@Yezuz05 I created two separate data members (with the same contents) for my two carousels. You cannot pass the same object to multiple `perPageCustom` props.

Caroussel 1:
[code]

Caroussel 2:
[code]

[2019-03-20 12:23] dappiu commented on #81
I can confirm the @podlebar solution is working with Nuxt@2.4.5 and vue-carousel@0.17.0, but I still see an error on server side. This could be because I was using nuxt dev mode, anyway to prevent the server from even trying to resolve the import Promise, I modified the arrow functions returning component like this:

this modification generates no errors during server side rendering, and also prev

[2019-03-20 13:53] dappiu commented on #81
Please note that the solution above with delayed import, for Nuxt is required only when you don't want to make Carousel and Slide components available globally.
Otherwise using a Nuxt plugin (loaded with option `ssr: true` -or `mode: 'client'` or again ending the file name with `client.js` for newer Nuxt versions) is all that you have to do, because you don't need to import Carousel and Slide to m

[2019-03-21 14:04] Yezuz05 commented on #224
@ynte Thanks. :smile:

[2019-03-21 19:08] #388 closed

[2019-03-21 21:03] quinnlangille commented on #334
Our RTL has been upgraded thanks to @farnabaz! I'm going to close this, as from what I can tell we've met all the requirements listed above! If anyone has any more suggestions, please don't hesitate to ask :octocat:

[2019-03-21 21:03] #334 closed

[2019-03-21 21:04] quinnlangille commented on #356
This has been released! Thanks for the contribution :octocat:

[2019-03-21 21:04] #356 closed

[2019-03-21 21:05] quinnlangille commented on #358
This has been released in 0.18.0 :octocat: Thanks for the contribution!

[2019-03-21 21:05] #358 closed

[2019-03-21 21:06] quinnlangille commented on #338
This has been released in 0.18.0 :octocat: Closing for now, feel free to comment if you have any more questions!

[2019-03-21 21:06] #338 closed

[2019-03-21 21:06] quinnlangille commented on #310
This has been released in 0.18.0 :octocat: Thanks for the contribution!

[2019-03-21 21:06] #310 closed

[2019-03-21 21:07] quinnlangille commented on #249
This has been released in 0.18.0 :octocat: Thanks @nandaleite for the contribution!

[2019-03-21 21:07] #249 closed

[2019-03-21 21:08] quinnlangille commented on #178
This has been released in 0.18.0 :octocat: Thanks @syneva-runyan for the contribution!

[2019-03-21 21:08] #178 closed

[2019-03-23 08:23] ElijahKotyluk opened #405 "Bug: Syntax error when running 'yarn dev'"
I'm trying to run the application using `yarn dev`, and I was coming an error compiling.

ERROR in ./play/index.js
Module build failed: SyntaxError: Unexpected token (252:2)

    250 |   })
    251 |   .add("With local event on pageChange", {
    252 |   .add("navigation-click event", {
        |   ^
    253 |     template:
    254 |        `<div style="width: 100%; display: flex; justify-content:

[2019-03-24 11:58] Tomson124 opened #406 "Adding support for TypeScript"
**Is your feature request related to a problem?**
Using the plugin out of the box with a TypeScript powered Vue.js project is not possible, as the type decleration is missing.

**Describe the solution you'd like**
Adding typescript type declerations by default.

**If any, describe the alternatives you've considered**
Sure you can do this on your own by augmenting, but the easier approach for the u

[2019-03-25 08:16] SushmitaTardia commented on #397
![Screen Shot 2019-03-25 at 1 44 00 PM](https://user-images.githubusercontent.com/36231806/54904272-17d7e880-4f04-11e9-8321-29c61f01acaa.png)
Hey,
Thank you for your reply,
I am attaching the screenshot. You can see that the 5th slide is cropped( the label "5" is cropped).

[2019-03-25 15:54] quinnlangille commented on #397
Hey @SushmitaTardia, this just seems to be an issue with the CSS you've added. If you uncomment the transform you have above it works as expected. As this doesn't seem related to the carousel, I'll close this issue. Thanks for reporting, if you have any questions in the future feel free to open another issue!

[2019-03-25 15:54] #397 closed

[2019-03-25 15:55] quinnlangille commented on #406
Hey @Tomson124, we don't have any near future plans to enabled typescript support. However, I'll leave this open as a feature request incase anyone wants to contribute! :octocat:

[2019-03-25 15:57] quinnlangille commented on #405
Hey @eladFrizi, good call this seems to be the result of a bad merge. Strange it didn't get caught in QA.. I'll fix ASAP!

[2019-03-25 16:00] Tomson124 commented on #406
I will look if I have time to contribute it. Was just wondering if it would be "necessary" as I read lately that Vue will get a complete rewrite for 3.0 in TypeScript.

[2019-03-25 22:02] quinnlangille commented on #405
This should be resolved now, thanks for reporting @ElijahKotyluk! :octocat:

[2019-03-25 22:02] #405 closed

[2019-03-26 05:05] kenpeter opened #407 "In mobile, click on image of carousel, it pops up and allow zoom."
I want to do something similar like [this](https://www.revolveclothing.com.au/mobile/one-teaspoon-bandits-high-waist-short/dp/ONET-WF67/?&d=Womens&page=1&lc=1&itrownum=1&itcurrpage=1&itview=01&product=ONET-WF67)

If I go to mobile size, click on the image
1. It pops up
2. Able to scroll in popup
3. Able to zoom in popup

What is the best place in the code to implement these?

[2019-03-26 13:27] SushmitaTardia opened #408 "pageChange event gives NaN sometimes with mouse drag"
## Bug Report

**Current Behavior**
On mouse drag on the last slide, sometimes pageChange event gives NaN while remaining on the same slide where mouse was dragged upon and after that carousel becomes non-operational on mouse drag(slides do not move at all).

Did not face this issue with custom navigation buttons however.

**Input Code and steps to reproduce**
Attaching screenshot of console log,

[2019-03-26 13:33] wasimins commented on #61
I have created https://www.npmjs.com/package/vue-carousel-variable-width which is actually a fork of vue-caroousel plugin, its not up to the mark of PR as it is failing some test cases but somehow i managed to fix the issue mentioned by @Jones-S  using it.

[2019-03-26 13:41] hudy1 opened #409 "Draggable content inside draggable slide"
Hi,

Firstly, thanks for this very nice component :)

I'd like to have input range inside draggable carousel. But it's _impossible to use these inputs because on drag/click carousel moves to previous / next slide_. Can I somehow control when to swipe carousel or not? Disabling drag functionality for carousel is not an option for me, unfortunately.

[jsfiddle](https://jsfiddle.net/vp6n9xa5/)

Thank

[2019-03-26 15:29] quinnlangille commented on #407
Hey @kenpeter, the carousel emits events on click (not currently on hover, but it could be easily implemented). The "pop-up" you're describing would need to be built outside of the carousel - we don't have or plan on having anything like that natively. Will close this now, since it's not related to the carousel - feel free to open another issue or comment here if anything else comes up!

[2019-03-26 15:29] #407 closed

[2019-03-26 15:31] quinnlangille commented on #408
That's seems like an uncaught edge case! Should be a quick bug to fix, I'll flag as such and hopefully we'll have someone make the contribution. Thanks for reporting @SushmitaTardia!

[2019-03-28 07:47] stelli98 opened #410 "Can't Drag or Swipe Left on Firefox"
Vue carousel is perfectly working on chrome. But when we try on firefox, it only can be drag or swipe to right, when we want to swift to left, the carousel didn't move at all.

 I use vue carousell 0.6.5, and already change it to 0.18
but the issue still happen.

i also try to use **:navigationEnabled="true"** and try to navigate to the left, using the arrow and it's working, but it didn't work if

[2019-03-29 13:15] kristremblay opened #412 "Adjustable height seems to be broken on both Firefox and IE11"
## Bug Report

**Current Behavior**
When using adjustable height, Firefox seems to present the carousel as having a height of only 48.  If you click on the carousel after it loads, it will instantly resize to the proper height.

**Input Code and steps to reproduce**
- set `:adjustableHeight="true"`
- refresh

**Expected behavior/code**
A clear and concise description of what you expected to happen

[2019-03-29 17:58] marceloviana commented on #353
For me is working the stop autoplay:
Vue.component(VueCarousel.name, VueCarousel);
  VueCarousel.props.autoplay.default = false;

[2019-04-01 18:13] quinnlangille commented on #353
Hey @marceloviana, do you mind sending over a jsFiddle or a working reproduction? From what you've posted, I think this should be working. If it's not, we'll need some more info to help debug

[2019-04-01 18:56] quinnlangille commented on #412
Hmm good catch @kristremblay, this seems like we're using some unsupported js. I'll flag and hopefully someone can take a look soon!

[2019-04-01 19:22] quinnlangille commented on #410
Hey @stelli98, thanks for reporting! We have a similar thread here #412. I'll close your issue as a duplicate, but feel free to comment and follow along at #412 :octocat:

[2019-04-01 19:22] #410 closed

[2019-04-02 08:35] kkolataj opened #414 "Is there a "destroy" method for this carousel?"
I would like to destroy carousel with method if its possible because on mobile i need slides placed in vertical view. In this case i just want to use styled list.

I created my project in vue.

Kind regards Reaviel

[2019-04-02 14:40] quinnlangille commented on #414
Hey @kkolataj, every Vue component has a built in destroy method as part of their lifecycle. Calling `Carousel.destroy()` will do just that! Although, keep in mind we have some custom functionality in destroy (most notably, removing event listeners) which you'll need to reattach if you still want for any reason.

I'll close this now, as it feels pretty resolved. Feel free to comment below if you h

[2019-04-02 14:40] #414 closed

[2019-04-03 08:06] jousi592 commented on #368
Yeah I am also getting this issue when running the lighthouse check.

When I add it to `mounted()` like so:

[code]

It gets added, but the lighthouse tool still doesnt see it, is there something wrong with how I am adding it?

Could this perhaps be added natively in the new release?

**UPDATE:**

I found that I need to do this:
[code]
To be able to change the `passive` to `true`.

However, since

[2019-04-03 09:21] DanielFortuyn commented on #192
I still have great difficulty getting it to work in NUXT / SSR env I have tried most options suggested in the comments. But I did not succeed in getting it to work flawlessly for SSR.  I would really like to help to make  this work so if I can help out please let me know!

[2019-04-03 16:05] quinnlangille commented on #368
@jousi592 we have a PR up right now addressing this, will let you know when it's released

[2019-04-04 21:16] youssef-tharwat commented on #101
This Worked for me too. Thank you

[2019-04-04 21:28] syffs commented on #192
Same, even declared with `ssr: false` ! I faced some strange cases where carousel would not render because of its content (changing the content to something basic would actually work). I'd need to find a way to replicate the issue.

@quinnlangille would you know when v1 will be released ?

[2019-04-05 11:47] mcipenuks commented on #390
any updates on this?

[2019-04-05 14:19] skyerus opened #416 "Bug: Carousel is failing to remain locked to correct position on click"
## Bug Report

**Current Behavior**
This is a[ GIF](https://media.giphy.com/media/W3f53LTqVZbTTG7iPC/giphy.gif) displaying the issue

**Input Code and steps to reproduce**
[code]

[code]
**Expected behavior/code**

It works properly when there is at least n + 2 slides (n being the number per page), this is a [GIF](https://media.giphy.com/media/Y3YAEXOsdXMLUU5Ccj/giphy.gif) of it working properly
T

[2019-04-07 03:34] wolfrstrudel opened #417 "Feature: Emit Resize Event"
**Current Behavior**
I'm currently running into an issue where I need the carousel to be an absolutely positioned element and need the carousel's height to position it between elements.  I currently cannot accurately determine it's height since the carousel also recalculates its width and height on window resize.

**Possible Solution**
A  solution to resolve this would be to emit a resize event af

[2019-04-07 03:41] wolfrstrudel opened #418 "Issue with emitting transitionstart and transitionend events"
## Bug Report

**Current Behavior**
Currently the transitionstart and transitionend events emit on all transitions on the carousel and its children. For example, the components within my slides have their own transitions on hover and this causes both of the carousel transition events to fire. Perhaps this is intended behavior but I thought it would only be related to the carousel transitioning bet

[2019-04-10 12:38] rochabianca opened #420 "Improve Website's Examples and API"
I have the habit to always check the website first and then the github, and have notice that the github documentation is way to more detailed than the website, so, could we improve it?

There is some things that people would like to use, that is available (like customize the prev and next arrow, like you can see here: https://github.com/SSENSE/vue-carousel/issues/88#issuecomment-370428489) would b

[2019-04-10 17:28] bschwartz757 commented on #48
It would be really useful to be able to target specific classes on generated elements like `.VueCarousel-pagination`. By default, that's a block element that puts the pagination dots in the middle of a full-width container, so you can't really control positioning at all unless you can target that class in the rendered output. This means that your only option is pagination buttons positioned in the

[2019-04-11 10:28] f3r commented on #21
For me the example above gave me a linter error: `'v-bind' directives require an attribute value                                                                                                                                                                              vue/valid-v-bind'`, this is an alternative that worked for me.

[code]

Thanks guys!

[2019-04-11 10:43] sithuaung commented on #412
I did an ugly fix like this on page load.
[code]

[2019-04-12 10:23] valeriy-efimov opened #421 "only one element slide"
Is it possible to customize your plugin so that when switching slides only one element is added.
example
![image](https://user-images.githubusercontent.com/5989188/56030637-ffe6ce00-5d25-11e9-95e8-b52dedc33548.png)
i want this
![image](https://user-images.githubusercontent.com/5989188/56030661-12f99e00-5d26-11e9-9ea1-8a23a37a8079.png)

[2019-04-13 12:03] pravinfullstack opened #422 "DOM Mismatch"
![Capture1233](https://user-images.githubusercontent.com/11708491/56079453-3437b880-5e12-11e9-99d0-21cfb2cc6071.PNG)
Any reason to why i am getting this ????
PS. I want carousel to be SSR

[2019-04-13 16:30] ElijahKotyluk opened #423 "Bug: Module build failed when running vue-play"
## Bug Report

**Current Behavior**
When running a yarn command that includes `vue-play` the module build fails with this error in the terminal:

![image](https://user-images.githubusercontent.com/24883328/56082513-717a5700-5dce-11e9-9089-105a56676869.png)

And when I inspect in the browser:

![image](https://user-images.githubusercontent.com/24883328/56082483-28c29e00-5dce-11e9-9948-b0a9a2ddd448.

[2019-04-13 16:48] ElijahKotyluk commented on #422
Which version of Nuxt are you using?

[2019-04-13 20:17] YIZHUANG commented on #81
https://www.npmjs.com/package/react-multi-carousel
This is a Carousel that supports SSR but built with React. If anyone is interested, you can use the same logic in Vuejs.

[2019-04-14 08:14] pravinfullstack commented on #422
@ElijahKotyluk  NUXT 2.6.1

[2019-04-15 01:21] phuclh opened #425 "Carousel doesn't display until I click on where the slide would be"
I am using `"vue-carousel": "^0.18.0",` and Carousel doesn't display until I click on where the slide would be. I were looking for the answers and I believe that @quinnlangille said this issue already fixed in the recent update. But it is still happening for my case. Below is my code.

Here is my code:
[code]

ProductItem component:

[code]

[2019-04-15 08:42] rishabhgoel9797 opened #426 "pagination position"
Hey i tried pagination-position. It was working before but its not working now. Please help its urgent

[2019-04-15 21:36] quinnlangille commented on #192
Hey @syffs, we're working on it internally but it's a bit of a slow grind. We're aiming for sometime within the next month or two but no real guarantees

[2019-04-15 21:38] quinnlangille commented on #390
Hey @mcipenuks, this was fixed by @nandaleite in her latest pr linked above. Thanks for reminding me to close! If you roll up to the newest version of the carousel, this will be resolved :octocat:

[2019-04-15 21:38] #390 closed

[2019-04-15 21:39] quinnlangille commented on #416
Hey @skyerus, thanks for the detailed bug report. I definitely have not seen this behaviour before, but can take a look into it! I'll flag as a bug and see if we can get any contributor assistance in the mean time

[2019-04-15 21:40] quinnlangille commented on #417
Hey @wolfrstrudel, good idea! This should be an easy addition, I'll flag as a feature request right now.

[2019-04-15 21:42] quinnlangille commented on #418
Hey @wolfrstrudel, this seems related to #409. I'm going to rename that and we can pick up the discussion for all event propagation related bugs there!

[2019-04-15 21:42] #418 closed, assigned to nobody

[2019-04-15 21:43] quinnlangille commented on #409
As mentioned in #418, it seems this is also happening for most other events in the carousel

[2019-04-15 21:46] quinnlangille commented on #420
Hey @rochabianca totally agree, we're in the middle of a pretty substantial api-recator for v1.0 0 - it will be accompanied with new documentation! We have an open issue here to track the progress once we start #262! I'll close this for now, but thanks for the comment. If you have any suggestions about the docs, feel free to post them on #262 :octocat:

[2019-04-15 21:46] #420 closed, assigned to nobody

[2019-04-15 21:47] quinnlangille commented on #412
@webcrazy thanks for posting! Definitely not ideal seems like it will work for anyone who is waiting for an official fix :octocat:

[2019-04-15 21:48] quinnlangille commented on #421
Hey @valeriy-efimov, you can set the perPage prop to 1! https://ssense.github.io/vue-carousel/api/#perPage

[2019-04-15 21:48] #421 closed, assigned to nobody

[2019-04-15 21:49] quinnlangille commented on #423
Hey @ElijahKotyluk, this seems like something to do with out vue-play version.. I'll take a look into it, should be an easy fix! Thanks for reporting :octocat:

[2019-04-15 21:52] quinnlangille commented on #425
Hey @phuclh, yeah we fixed an issue related to this a few versions ago! Your code looks fine, so mind sending a working reproduction of the issue on a jsFiddle or else so we can debug further? Thanks! :octocat:

[2019-04-15 21:52] quinnlangille commented on #426
Hey @rishabhgoel9797, that's still working on my end! Do you have something running live we could look at to help debug?

[2019-04-16 01:56] ElijahKotyluk commented on #422
This is a common issue with Nuxt SSR and using third party components, you may need to wrap the component in a [no-ssr](https://nuxtjs.org/api/components-no-ssr/) tag for it to work within Nuxt, as some components are not compatible. So this is a common work around:

    <template>
        <no-ssr>
          <component />
       </no-ssr>
    </template>

Or you can try moving all DOM manipulation

[2019-04-16 02:35] rishabhgoel9797 commented on #426
Its not yet live so i want to types of carousel if you have seen netflix one is the main at the top and one is for the content. **One more thing why the space between the slides increases as the screen size increases**

[2019-04-16 03:41] nandaleite commented on #390
Hi @quinnlangille, I closed my last PR because my solution was breaking the tests and probably affecting other functions. My bad. Unless someone else sent another PR, this issue remains unsolved.

[2019-04-16 08:51] rishabhgoel9797 commented on #21
i am not able to use `navigation-prev-label='<img src="~/assets/images/banner-left.svg">'`

[2019-04-16 08:55] rishabhgoel9797 opened #427 "Custom Navigation Buttons"
i am not able to use ` navigation-prev-label='<img src="~/assets/images/banner-left.svg">'`

[2019-04-16 13:16] pravinfullstack commented on #422
@ElijahKotyluk i am aware of `<no-ssr>` thing but then the content will not be available for SEO

[2019-04-16 16:53] ElijahKotyluk commented on #422
@maverickpravin
[#192](https://github.com/SSENSE/vue-carousel/issues/192)
[#81](https://github.com/SSENSE/vue-carousel/issues/81)

[2019-04-16 20:54] TankGirl1307 commented on #21
@rishabhgoel9797  I was able to get it to work by doing this:
[code]
You will need to probably add styles after that.

[2019-04-17 00:08] digi-com commented on #427
Maybe try something like this?

[code]

[code]

[2019-04-17 00:09] digi-com commented on #427
Try something like this?

[code]

[code]

[2019-04-17 11:45] rochabianca commented on #262
Oh @quinnlangille It's great to know this ! If I have any new ideas I will post there :D

[2019-04-17 11:46] rochabianca commented on #420
Oh @quinnlangille It's great to know this ! If I have any new ideas I will post there :D

[2019-04-17 18:54] valeriy-efimov commented on #421
@quinnlangille not working
https://jsfiddle.net/suobpda2/
if press right button, display  "3 5 6" but i want to see "2 3 4" if again press "3 4 5" etc

[2019-04-18 02:55] sithuaung commented on #412
Thanks for your time @quinnlangille 👍

[2019-04-18 04:19] stein212 commented on #386
Is there an eta for a hot-fix for this issue?

[2019-04-18 08:20] rishabhgoel9797 commented on #425
Its happening with me too. I am using 0.6.5. Please help

[2019-04-18 10:45] ghost opened #428 "Bug: dragging offset resets during mouse drag"
I have carousel with pagination and if I try to drag slides more than on a middle of slides page, it looks like dragging offset resets

This bug is on this [GIF](https://gph.is/g/4zBgAn4)

Bug exists on Vue Carousel documentation page too

[2019-04-18 12:48] amrigo opened #429 "Show two lines of images and show hidden layer with description text when clicking on the image"
Hi,
I already install and setup vue-carousel and it´s just fine.

I am looking to use vue-carousel having two rows of images, let´s say 4 images in the above row and 4 images in the below row.

And when clicking in one image it shows a div with some description text, accepting html tags to allow having links.

Is it possible today ? if so wich configuration options must i change ?

[2019-04-18 13:08] rishabhgoel9797 opened #430 "Vue carousel looks unusual until clicked on side"
See how the carousel looks until i clicked on side. Please rectify this soon
![Screenshot 2019-04-18 at 6 36 28 PM](https://user-images.githubusercontent.com/22225114/56363168-341c2c00-6209-11e9-9ffe-0baa1576c076.png)

[2019-04-18 16:15] quinnlangille commented on #426
@rishabhgoel9797 we don't do much to help debug without a reproduction. Can you send a jsfiddle or another example reproducing the bug?

[2019-04-18 16:23] quinnlangille commented on #421
Ah I misunderstood your request, for that you'll need to add `scrollPerPage=false`, like this -> https://jsfiddle.net/oLvr8wem/

[2019-04-18 16:25] quinnlangille commented on #386
No ETA on my end, but if someone wants to make the PR I can merge and release asap!

[2019-04-18 16:25] quinnlangille commented on #425
@rishabhgoel9797 this issue was fixed after 0.6.5, so you'll need to upgrade

[2019-04-18 16:26] quinnlangille commented on #428
Hey @speedblizzz, good catch! I'll flag this as a bug. Thanks for including the reproduction

[2019-04-18 16:29] quinnlangille commented on #429
Hey @amrigo, this has been mentioned a few times in previous comments and it's currently not possible. We're planning on adding some customizable slots to the slide elements as part of our v1 refactor, however! The refactor is in progress now, so stay tuned! Will close this for now as we don't have any solution for v0 planned :octocat:

[2019-04-18 16:29] #429 closed, assigned to nobody

[2019-04-18 16:30] quinnlangille commented on #430
Hey @rishabhgoel9797, what version of the carousel are you using? What browser is the occurring in? Can you send a reproduction via JSfiddle?

[2019-04-18 16:35] rishabhgoel9797 commented on #430
I am using 0.6 version. Using in chrome.

[2019-04-18 16:41] valeriy-efimov commented on #421
@quinnlangille thank you very much!

[2019-04-18 18:09] quinnlangille commented on #430
@rishabhgoel9797 0.6 is 12 minor versions behind our current release, I'd suggest upgrading and see if that helps out

[2019-04-19 05:35] rishabhgoel9797 commented on #430
I am using ^0.6.5. Since the latest version is not updated in node. can you help me with the latest version

[2019-04-19 15:25] quinnlangille commented on #430
if you run `npm install vue-carousel@latest` or `npm install vue-carousel@0.18.0` you'll install the latest version

[2019-04-20 08:16] rishabhgoel9797 commented on #430
`<carousel
          per-page="4"
          loop=true
          pagination-size=0
          :navigation-enabled="Object.keys(cardSegments).length>4"
          :navigation-prev-label="prevLabel"
          :navigation-next-label="nextLabel">
          <slide v-for="card in cardSegments" :key="card.id">
            <Card :sample="sample" />
          </slide>
        </carousel>`

I guess there shoul

[2019-04-22 05:07] rishabhgoel9797 commented on #430
@quinnlangille what i should do in this case. Please let me know as we want to move this in production

[2019-04-22 22:52] quinnlangille commented on #430
Hey @rishabhgoel9797, you've upgraded your version to our latest and you're still getting this issue?

[2019-04-23 01:15] rishabhgoel9797 commented on #430
Yes , I am now using version 0.18. can you send any fiddle or codepen to
show gallery type of implementation?

On Tue, Apr 23, 2019, 04:22 Quinn Langille <notifications@github.com> wrote:

[2019-04-23 10:55] rishabhgoel9797 commented on #430
Hey @quinnlangille . I just figured out that if i am doing that with static data its working fine. But when i am loading from backend. Its behaving like this

[2019-04-23 19:57] phuclh commented on #425
@quinnlangille I already fixed, it conflicted with tailwind grid, I just simple removed tailwind classes and used the default grid of this plugin.

I have another question. Is it possible to make the vertical carousel? I tried to find some options, but there was nothing that related to that. Thank you.

[2019-04-23 19:58] phuclh commented on #427
@digi-com
Is that possible to make my own custom button? Something like that:
<img width="309" alt="Screen_Shot_2019-04-23_at_12_58_21_PM" src="https://user-images.githubusercontent.com/6707194/56611778-883b5d80-65c7-11e9-9f73-65a64ab1122d.png">

[2019-04-24 01:59] quinnlangille commented on #425
Hey @phuclh, we currently don't support a vertical carousel, we've talked about it in a few issues in the past but adding it isn't in the immediate roadmap.

Also, thanks for reporting in that this issue is in fact resolved, I'll close this now!

[2019-04-24 01:59] #425 closed, assigned to nobody

[2019-04-24 03:01] lfk29m commented on #416
![problem](https://user-images.githubusercontent.com/33678011/56629485-15da8400-6680-11e9-84f0-09640eec2a9c.PNG)
I add three attributes , and then solve problem , but i dont know what is going on

[2019-04-24 17:04] eliamartani commented on #243
I'm using version `v0.18` and this issue still happens.

https://codepen.io/eliamartani/pen/XQyWOP

Should I open a new issue for it?

[2019-04-25 16:21] jzuleger opened #432 "Changing mouseDrag or touchDrag after mounted is not working"
## Bug Report

When the props mouseDrag and touchDrag are changed after the carousel component has mounted, the dragging behavior does not update. That means when both props were "true" and become "false" the carousel is still draggable.

In my case on desktop all slides fit in the viewport and therefor the carousel should not be draggable.

In src/Carousel.vue the eventlistener is added mounted()

[2019-04-26 08:11] rishabhgoel9797 opened #433 "Slides Taking so much space"
Slides in carousel are taking so much extra space. Can you help rectifying this.
![Screenshot 2019-04-26 at 1 35 51 PM](https://user-images.githubusercontent.com/22225114/56793163-f3379f00-6828-11e9-8f51-fdea4f68b5a0.png)

[2019-04-26 11:31] trasek opened #434 "Page change and Loop and Autoplay"
When we add @pageChange, loop and autoplay function and just print the index of current slider it's show twice. When we remove loop function it's work fine.

[2019-04-26 13:50] thibaultchazal commented on #430
I'm having quite the same issue.
Nothing is displayed until I clicked or an event is fired in the component.

Also, if any variable changed in my component, the carousel start again from the beginning. Maybe it comes from the same thing.

I have the last version.

[2019-04-26 13:56] rishabhgoel9797 commented on #430
It worked. It was a flex issue for me

On Fri, Apr 26, 2019, 19:20 Thibault <notifications@github.com> wrote:

[2019-04-26 14:05] thibaultchazal opened #435 "Content of slide not displayed and carousel restart at events"
## Bug Report

**Current Behavior**
The image inside the slide is not displayed. Only the bottom dots.
The image is only displayed when something happens : a click in the DOM, a variable change, etc...

Also, when a variable change, it restart the carousel.

**Input Code and steps to reproduce**
This carousel is inside a vuetify stepper and is not on the first step.

[code]

**Expected behavior/co

[2019-04-26 14:05] thibaultchazal commented on #430
Okay. Can you explain a little bit more if it is relevant and close the issue ?
I start a new issue https://github.com/SSENSE/vue-carousel/issues/435

[2019-04-29 05:38] lfk29m commented on #416
How to do "at least n + 2 slides (n being the number per page)" ?

[2019-04-29 15:15] skyerus commented on #416
@lfk29m this means that if there is 3 slides per page and 5 slides total then it works. If there is 3 slides per page and 4 slides total then it won't work

[2019-04-30 06:29] lfk29m commented on #416
@skyerus thank u. I encountered the same problem ==

[2019-05-03 10:37] the-codery opened #436 "Remove scoped attribute from Navigation & Pagination style declaration"
Removing `scoped` attribute will stop the rendered styles having [data-xxxxx] declarations which increase specificity making it more awkward to overwrite the styles at the application level.

[2019-05-06 01:39] DrMeers opened #437 "bug: css hiding persisting through to visible slides"
Once in every 10-20 page loads, approximately, the `.VueCarousel-inner` div retains a CSS property of `visibility=hidden` and thereby hides all items even if/when you interact with the (empty) carousel. Resizing the browser rectifies the visibility status.

I'm using `vue-carousel v0.18.0-alpha` downloaded this week.

Similar behaviour was described in https://github.com/SSENSE/vue-carousel/issues

[2019-05-08 08:04] RimvydasTa opened #438 "Feature: Custom spacing between elements so you could see other elements"
Good day, would it be possible to have a parameter which would control the spacing between elements so you could see that there are more elements in the carousel?

Example [here](https://react.rocks/images/converted/react-slick.jpg)

[2019-05-09 08:11] BRafols commented on #192
@quinnlangille Is there any open branch regarding this issue? I might be able to throw in some hours to help with this.

[2019-05-09 09:37] Ricky-rick opened #439 "The Customized example is broken"
## Bug Report

**Current Behavior**
The "Customized" example fiddle on the docs is broken.
https://ssense.github.io/vue-carousel/examples/

**Expected behavior/code**
- The template needs an update to
[code]
- The resource vue.min.js needs an update to (for example) https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js

[2019-05-14 06:33] keviinnch commented on #251
Does this problem solved? Because it seems I still have the problem even though I change `slideClick ` to `slideclick ` ? I try to use the https://codepen.io/hdkcreative/pen/wxrLop from above, and change the `@slideClick` to  `@slideclick` and nothing happen when I sliding through the carousel, or press the prev next button

[2019-05-14 09:57] SamuelRiversMoore commented on #416
+1
Vue-carousel v0.11.0
Environement : Ubuntu 19.04
Tested on Firefox 67 and Chromium 79

Edit: just tested with v0.18.0 and the bug remains

Edit 2 : The problem seems to be related with the `:mouse-drag` prop that was set to `true`. When the property is set to `false`, the problem disapear.

[2019-05-16 13:02] mauriciokruger commented on #174
Hi!, I'm using the version vue-carousel v0.18.0-alpha and the audits sends the following warning: Does not use passive listeners to improve scrolling performance.

Consider marking your touch and wheel event listeners as `passive` to improve your page's scroll performance. Learn more: https://developers.google.com/web/tools/lighthouse/audits/passive-event-listeners

[2019-05-16 13:15] mauriciokruger commented on #368
Hi!, I'm using the version vue-carousel v0.18.0-alpha and the audits sends the following warning: Does not use passive listeners to improve scrolling performance.

Consider marking your touch and wheel event listeners as passive to improve your page's scroll performance. Learn more: https://developers.google.com/web/tools/lighthouse/audits/passive-event-listeners

[2019-05-16 13:15] mauriciokruger commented on #368
Hi!, @quinnlangille I'm using the version vue-carousel v0.18.0-alpha and the audits sends the following warning: Does not use passive listeners to improve scrolling performance.

Consider marking your touch and wheel event listeners as passive to improve your page's scroll performance. Learn more: https://developers.google.com/web/tools/lighthouse/audits/passive-event-listeners

Maybe this is what

[2019-05-17 01:52] vedees commented on #251
You should use `slideclick` in the `<slide>` tag.
Like this:
`slide.screen(v-for="(img, index) in images" :key="index" @slideclick="openScreen(img)")`

[2019-05-17 19:02] jaimeguaman commented on #423
Same error here

[2019-05-18 09:12] TheNoim commented on #437
I have the same issue. However, I don't like the idea of using an manual timeout workaround.
Btw I think https://github.com/SSENSE/vue-carousel/issues/138#issuecomment-456382817 is a better workaround. At least for me it is.

[2019-05-19 01:35] engelde commented on #288
Just wanted to throw in another request for this feature. This is a great project. Thank you and keep up the good work!

[2019-05-20 10:07] nattyluke commented on #97
`adjustableHeight` Not working in Firefox

[2019-05-21 23:14] mateo2181 commented on #426
@rishabhgoel9797 you can add a parent div to carousel and modify pagination position with:
`
 .divparentclass .VueCarousel-pagination {
     position: absolute;
     display: block;
  }
`

[2019-05-21 23:28] mateo2181 commented on #438
@RimvydasTa you can add a parent div to carousel and do it with custom css this way:

    .customclass .VueCarousel-wrapper {
       transform: translateX(25%);
       overflow: visible;
    }

[2019-05-22 16:16] sts-ryan-holton opened #440 "Cannot read property 'indexOf' of undefined when using carousel"
I'm using the latest version of Vue Carousel in my Nuxt JS application. It seems that I get errors on each of my blog posts whenever using the `universal` mode for Nuxt JS. If I take out Vue Carousel and do a standard `v-for` loop, the blogs show perfectly fine, there's something causing the error when using the carousel.

My code:

[code]

The error:

[code]

[2019-05-23 19:33] AdminXVII commented on #423
Any solution found?

[2019-05-28 11:34] BRafols opened #442 "Bug: yarn install && yarn run dev is broken"
## Bug Report

**Current Behavior**
Console throws with the following error.

[code]

**Input Code and steps to reproduce**

1. Clone repo
2. `yarn install`
3. `yarn run dev`

**Expected behavior/code**
It should be able to run without errors

[2019-05-29 14:32] quinnlangille commented on #434
Hey @trasek sorry for the delay on responding here. This is probably just a side-effect of a computed property re-rendering but not 100%. Is it having any negative impact on the actual component, or it's just logging twice?

[2019-05-29 14:35] quinnlangille commented on #435
Hey @thibaultchazal, sorry about the delay here. Are you trying to render server side or is this on the client?

[2019-05-29 14:37] quinnlangille commented on #430
Yeah @thibaultchazal I'll close this and we can continue on your issue, seems like it might be different cause

[2019-05-29 14:37] #430 closed, assigned to nobody

[2019-05-29 14:38] quinnlangille commented on #439
Thanks for mentioning this @Ricky-rick! These docs are really annoying to keep update lol will fix asap

[2019-05-29 15:03] thibaultchazal commented on #435
Hi @quinnlangille, thanks for your answer but I have had to choose an other solution for my carousels.
Anyway, I was trying to render client side.

[2019-05-29 15:13] quinnlangille commented on #368
Hey @mauriciokruger, thanks for the heads up! We've added a utility to centralize events (and flag them as passive) that we haven't rolled out to all events yet. It will be a super easy fix, so should be done soon!

[2019-05-29 15:29] quinnlangille commented on #437
Hey @DrMeers thanks for flagging! This is really weird. The resizing causes the carousel to recompute it's properties which explains the fix. I'm not really sure why the classes are persisting though.. I'll flag this as a bug and hopefully someone can investigate, otherwise I'll get to it when I can!

[2019-05-29 15:31] quinnlangille commented on #251
This seems to be totally resolved based on a: the number of answers here and , b: not hearing back from anyone. Will close now, thanks for your help guys!

[2019-05-29 15:31] #251 closed

[2019-05-30 14:24] BerkanSezer opened #443 "Feature: Add drag support to infinite loop"
When i use Nuxt JS, :loop="true" working with navigation buttons but not working on drag option.

[2019-05-31 06:26] PetroGromovo opened #444 "When page is opened image in vue-carousel is not visible. Need to click."
## Bug Report

Hello,
Working with Laravel 5.7 / Vuejs 2.6 / Bootstrap 4.3 app I use "vue-carousel": "^0.18.0"
I have a problem that defing carousel with images at page opening the page is not visible at all.
But if to click on the empty image space then image is visible and carousel works ok.
in vue file :
[code]
Why error and how to fix it ?

Thanks!

**Environment**
- Babel version(s): [ "vue-c

[2019-05-31 07:47] x900603 opened #445 "Question: Remove dots title"
[code]
![2019-05-31_152904](https://user-images.githubusercontent.com/25268358/58689957-022ae780-83bb-11e9-8907-c04f91c87b42.jpg)
How can I remove dots title

[2019-05-31 14:14] Nfinished commented on #288
+1

[2019-05-31 14:53] Nfinished commented on #270
@quinnlangille this seems to be broken, `.VueCarousel-slide-center` doesn't reapply correctly on paginate.

[2019-05-31 14:57] Nfinished commented on #270
Here's the bug in action, notice the flicker on the right as `-center` is briefly applied to the wrong slide.
![7cHApCFMN9](https://user-images.githubusercontent.com/1719791/58714533-ea3f6d80-8392-11e9-8f49-15bbb7e881bb.gif)

[2019-06-03 08:02] x900603 commented on #445
updated() {
    const dots = document.getElementsByClassName('VueCarousel-dot');
    for (let index = 0; index < dots.length; index += 1) {
      const element = dots[index];
      element.title = '';
    }
  }
it work for me, but I don't know if there is a better way

[2019-06-03 14:08] Nfinished commented on #442
It's the `vue-play-cli` dev dependency, which still runs on webpack v1 (yikes). Its build process relies on `extract-text-webpack-plugin` (deprecated in favor of `mini-css-extract-plugin`). extract-text needs a webpack module called removeAndDo, which has been absolutely wiped off of the face of the earth. `vue-play-cli` and the vue-play project as a whole are phenomenally stale, best solution her

[2019-06-04 12:24] PetroGromovo commented on #444
Searching for a decision I found vue-focus directive. I installed it to my app and checking it on
simple text input  I see that it works ok.
I tried to use it in carousel component as :
[code]
OR

[code]

But in both cases I do not see images on page opened.

2) If there is a way to simulate click of a mouse on carousel's image?

3) Testing in browser I noticed that when I change device in browse

[2019-06-04 13:33] hjbdev opened #446 "Bug: Adjustable height breaks carousel on Firefox"
## Bug Report

**Current Behavior**
On Firefox, when the prop adjustableHeight is set to true, the slides are overlayed on top of each other.

**Input Code and steps to reproduce**
https://codesandbox.io/s/vue-template-dpjk7

**Expected behavior/code**
The slides appear next to each other side by side, as seen in Chrome/Chromium browsers

**Environment**
- Laravel Mix 4.0.15
- Node/npm version: np

[2019-06-11 03:42] h2jose opened #449 "Gridsome build broken"
Hi there, i'm using Gridsome v0.6.4 and vue-carousel v0.18.0, with gridsome develop this work fine, but when i trying gridsome build, i get this error:

[code]

I used this configuration:

[code]

[2019-06-11 14:46] h2jose commented on #449
I found the solution, the vue-carousel does not support SSR, the correctly use is:

[code]

[2019-06-11 14:46] #449 closed, assigned to nobody

[2019-06-11 16:29] ultrono commented on #443
Not using Nuxt, but the loop option isn't working for me. It gets to the end of my slides and then oddly slides all the way back to the start.

[2019-06-13 11:15] LouBNielsen commented on #444
@PetroGromovo I have the exact same issue.. Did you find another solution so you did'nt have to simulate a maouse click?

[2019-06-13 11:20] LouBNielsen commented on #444
Found another one who had the same problem:
try: style="visibility: visible;  flex-basis: 522px;"

or

.VueCarousel-slide {
  visibility: visible;
  flex-basis: 100%;
  width: 100%;
}

[2019-06-17 16:32] rishabhgoel9797 opened #450 "Show incoming and outgoing image in carousel"
![Screenshot 2019-06-17 at 9 57 23 PM](https://user-images.githubusercontent.com/22225114/59620775-4e13b580-914b-11e9-9ec5-29ebf595f90c.png)

I want to have carousel like the above, one main image and incoming and outgoing. Is it possible ?

[2019-06-18 02:19] boggyjan commented on #412
I resolved the problem by add two lines below:

.VueCarousel-slide-adjustableHeight {
  display: block !important;
}
.VueCarousel-inner {
  align-items: flex-start !important;
}

[2019-06-18 17:12] sergeyfilimonov commented on #449
@h2jose hi! I'm also trying to get it working with Gridsome but the solution above didn't work for me.

[code]

Could you tell me where my mistake is?

[2019-06-18 20:49] h2jose commented on #449
HI, remember vue-carousel doesn't support SSR, you must put <ClientOnly>
tag, ex:

<template>
  <Layout>
    *<ClientOnly>*
      <carousel>
        <slide>
          Hello World
        </slide>
        <slide>
          Gridsome is awesome
        </slide>
      </carousel>
    *</ClientOnly>*
  </Layout>
</template>

TLR;:
https://gridsome.org/docs/assets-scripts#without-ssr-support

I hope thi

[2019-06-19 05:23] sergeyfilimonov commented on #449
@h2jose sorry, I have deleted my comment as I had solved the problem. The problem I was writing about was because of `import {Carousel,Slide} from 'vue-carousel'` together with:

[code]

I mixed two ways of importing the modules. All works well without `import {Carousel,Slide} from 'vue-carousel'`.

Thanks anyway!

[2019-06-20 13:47] theomanus opened #452 "What happend to an additional Thumbnail Navigation"
I would like to know if you are planing to release a version, where an additional thumbnail navigation under the carousel is possible.
It should replace the navigation dots.

[2019-06-20 13:53] theomanus opened #453 "How to add Fontawsome Icons for Nav Arrows?"
Hi guys,

Im new to vuejs and in my first project Im using fontawsome icons, which i would like to integrate into your carousel.
I saw that its possible to add a String for next and prev, but dont know how really to add the cheatsheet of the fontawsome icons so that it really works.
Can you help me out with that?

[2019-06-23 19:39] laksmaria commented on #443
i'm not using nuxt either and the loop option isn't working for me as well :(

[2019-06-24 02:26] le0park commented on #444
I have a same problem, and find some trick.
I think the problem is, window doesn't fire resize event when image loaded.

Try :
[code]
inside of mounted hook function.

[2019-06-24 12:23] gasperecf commented on #288
This would also solve problem with swipe to next on last slide

[2019-06-24 14:02] Lanatel commented on #288
+1

[2019-06-26 13:08] irongollem commented on #453
I don't think you can. You could try and muck around with the font position and setting the font of the entire component to your font but ideally the author (or a PR) makes the navigation buttons available through a slot (besides the prop). Which can then hold whatever.

[2019-06-28 18:37] #435 closed, assigned to nobody

[2019-06-28 18:38] quinnlangille commented on #270
Good find @Nfinished, I can take a look into this! Will flag as a bug in the mean time :octocat:

[2019-06-28 18:41] quinnlangille commented on #445
Hey @x900603, not sure what we're trying to accomplish here - you want to remove the pagination dot? Can you send me a reproduction link to look into this more?

[2019-06-28 18:42] quinnlangille commented on #442
Hey guys! Sorry for the delay here, there's a PR up to resolve this, will ping here once it's merged ~

[2019-06-28 18:43] quinnlangille commented on #446
Ah really good catch @HJBDev, I'll flag this as a bug!

[2019-06-28 18:45] quinnlangille commented on #446
Actually scratch that, we have another open issue for this same problem here -> #412

I'll close this and we can continue any conversation there :octocat:

[2019-06-28 18:45] #446 closed, assigned to nobody

[2019-06-28 18:47] quinnlangille commented on #443
Hey guys! We have some people working on improving/resolving the loop issues currently. I can add drag support to the list of things to look into :octocat:

[2019-06-28 18:51] quinnlangille commented on #453
@irongollem is correct, we currently don't support fully custom components as navigation (a.k.a passing a FE `<i>` tag as the navigation) but using slots would solve this issue.

@theomanus if you engineer a solution on your end, feel free to open a PR!
Will close this for now, since we don't have an official solution. Feel free to make a feature request using the proper template if you'd like us

[2019-06-28 18:51] #453 closed, assigned to nobody

[2019-07-01 16:30] rishabhgoel9797 opened #454 "Different Carousel Style"
I want to have carousel like [https://www.hotstar.com/]. Its pretty urgent as the existing carousel is in production. Please help. I tried minSwipeDistance but it doesn't work. Please give some hint
![Screenshot 2019-07-01 at 9 58 08 PM](https://user-images.githubusercontent.com/22225114/60452198-a66aad00-9c4b-11e9-8093-f5c0347e7da4.png)

[2019-07-03 08:27] pwnz22 opened #455 "How to make it working on mobile only?"
I'd like the slider to be working on mobile only.
I want initialize the slider on small screens by checking the screen size. Something like:
[code]

is this possible?

[2019-07-04 10:00] Dysanix commented on #445
He is asking if there is a way to disable the automatic assignation of title attributes to the pagination dots. So when you mouse over the dots, it won't say "Item 0", "Item 1", etc.

[2019-07-08 02:44] uyarn commented on #455
I think u can  implement it with v-if v-else and resize event.

[2019-07-08 08:33] jingMV opened #456 "How to change the background on dots?"
Vue-Carousel.How to change the background on dots?

[2019-07-09 10:47] icangku opened #457 "How to hide indicator bullets ?"
**Is your feature request related to a problem?**
Please describe. A clear and concise description of what the problem is. Ex. I have an issue when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.

**If any, describe the alternatives you've considered**
A clear and concise description of any alternative solutions

[2019-07-09 19:03] getJv opened #458 "How to use the pagechange event?"
Hey guys, I read the documentation and examples a lot but i was unable to use the events.

Can someone show me what i am doing wrong?

To a better experience I put the sample of my code here: [jsfiddle](http://jsfiddle.net/getjv/q8w5eg1v/26/?utm_source=website&utm_medium=embed&utm_campaign=q8w5eg1v)

[2019-07-10 11:16] Qvatra commented on #224
solution to use is as plugin with ssr: false works but I'm receiving a warning:
`[Vue warn]: The client-side rendered virtual DOM tree is not matching server-rendered content. Bailing hydration and performing full client-side render.`

which actually negates ssr effort of prerendering page (bailing hydration)

does anyone know how to fix that?

[2019-07-10 17:18] ko1eda commented on #371
Just encountered this myself working on a client site that uses this package. Is there any quick fix for this?

[2019-07-10 17:32] Qvatra commented on #453
just found that that actually could be done. see https://github.com/SSENSE/vue-carousel/issues/21
would be nice to add this in docs

[2019-07-11 09:35] damienmcd commented on #288
+1

[2019-07-11 13:09] damienmcd commented on #444
I've found a hacky workaround for this but I 100% think this issue needs to be fixed properly.
My workaround is to call the $forceUpdate() in the mounted hook on a timeout.
The timeout should be longer than the time it takes for all of the carousel's content to load.
[code]
This will force the component to re-render.
***NOTE***
This does not just re-render the carousel, it re-renders the component

[2019-07-14 07:07] lennoximus commented on #444
@damienmcd can't you just put a ref on carousel and call `$forceUpdate` in the carousel itself?

Also, talking about "magic numbers" with usage of setTimeout: in case we are dealing with images (`img` tags to be sure) you can apply this kind of stuff using `load` event, so carousel only updates when images are really loaded by the browser.

[2019-07-15 08:46] damienmcd commented on #444
Hi @lennoximus.
Thanks for your suggestion, you're correct that using a ref on the carousel and just calling the forceUpdate on that is a better way to handle the re-render of the carousel. I don't know how I didn't think of that. Maybe it was the Friday afternoon brain switching off!

With regard to using the `load` event, this is not called if the images are loaded from the cache so I may have t

[2019-07-15 09:48] mateo2181 commented on #456
[code]

[2019-07-15 09:57] mateo2181 commented on #312
@koraykupe I've tried to do it but I did't find a solution. Could you share what plugin you're using?

[2019-07-16 08:57] #456 closed, assigned to nobody

[2019-07-17 10:07] KaragiannidesAgapios commented on #68
@markus361 Maybe a bit late to answer but I had the same issue. I check this [thread](https://github.com/philipwalton/flexbugs/issues/3), understand the problem and my solution was, this one:

[code]

This solved the problem for me.

[2019-07-18 17:14] Paliao opened #461 "Resize event making slide not work"
Hi, first of all, thanks for a good job in this library, I think that is one of the only carousel library stable, functional and simple in the vueJs community.

I'm adding a GIF of the bug that is occurring. I realized this bug in one of the platforms that I developed(https://seguros.pontosmultiplus.com.br/, the cards on our homepage are done using your library). At first, I thought it was a mista

[2019-07-19 10:49] JWardee commented on #192
Sorry to be a pain but is there any update on the progress of v1?

[2019-07-19 16:31] madroneropaulo opened #462 "Auto Play delay"
How to set the delay time for the autoplay? It changes too fast.
Also, I can't find a way for the autoplay to start over again after it reaches the end.

[2019-07-28 15:08] luixal opened #463 "Timeout needed when setting Starting Slide"
Although `navigateTo` works great, I've found a _maybe-related_ caveat. Use case:

I'm defining a carousel with dynamic generated slides, like this example:

[code]
then, in the `mounted` function, I get my slides content and use `navigateTo` to go to the last slide:
[code]

¿Any idea on how to do this instead using a `setTimeout`? Maybe an `onRendered`, `onUpdated` or similar event could help :)

[2019-07-30 06:26] rereradu commented on #150
Hi. I am running into the same issue as the OP.
I was able to reproduce the issue on @matamune94 's example (https://jsfiddle.net/matamune94/okbj871y/26/), on Windows 10, Chrome 75.0.3770.142, Firefox 68.0 and Microsoft Edge 44.18362.1.0 (Microsoft EdgeHTML 18.18362).
When releasing the mouse button from drag the link will be opened.

[2019-08-01 13:54] sebastianrothbucher commented on #81
I could solve it by using ```import { Carousel, Slide } from 'vue-carousel/src/index'```- maybe this helps others, too. Reason seems to be that it tries to inject styles at the wrong time when using the default minified version

[2019-08-02 09:37] quyetDK opened #464 "mouse-drag="true" while reponsive"
i set mouse-drag="false" but i debug reponse from 1024px then mouse-drag="true"

Why does this happen?

[2019-08-05 02:10] NTpspE commented on #368
I'm noticing this issue also. I can see #411 open for this but that was 3 months ago now, any chance on an update? 😄

[2019-08-05 12:05] witcher-development commented on #461
Hi! Same issue!

[2019-08-05 12:10] witcher-development commented on #455
Did it work?
Because https://github.com/SSENSE/vue-carousel/issues/461

[2019-08-05 19:05] NicholasOttens commented on #385
Hey Im a first timer and I would like to handle this issue if I could.

[2019-08-06 02:54] xiaomaisu opened #465 "support rem unit?"
I have an issue when I use this component in mobile page, we use rem in our mobile page。

But the Pagination.vue write element style with px, and I can't rewrite the style with class,
if we want to change the situation, we have to use !important, but it's obviously ungraceful。

**Describe the solution you'd like**
so I hope  add configurable support for rem unit? such as:

![image](https://user-im

[2019-08-06 11:18] Miaoxingren opened #466 "Disable swiping on elements"
I want to disable swiping on specifing elements by css class. Maybe Option like `no-swiping-class`.

[2019-08-07 15:01] james-assis-playkids commented on #21
I think this will make the code more scalable, because I can use the same code for multiple instances on the same page:

[code]

Add a ref attribute to carousel: `<carousel ref="carousel">`

Previous: `@click="carouselNav($event, 'backward')"`

Next: `@click="carouselNav($event, 'forward')"`

Et voilà! ;D

_Note:_ for next, the parameters are optional - just `@click="carouselNav"` works!

Hope thi

[2019-08-07 15:06] jamesclebio commented on #21
I think this will make the code more scalable, because I can use the same code for multiple instances on the same page:

[code]

Add a ref attribute to carousel: `<carousel ref="carousel">`

Previous: `@click="carouselNav($event, 'backward')"`

Next: `@click="carouselNav($event, 'forward')"`

Et voilà! ;D

_Note:_ for next, the parameters are optional - just `@click="carouselNav"` works!

Hope thi

[2019-08-07 15:10] jamesclebio commented on #88
I think this will make the code more scalable, because I can use the same code for multiple instances on the same page:

[code]

Add a ref attribute to carousel: `<carousel ref="carousel">`

Previous: `@click="carouselNav($event, 'backward')"`

Next: `@click="carouselNav($event, 'forward')"`

Et voilà! ;D

_Note:_ for next, the parameters are optional - just `@click="carouselNav"` works!

Hope thi

[2019-08-07 16:13] jamesclebio commented on #21
I think this will make the code more scalable, because I can use the same code for multiple instances on the same page:

[code]

Add a ref and data-ref attribute to carousel: `<carousel ref="carousel" data-ref="carousel">`

Previous: `@click="carouselNav($event, 'backward')"`

Next: `@click="carouselNav($event, 'forward')"`

Et voilà! ;D

_Note:_ for next, the parameters are optional - just `@clic

[2019-08-07 16:14] jamesclebio commented on #21
I think this will make the code more scalable, because I can use the same code for multiple instances on the same page:

[code]

Add ref and data-ref attributes to carousel: `<carousel ref="carousel" data-ref="carousel">`

Previous: `@click="carouselNav($event, 'backward')"`

Next: `@click="carouselNav($event, 'forward')"`

Et voilà! ;D

_Note:_ for next, the parameters are optional - just `@click

[2019-08-07 16:15] jamesclebio commented on #88
I think this will make the code more scalable, because I can use the same code for multiple instances on the same page:

[code]

Add ref and data-ref attributes to carousel: `<carousel ref="carousel" data-ref="carousel">`

Previous: `@click="carouselNav($event, 'backward')"`

Next: `@click="carouselNav($event, 'forward')"`

Et voilà! ;D

_Note:_ for next, the parameters are optional - just `@click

[2019-08-12 08:55] GregOstry opened #467 "Change navigationNext/PrevLabel position"
Hi,

is there any possibility to change the **navigationNext/PrevLabel** position. (top position) Something like a slot ? Or a work around with a ref ?

best regards
Greg

[2019-08-13 14:43] notnotgabriel commented on #312
I'm facing the same issue here ⚠️
I applied the following solution to solve:
[code]

[2019-08-15 14:20] jfaq89 commented on #288
+1

[2019-08-16 03:34] moldedjelly commented on #81
@sebastianrothbucher this solved it for me too. On closer inspection of the webpack generated dist/vue-carousel.min.js it was referencing window early on in the code - and from searching around - this is a webpack behaviour? Anyhow referencing the src, seems to avoid the webpack dilemma and works nicely for SSR and client :)

[2019-08-16 11:19] jonascarlbaum commented on #409
Hi, I'm trying to figure out something related to event propagation too.
If dragging and releasing on an anchor tag in slide item the anchors default behaviour remains.

Expected behaviour would in my eyes be that any child event with `mousedown` before `dragstart` and `mouseup` after the `dragstart` would be `preventDefault`:ed, at least if `mouseup` is between `dragstart` and `dragend`.

Current

[2019-08-18 17:24] Linus-Boehm commented on #172
Scoped slots would be awesome and would also be great for the slide component. This would allow easy access to isActice and activeSlides Props.

[2019-08-19 11:26] Samin-Asnaashari commented on #461
The same issue does anyone know how to fix it or have work around?

[2019-08-19 20:37] HobbieJ commented on #457
@icangku It looks like this option already exists: https://ssense.github.io/vue-carousel/api/#paginationEnabled

[2019-08-20 05:29] #457 closed, assigned to nobody

[2019-08-21 13:57] clement-fifty opened #468 "Doesn't adjust to small screens if within flex container"
## Bug Report

**Current Behavior**

On big screen, everything is great.

On small screen, the carousel will not adapt its width below a certain threshold. This threshold can be really big actually (around 400px for the following simple example, but it is 750 px when i add my custom html/css...).

**Expected behaviour**

The carousel should adapt its width to be always visible, at least when there

[2019-08-21 14:24] damienmcd commented on #444
A quick update on this. Adding a ref to the vue-carousel and calling $forceUpdate() on that does not resolve this issue.
It works on Chrome sometimes but not on IE11, which I need it to work on.
I'm still looking for a fix for this and I'll post my findings here if I manage to get it working.

[2019-08-23 07:42] aligilan commented on #138
### you can solve vue-carousel show problem in vue-modal, in this way:
carousel component needs refresh, after modal shown.
1-with modal event: `@shown`, can trigger when carousel refresh.
2-when component `key` changes, component will refresh.
so:

[code]
Hope it will be useful.

[2019-08-23 08:34] JulienCroain commented on #458
Hi,

You can find [here](http://jsfiddle.net/gf2p30mL/) a new jsfiddle. I don't use the page-change event but I use the v-model to know the current page index.

I have changed the url of the vue-carousel js by this one https://cdn.jsdelivr.net/npm/vue-carousel@0.18.0/dist/vue-carousel.min.js to ensure the use of the latest version (0.18 from NPM).

I hope this helps you.

[2019-08-23 12:22] andrewsmith1996 commented on #243
I'm using version 0.18.0 and still getting this issue. Has anything been done to fix this?

[2019-08-25 07:26] ghost opened #470 "Feature Request: initial page to display"
Would be nice if it's possible to configure the initial page to display after the carousel is loaded. I made a fork for my own project. Feel free to use the code I wrote if it can be a new feature for the project.

feature:
https://github.com/KenyoKaneda/vue-carousel/commit/eddb17fcbd084672bdc34248f607a23e26fd7f78

docs:
https://github.com/KenyoKaneda/vue-carousel/commit/77443547aee84447703d1fe5bf

[2019-08-25 07:29] KenyoKaneda commented on #470
I found a bug in my own code

[2019-08-25 08:16] ghost commented on #470
I guess I could use `navigateTo` prop, but it causes unnecessary animation when moving to the initial page. I'll use it in background and display the carousel once the initial navigation is done. Hope to get official feature on this.

[2019-08-26 09:52] Subwaytime commented on #416
Still running into the same Issue, any Updates on this ?

[2019-08-26 16:40] champi-dev commented on #442
@quinnlangille @Nfinished
I'm facing this same issue.
Will this be fixed any time soon?

[2019-08-27 07:31] andrewsmith1996 commented on #416
I'm getting the same issue, does anybody have any update on this?

[2019-08-29 16:57] AnkitaMagdum commented on #14
How can i override the css properties for this class .VueCarousel-navigation-prev as i want its left: 35px;

[2019-08-29 20:12] mklueh commented on #81
Same issue when building my gridsome site. Solution from @sebastianrothbucher does not work there

[2019-08-30 05:04] classiebit opened #473 "Not compatible in RTL mode"
## Bug Report

**Current Behavior**
When the direction is RTL, it shows a blank white screen.

**Input Code and steps to reproduce**
- Just make the direction RTL

[code]

**Solution**
[code]

[2019-08-30 09:51] mklueh commented on #449
Does not work in my case. Followed exactly the instructions at https://gridsome.org/docs/assets-scripts/#without-ssr-support

**EDIT:**

I needed to change the import in main.js to

`import VueCarousel from 'vue-carousel/src/index';`

and in the affected component
[code]

in order to get it working

[2019-08-30 15:13] kubmin commented on #444
Hi all. I've had the same problem and came up with a "hacky" solution using the `imagesLoaded` directive from [here](https://github.com/David-Desmaisons/Vue.ImagesLoaded).

Basically you use the directive to detect if the images have loaded. If they did, use the `$forceUpdate` function in the `imagesLoaded` callback to update the carousel accordingly.

Hope this helps!

[code]

[2019-08-31 01:12] hcristiano commented on #288
+1

[2019-09-02 10:29] ayan2011 opened #474 "paginationActiveColor property issue"
When I am giving any color in paginationActiveColor its not shown in the UI..

[2019-09-03 10:16] ccdilan opened #475 "Cannot read property 'forEach' of undefined"
## Cannot read property 'forEach' of undefined

**Current Behavior**
I am install vue-carousel using yarn and add template code copied form documantation.
then there is an error saying Cannot read property 'forEach' of undefined.

**Input Code and steps to reproduce**

**vue component**
[code]

**plugins/main.js**
[code]

**nuxt.config.js**
[code]

**Environment**
- Node/npm version: 6.10.3
- OS:

[2019-09-04 07:41] dazulu commented on #445
I would also like to be able to set the "title" text on the navigation dots. The text that says _"Item-0"_, _"Item-1"_ etc.
<img width="313" alt="Screenshot 2019-09-04 at 09 39 38" src="https://user-images.githubusercontent.com/4543447/64235102-f25dfa80-cef7-11e9-92cb-16e0ceca4ad8.png">

[2019-09-06 02:09] timoteo7 commented on #462
`autoplayTimeout=2000`
"Time elapsed before advancing slide in autoplay."
#196

`speed=500`
"Slide transition speed. Number of milliseconds accepted."
#265

[2019-09-08 11:00] albertobetta opened #476 "Carousel on modal pagination problem"
when using the carousel in a bootstrap modal it is necessary to display the first image, to set the adjustableHeight property at true. In this way the first slide appears. but if you click on the pagination and try to go to the second slide the first time you fail, the left shift of the first slide is not complete is a few pixels. I need helping about this problem, it seems that the adjustableHeig

[2019-09-08 11:06] albertobetta commented on #476
screenshot...

[2019-09-13 07:11] ghost commented on #96
@quinnlangille I would also love this feature!!

[2019-09-14 15:24] 50l3r opened #477 "scrollPerPage 'false' doesnt detect width well"
## Bug Report

**Current Behavior**
I have an slide like this:

![](https://i.gyazo.com/5eb0e5dc1eddfdc1aef5256b814e6c2f.png)

Each slide have similar width (270px) I set scrollPerPage to false to slide by item not per page but this is the result:

![](https://i.gyazo.com/d1824b6c7403ee242ca8fc378092a17e.gif)

It detects 205.5px in transform effect

This is my code

    <carousel :scroll-per-page=

[2019-09-14 16:34] motatoes commented on #262
Is there an update on this or a way to help? I came here because I noticed the `loop` prop was missing from the website documentation and I only came accross it through one of the issues. Anyway we can help improve the documentation for this great plugin?

[2019-09-15 06:02] BeomyeonAndrewKim commented on #294
Is it working now? I think it's still not working.

[2019-09-16 10:24] xiashaxs commented on #427
In template,
[code]

In script,
[code]

[2019-09-18 07:17] BeomyeonAndrewKim commented on #243
It still happens now. with ver 0.18.0

[2019-09-21 08:11] Jaspur opened #480 "Easing not working"
## Bug Report

**Current Behavior**
There is no easing animation. Just simple hide-show without animation of easing.

**Expected behavior/code**
An animation while carouselling.

**Babel Configuration (.babelrc, package.json, cli command)**

Webpack with PurgeCss

[2019-09-25 09:09] dervondenbergen commented on #150
Hello,
I am have the same issue currently. I tried to reproduce it as good as possible in this CodePen:
https://codepen.io/dervondenbergen/pen/d1669fa528de1438c9990db79a6b1f55

When releasing the mouse, the link or button gets triggered. When releasing the mouse outside of the view or on another element, it won't get triggered.
![vue-carousel-bug](https://user-images.githubusercontent.com/2054024/

[2019-10-01 13:09] ArtDepartmentMJ opened #481 "Scrolling to previous page on slide click"
## Bug Report

**Current Behavior**

When there is an orphan slide, the carousel will slide back to the last "full" page on slide click.

**Input Code and steps to reproduce**

scroll to the second page and click on slide 4

https://jsfiddle.net/mattrj/znc9r1go/

**Expected behavior/code**

The carousel should not scroll to the previous page

[2019-10-03 14:00] manAbl commented on #417
I think I can handle this one

[2019-10-03 14:20] manAbl commented on #417
Should the event return the width and height calculations? @wolfrstrudel @quinnlangille

[2019-10-03 20:48] matt-snider commented on #450
@rishabhgoel9797  It seems to work pretty well with the css suggested in #438

[2019-10-04 12:44] JeRabix commented on #101
not work for me)

[2019-10-07 16:16] joelabeyta commented on #390
I have a little workaround that might help with this. I use a method to add the appropriate class on update:

[code]

[2019-10-11 13:34] jakkalas commented on #408
I'd like to look at this one

[2019-10-11 13:51] jakkalas commented on #442
@quinnlangille @Nfinished I'm also facing this issue. I'd love to contribute to this project, but this is making it difficult to get it up and running

[2019-10-11 17:27] Nfinished commented on #442
This repo seems pretty dead, I'd recommend taking a look at https://github.com/surmon-china/vue-awesome-swiper if you're in need of a carousel with this one's functionality + a lot more.

[2019-10-12 17:42] heavensloop commented on #72
This and the following css helped to reveal the links:

[code]

[2019-10-12 17:45] heavensloop commented on #251
Camel-case doesn't work for props. The Documentation needs to be updated.
use the following:

**navigation-enabled**  instead of navigationEnabled
**navigation-next-label** instead of navigationNextLabel
**navigation-prev-label** instead of navigationPrevLabel

[2019-10-13 10:52] leolux opened #483 "Error when putting vue component inside slide"
The error I got is:
[code]

I have `v-for`  and a simple component like that:
[code]

Any idea what is missing or wrong?

[2019-10-13 12:53] leolux commented on #483
It was only a syntax error.

[2019-10-13 12:53] #483 closed, assigned to nobody

[2019-10-13 16:11] leolux opened #484 "Cannot scroll to last slide if scrollPerPage=false"
## Bug Report

**Current Behavior**
The last slide can be reached with `scrollPerPage=true` but not with `scrollPerPage=false.`

**Expected behavior/code**
The last slide should be reachable with `scrollPerPage=false.`

[2019-10-15 13:48] dhaval-dignizant commented on #138
i'm using collapse inside  Carousel default tab working. when I open the second tab slider not work. after I click on second tab content it works.

[2019-10-15 15:23] strukove opened #485 "iPad slides scroll with lags"
## Bug Report

**Current Behavior**
Only on iPads and in Safari Slider animation looks a bit jumpy and too fast. Everywhere else including iPad chrome it works fine. You can check your examples. If it's not that clear just add different images (not of the same man or not green boxes) and it will be more visible.

**Input Code and steps to reproduce**
- open this link on iPad Safari https://ssense.

[2019-10-17 20:16] bobrosset commented on #476
Did you find any solution for this?

[2019-10-20 02:35] adrichey commented on #385
Taking this on now. I should have a PR in for this shortly! :)

[2019-10-20 20:29] abhipanda commented on #385
Found the buildup showing up today in our app. Need this fix thanks

[2019-10-21 16:11] ruipns commented on #270
Hey, I see the problem remains so in the mean time any easy work around this issue?

[2019-10-21 16:37] Nfinished commented on #270
This repo seems pretty dead, I'd recommend taking a look at https://github.com/surmon-china/vue-awesome-swiper if you're in need of a carousel with this one's functionality + a lot more.

[2019-10-22 16:00] anthonkendel commented on #408
I'll be happy to make a contribution. I expect we shouldn't emit if the value isn't a number?

[2019-10-23 12:43] ErgysIsaj opened #488 "Disable the automatic assignation of title attributes to the pagination dots. So when you mouse over the dots, it won't say "Item 0", "Item 1", etc."
I would like to  disable the automatic assignation of title attributes to the pagination dots.
So when you mouse over the dots, it won't say "Item 0", "Item 1", etc.

[2019-10-24 15:40] DeepakAryal opened #489 "Bugs:- Only yellow dot is displayed in iphone devices. While dots are not shown. working fine in chrome"
## Bug Report

**Current Behavior**
In iphone device(safari browser) carousel dot is not showing properly. only yellow dot is displayed. i can scroll the image and yellow dot will be changed properly but white dots are not shown.

![Screenshot from 2019-10-24 21-23-29](https://user-images.githubusercontent.com/17777925/67501818-a1bb8000-f6a4-11e9-857f-6256c5d98193.png)

**Expected behavior/code**

[2019-10-25 04:25] #489 closed, assigned to nobody

[2019-10-31 04:51] Pupinia opened #490 "Maximum call stack size exceeded when name component 'Carousel'"
## Bug Report

**Current Behavior**
If i'am name component 'Carousel' i have Maximum call stack size exceeded

[code]
**Environment**
- Nuxt ^2.10.2, vue-carousel: 0.18.0
- Node - 11.15.0

[2019-11-01 10:50] martinszeltins opened #491 "Native ES6 Module Support"
Right now, the only way to use this component is with webpack and npm but since the web is moving towards native ES6 modules, it would be useful to provide an ES6 module.

[2019-11-01 12:01] GuyHarperDay commented on #123
Same for me (in chrome)

[2019-11-04 12:40] prabshah commented on #70
Does anyone know how can I disable the title being appeared when I hovered over the dots?

`:paginationEnabled="false"` removes the whole pagination from the carousel but I only want to stop the title being shown when hovered over the pagination dots. I looked at the docs but have not found the solution.

[2019-11-05 10:13] prabshah commented on #488
Hi @ErgysIsaj, I am also struggling with the same issue. Did you have any luck? Thanks

[2019-11-05 10:26] prabshah commented on #445
Has anyone found the solution yet? I can remove the title attributes using javascript but I am looking if I could disable it from the Carousel setting as it would be a better way to solve the issue.

[2019-11-06 07:48] elky commented on #367
@devWaleed you can achieve this with CSS by adding `pointer-events: none` for `.VueCarousel-pagination button`

[2019-11-06 16:36] simonmaass commented on #312
i have the same problem...
@notnotgabriel somehow this doesnt work for me... :(

[2019-11-07 14:04] lamoquette commented on #68
up please

[2019-11-08 14:53] dazulu commented on #445
@prabshah Nope, still using the "hack" above.

[2019-11-08 16:25] 42savage opened #493 "Infinite scrolling"
Would you add infinite scrolling to make carousel experience quite better?
Or maybe it is availabe, but  i didn't figured it out in docs

[2019-11-09 21:39] Edmund1645 commented on #484
I noticed that the slide appears, it's just the icons the pagination icon that does not become active.

[2019-11-11 11:47] kaskar2008 commented on #150
Still relevant

[2019-11-15 02:53] reon777 commented on #470
I think this is effective

[code]

[2019-11-16 02:02] dev-jonghoonpark opened #494 "scrollPerPage's default value is wrong in api document"
in https://ssense.github.io/vue-carousel/api/
says scrollPerPage's default value is 'false'

but I think scrollPerPage's default value is true
And in https://github.com/SSENSE/vue-carousel
says scrollPerPage's default value is 'true'

[2019-11-16 10:03] leonardlin commented on #192
I'm using gridsome (also SSR) and unfortunately, I need to do the workaround described in the docs: https://gridsome.org/docs/assets-scripts/#without-ssr-support

but looking forward to v1 too.

[2019-11-16 17:12] madhuab commented on #288
Is this feature released? _1-2-3-1-2-3-1-2-3 not 1-2-3-321-2-3-321-2-3_

[2019-11-17 16:57] StanZhuravlev commented on #312
I have a same issue. The advise of @notnotgabriel - not working :(

Can this issue include to roadmap?

[2019-11-19 06:17] moahmn opened #495 "inner element stop bubble ,but it still bubble?"
## Bug Report

**Current Behavior**
click the inner element,then will call two function, inner function and wrapper function will all execute

**Input Code and steps to reproduce**

 https://jsfiddle.net/2jcL438o/

**Expected behavior/code**

when i click outer box,then fn1 function will be execute,i click inner element,then fn1 and fn2 will all be execute,i hope it only execute fn2 function when

[2019-11-19 18:30] Torone commented on #68
Guys, use padding instead...

[2019-11-20 04:00] devWaleed commented on #367
@elky i think your solution will work

[2019-11-20 04:00] #367 closed

[2019-11-21 16:50] flyingL123 commented on #409
I'm with you @jonascarlbaum. Unfortunately this library is unusable for me. I'm implementing it on an ecommerce website to hold a bunch of product cards. The cards contain a link to the product. On mobile, when dragging the carousel the links are getting clicked and navigating away.

Additionally I am noticing that while dragging, the native window scroll still takes place as well, which makes it

[2019-11-21 16:57] jonascarlbaum commented on #409
I don’t have the code in front of me, but I either turned mouse drag of with some property or used some device width check in JS and toggle some data to change some property depending on device width... Not completely tested on mobile yet though...

[2019-11-21 17:03] thowevt opened #496 "aria-label on navigation buttons is hard coded to English"
## Bug Report

**Current Behavior**
When navigation is enabled, the navigation buttons have an aria-label applied to them which is hard coded to English (see https://github.com/SSENSE/vue-carousel/blob/master/src/Navigation.vue#L5). This means we've had to code in a work around to update the label for other language sites.

**Input Code and steps to reproduce**

Having `<Carousel...` with `:naviga

[2019-11-24 20:12] honzabilek4 commented on #442
Thanks, this saved my day.
We used this vue-carousel, but then had issues with SSR. So I cloned the repo with an intention to fix it, but I'm unable to run it in the dev mode. Also the repo seems pretty stale, so maybe a it's good idea to look somewhere else.

[2019-11-25 08:33] simonmaass commented on #312
Yeah that would be awesome - with "mobile-first" approaches in most ux discussions nowadays that would be a great feature!

[2019-11-25 20:49] helloromero commented on #466
+1

[2019-11-26 19:12] Kenright13 opened #497 "Syntax error in IE11"
When I try to use this module in my project I get a syntax error when trying to load the project in IE11.  It breaks on this function.  It doesn't recognize the arrow function.  I have done everything I know to do to tell my own setup of webpack babel to pick this file up and transpile it to no avail.

In Carousel.vue

const getTransitionStart = () => {
  for (let name in transitionStartNames) {

[2019-12-01 21:36] AleitaT commented on #312
Did anyone try adding `touch-action: pan-x !important;` to `.VueCarousel-slide` class? This should limit `pan-y`. Worked for me. It doesn't cure all bounce frustrations but solved this issue for me.

[2019-12-02 08:28] AYuAnohin commented on #444
i add slider style='visibility: visible; flex-basis: 522px;' - it work for me

[2019-12-03 04:17] JeffJassky commented on #493
I also need this feature for my application. Thanks for the great plugin!

[2019-12-03 15:12] aboutsam opened #498 "overwrite the slideWidth or add xx px ?"
In fact to use space between and float the first item on the left and the last item on right, i need to add +20px to the flex-basis value. Is this possible?

[2019-12-04 05:33] clien007 opened #499 "NavigateTo in another carousel on first load is not working"
Hi!

I'm experiencing a bug in navigateTo when I scrolled the first carousel the another carousel is not scrolling on first load, but when element is shown and you hide it the second carousel works fine. I saw the style of it, the transform style is stuck in translate(0px, 0px); when the wrapper of it is hidden. Thank you!

         <carousel :per-page="1"  :mouse-drag="false" :paginationEnabled="

[2019-12-04 17:31] jsblair9 commented on #412
I believe that the issue is due to `display: table;` being set on the `.VueCarousel-slide-adjustableHeight` class. Firefox (unlike Chromium) creates an anonymous box around the element, when dealing with a table element that isn't a direct descendant of `<table>` which is what flexbox then basis it's size on. I _thought_ this had been fixed in Firefox 47, but I'm still encountering it in this case

[2019-12-05 17:16] aeharding commented on #150
Still happens. If you drag the mouse outside of the carousel it doesn't seem to trigger. Latest Chrome and carousel.

[2019-12-05 17:53] aeharding opened #500 "Transition start functioning as end"
https://github.com/SSENSE/vue-carousel/blob/master/src/Carousel.vue#L937

[code]

is incorrect, should be `getTransitionStart();`

[2019-12-06 02:49] hemorej commented on #493
There's a `loop` config you can set to `true` to do that

[2019-12-06 03:00] hemorej opened #501 "Slides overlapping in Firefox"
## Bug Report

**Current Behavior**
Instead of showing the full image on each slide, all the images are overlapping in the first slide and show with an offset in the next slides. This only happens in Firefox, Chromium works as expected

**Input Code and steps to reproduce**
[code]
[code]

See full repo [here](https://github.com/hemorej/invis)

**Additional context/Screenshots**
In Firefox
![Screen

[2019-12-07 10:30] 42savage commented on #493
In this carousel  `loop` config is for autoplay, it loops autoplay.

[2019-12-10 12:49] hemorej commented on #501
If I remove `:adjustable-height="true"` the issue no longer presents itself, not sure what's going on

[2019-12-14 04:38] the-ashraf commented on #473
I just forced the ltr direction on the <carousel>tag and it works both ways with navigation and all.

Edit: cause i have one css file, and this requires no messing around.

[2019-12-14 12:27] emrahyumuk opened #502 "loop is not working"
## Bug Report

I added loop:true option. But it is not working.

[code]

**Environment**
- Babel version: v6.26.3
- Node version: v13.3.0
- OS: Arch Linux

[2019-12-16 11:58] NicJennings opened #503 "Pagination Buttons should have click.prevent"
Hello,

The pagination buttons currently have  v-on:click="goToPage(index)" but they should be
v-on:click.prevent="goToPage(index)" as on a form based application the pagination submits the form and reload the page.

Thanks

[2019-12-18 12:42] matthew-inamdar commented on #368
Interested in this feature too, is there any update since August?

[2019-12-18 12:47] lerik1408 commented on #68
In the slide tag, make a wrap and set it to padding : 0 10px;

[2019-12-18 14:12] emrahyumuk commented on #502
loop works properly but i understand loop as infiniteLoop. But there is no infinite loop feature yet :(

[2019-12-18 14:12] #502 closed, assigned to nobody

[2019-12-19 23:22] ge-ne commented on #493
The effect I feel missing is that swiping at the end does not continue on the other end.

Slightly distracting is also that the rewind in the autoplay loop is visible.

[2019-12-20 17:32] jackrugile commented on #274
Any progress on this issue? Still getting pixel rounding errors that cause edges of slides to be visible. This problem is accentuated the more slides you have.

For example, the browser will calculate a percentage width container at 677.3px (for example), but Vue Carousel sets the flex-basis to 677px (a rounded number). This error adds up, the more slides you add. The slides still have a calculate

[2019-12-21 05:42] JonikUl commented on #444
Hi all! My solution without $forceUpdate(). Use vue-carousel computeCarouselWidth() method.

[code]

[code]

[2019-12-27 09:04] dakshshah96 commented on #449
This doesn't work anymore.

I've added `ClientOnly` around my `carousel` component as well as changed the method of importing. There is a carousel but with weird behaviour — all the slides are on the first page and rest are empty. @h2jose Is this still working for you?

[2019-12-27 16:16] simonmaass commented on #174
i am still having this issue....

[2019-12-28 15:32] zifnab87 opened #505 "Bug: navigate-to goes to page of slides instead of slide when used with perPageCustom"
**Problem**
Right now `:navigate-to` goes to specific page of slides. E.g I could have 16 slides but in 4 pages of 4 each. I want to be able to navigate directly to page with specific slide without knowing in which page it is and how many pages are currently rendered. This will be especially useful with perPageCustom that changes the rendered slides per page given the width of the carousel contain

[2020-01-02 03:06] AlexanderKharchenko commented on #174
I am still having this issue....

Unable to preventDefault inside passive event listener invocation.

`onDrag: function(t) {
                    var e = this.isTouch ? t.touches[0].clientX : t.clientX
                      , n = this.isTouch ? t.touches[0].clientY : t.clientY
                      , i = this.dragStartX - e
                      , r = this.dragStartY - n;
                    if (!(

[2020-01-03 10:32] petitkriket opened #506 "forced reflow getCarouselWidth"
## Bug Report

**Current Behavior**
A component is producing forced reflow and slowing down the render of 50 carousels instances (search results)

I removed lazy load, classes and extra scoped styling to pin point what produce this reflow with no success

Stack is Rails / Webpacker and Vue 2.5 and I could not reproduce the bug with a sample Vue app

Someone has a clue about where should I look ? A

[2020-01-10 07:21] chemparparokke commented on #503
Seems like this issue was fixed in [this pull request](https://github.com/SSENSE/vue-carousel/pull/487)

[2020-01-10 10:36] rileyseaburg commented on #505
@zifnab87 Where in the docs do you find this reference?

I'm trying to create buttons that navigate to each slide and I'm banging my head against the wall.

[2020-01-10 10:43] rileyseaburg opened #507 "Customize Pagination Elements"
**Is your feature request related to a problem?**
Please describe. A clear and concise description of what the problem is. Ex. I have an issue when [I'm trying to add content boxes that when clicked transition to a corresponding slide.
(Similar to Joomlas Slider Navigation Feature)

I've tried to hardcode this and I'm getting error after error.
I tried to use the same pagination method that the ra

[2020-01-17 09:35] Jesus82 commented on #421
Hi @quinnlangille while this visually works, it is not possible to target the "active" sliders this way.

When you go from "items 1-2-3" to "items 2-3-4", active classes switch from "items 1-2-3" to " items 4-5-6", so when you visually get to "items 4-5-6" you don't have any active class anymore.

![image](https://user-images.githubusercontent.com/8875832/72601420-ab582b00-3915-11ea-9416-3bdcba3bf

[2020-01-17 19:33] gbrlcardozo commented on #390
anyone have any updates on this?

[2020-01-18 03:10] zifnab87 commented on #505
That sounds like you can just use the pagination dots to navigate?

I am trying to auto-navigate to sepcific slide based on my data state.

Anyway here is the doc anchor for navigateTo:

https://github.com/SSENSE/vue-carousel/blob/master/docs/source/api/index.md#navigateto

[2020-01-21 10:10] farshadff commented on #375
how did you solved this issue i am having the same problem !!!

[2020-01-27 10:46] finppp commented on #256
I think this is an issue where the image is not loaded when the carousel is initialised. If you set a width or min-width, as a placeholder for where the image loads, this should fix your issue

[2020-01-27 22:43] chucklin72 commented on #462
try
:autoplay-Timeout=4000

[2020-01-30 15:52] 7iomka commented on #436
any news?

[2020-01-31 11:25] punyflash opened #508 "Changing the page width breaks the width of the slide content"
## Bug Report

**Current Behavior**
Changing the page width breaks the width of the slide content

**Input Code and steps to reproduce**
- Create simple carousel with any count of slides
- The error occurs on any type of content, but images with 'width:100%' make it more clear:

[code]

[code]

**Expected behavior/code**
Slide content should adapt to the width of the carousel when changing the pag

[2020-02-10 15:13] ahmadi-akbar opened #509 "Scroll per item bug"
**vue ver:** 2.6.11
**vuetify ver:** 2.1.0
**vue-carousel ver:** 0.18.0

## this is my code
[code]

## result Gif
![result](https://user-images.githubusercontent.com/48069695/74161514-4d78e380-4c34-11ea-9e57-1b01879f7396.gif)

[2020-02-10 17:28] cnsaavedra commented on #493
+1 for (say for example 3 slides) loopable infinitely instead of scrolling from 3 to 1 by going through 2

i.e.:
. . . 3-> 1 -> 2 -> 3 -> 1 -> 2 -> 3 . . .

[2020-02-10 17:29] cnsaavedra commented on #288
+1 for (say for example 3 slides) loopable infinitely instead of scrolling from 3 to 1 by going through 2

i.e.:
. . . 3-> 1 -> 2 -> 3 -> 1 -> 2 -> 3 . . .

[2020-02-12 11:15] sarathak opened #510 "Does not use passive listeners to improve scrolling performance"
## Bug Report
when i try audit with chrome devtool
on best practices
im getting this error

I'm sure error it is coming from vue-carousel

https://snipboard.io/2e8WiF.jpg

[2020-02-14 16:44] NOPROD commented on #444
@kubmin Thanks, you save me

[2020-02-14 17:10] JonikUl commented on #444
good luck)

[2020-02-16 04:57] ThomCM commented on #81
`~plugins/vue-carousel.js`

[code]

`nuxt.congif.js`

[code]

[2020-02-17 23:21] boctulus commented on #239
Is possible to make it works? I've tried :paginationPosition="bottom-overlay" but I got this:

Property or method "bottom" is not defined on the instance but referenced during render. Make sure that this property is reactive, either in the data option, or for class-based components, by initializing the property

[2020-02-18 16:24] michisp commented on #390
There is still no fix, but an easy workaround.

[code]

Set the "VueCarousel-slide-active" class yourself for the items you want and if initialLoad is true. You can hook in the carousel @pageChange to change this variable to false, so vue-carousel takes care of this class again

[2020-02-19 08:16] GeorgeLee134 commented on #501
Seems to be a problem with the css on
`.VueCarousel-slide-adjustableHeight`

As if you remove the `display: table` it then works as expected

[2020-02-20 13:38] vadim-dudin opened #511 "How to move slides one at a time?"
Is it possible to move slides one at a time, if there are several on one page?
I read all the documentation and did not find any properties or events that would help to move one slide at a time, and not the entire page.

[2020-02-25 10:14] syamkumarkk commented on #31
Its the solution for Nuxt.js ....

[2020-02-25 13:38] hemorej commented on #501
@GeorgeLee134 can I override that property in my own CSS?

[2020-02-25 14:40] GeorgeLee134 commented on #501
@hemorej I think so, I haven't noticed any other side effects but then again, I just removed the `:adjustable-height="true"` as you suggested as I wanted mine to be fixed height

[2020-02-26 03:11] bearcodi commented on #412
@jsblair9 great piece of research on the `display: table;` Firefox functionality.

[2020-02-27 03:25] vokz commented on #81
There will be generated class VueCarousel-inner if you try to check the source then if you observed the element style of flex-basis is 0 and visibility hidden you can change that to example flex-basis: 425px;visibility: visible!important; through javascript although this not ssr anymore but still working and this works for me.

[2020-02-27 07:18] raditia commented on #243
Experiencing same on 0.18.0

[2020-03-02 07:16] cobbie commented on #81
The solution by user @jorgvm for [this issue](https://github.com/SSENSE/vue-carousel/issues/224) is what got it to render for me.

[2020-03-03 20:03] ckhatton opened #513 "Custom forward/next-slide button?"
I have created a standalone button on the slide. How does one trigger a slide change forward?

Currently I have created a method, but it breaks the order of the slides:

    const first = this.slides.shift()
    this.slides = this.slides.concat(first)

:octocat:

[2020-03-03 23:29] ckhatton commented on #511
Apply the option `:scrollPerPage="true"` to the carousel component. Otherwise it should slide per item by default.

P.S. It looks like this project is dead 😞

[2020-03-06 10:52] mwager commented on #312
@AleitaT problem is you cannot scroll at all then :) but should be good to go for now...

plugin support would be nice tho, similar to prop "prevent-y-scroll" from vueperslides: https://antoniandre.github.io/vueper-slides

[2020-03-11 04:09] Skmt3P commented on #288
When will this PR be merged...? Is there anything that I can do?
https://github.com/SSENSE/vue-carousel/pull/360

[2020-03-13 04:06] lazehang commented on #513
Reference the carousel and call its handleNavigation method.

for eg:
[code]

note: your carousel component should have ref attribute set to 'carousel' for this example

[2020-03-13 12:29] ckhatton commented on #513
You legend!! ⭐️ Thank you

![bitmoji](https://render.bitstrips.com/v2/cpanel/3ea5fb70-e76c-4c70-99c8-c7ba6f2d9b5b-9f1d074d-fa47-40f6-8912-920d9a68165e-v1.png?transparent=1&palette=1&width=246)

[2020-03-13 12:29] #513 closed, assigned to nobody

[2020-03-19 02:18] lazehang commented on #511
@ckhatton the scrollPerPage should be set to false in order to move by item as it's value is true by default.

`:scrollPerPage="false" `

[2020-03-19 10:22] ckhatton commented on #511
@lazehang Are you sure? It says "false" is the default in the API documentation.

https://ssense.github.io/vue-carousel/api/

![API - Vue Carousel](https://user-images.githubusercontent.com/5657372/77057547-07016c00-69cc-11ea-910d-bcff8a98677b.png)

[2020-03-19 15:09] lazehang commented on #511
Check this link https://github.com/SSENSE/vue-carousel#configuration

It’s from the github documentation. Not sure which one is relevant though.

[2020-03-21 00:57] ckhatton commented on #223
@quinnlangille I think you misunderstood what the OP was asking I'm afraid. They were asking how to modify the current transition effect, not to create an additional transition.

@mandaputtra Legend. Thank you! I have tailored it for a smoother animation, so that the change of slide is instant. Also `flex-basis` brakes the width of my slides.

[code]

I did find that `VueCarousel-slide-active` is

[2020-03-21 01:05] ckhatton opened #514 "Bug: `VueCarousel-slide-active` is not added as a class to the first slide on initial load"
## Bug Report

I have found that `VueCarousel-slide-active` is not added as a class to the first slide on initial load. So I had to add this below to my component script after applying a dynamic "id" to each slide (I couldn't use `$refs` as the slides are printed out using a `v-for` loop).

[code]

Without this it means that one cannot target the active slide with personalised styling until the sl

[2020-03-21 01:12] ckhatton commented on #511
Oh dear. It looks like we'll have to agree to disagree 🤝 It seems this repo needs a good sorting out.

![bitmoji](https://render.bitstrips.com/v2/cpanel/22d169bb-81e7-4260-98e5-214beb2fead4-e10b8808-d8a9-4063-b2d1-87218acfe632-v1.png?transparent=1&palette=1&width=246)

[2020-03-21 09:37] oroojtatiev commented on #68
with padding is bool sheet

[2020-03-23 19:58] pmanikas commented on #81
Hey Fellas. Do we have any updates regarding SSR support and is the plugin going to be updated in general? I can see a lot of PRs opened but no new version since Apr 2019.

[2020-03-25 06:22] vokz commented on #81
there's nothing new yet but you can try the solution i made. just read my comment above

[2020-03-25 14:56] petitkriket commented on #506
/bump.. someone has a clue ?

[2020-03-25 19:39] pmanikas commented on #81
@vokz vue-carousel works in general. Problem is SSR. Although you've suggested a good and resourceful solution TBH.
Following the title itself and the feature request, I'm referring to the ability to render data so that bots from search engines can read them. After all, that's what Nuxt.js and SSR is for.

[2020-04-01 10:22] lukwys opened #515 "navigateTo property does not work"
Hello
I tried to set a specific page on the slider I used  :navigateTo="3" and nothing happened. Here is the link to an example:
https://jsfiddle.net/zoguwjd5/10/

[2020-04-06 08:00] kubarazny commented on #481
any update on this?

[2020-04-07 23:09] cyrusstoller commented on #493
Agree that this would be an awesome config to add. Thank you for the great library.

[2020-04-13 12:44] vmenekos commented on #515
use like this :navigateTo="[3, animate]"
animate is a boolean if you want it to animate to that number.. in my case navigation worked only with this prop set to true.

[2020-04-14 20:10] josbroers opened #516 "Vue Carousel not working with page-query"
## Bug Report

**Current Behavior**
Vue Carousel doesn't compile. It only shows ``

**Input Code and steps to reproduce**
[code]

**Expected behavior/code**
The Vue-Carousel working and getting data from a markdown file.

[2020-04-16 07:46] rafeeque-cairs commented on #208
@xJREB, It won't work. Because we'll have more than 1 item in the array even in the smaller width screens. So better we can check if the window width is greater than the mobile width.

`<carousel :perPageCustom="[[0, 1], [438, 2], [768, 3], [992, 4]]" :paginationEnabled="window.innerWidth >= 437" :navigationEnabled="window.innerWidth < 437" :loop="window.innerWidth < 437" :autoplayTimeout="3000">

[2020-04-16 07:47] rafeeque-cairs commented on #70
https://github.com/SSENSE/vue-carousel/issues/208#issuecomment-614474833

[2020-04-16 22:48] josbroers commented on #516
I removed `vue-carousel`. Couldn't get it to work and honestly, carousels are pretty bad for UX.

[2020-04-16 22:48] #516 closed, assigned to nobody

[2020-04-22 15:25] gbrlcardozo commented on #514
didn't work for me :/

[2020-04-22 15:38] ckhatton commented on #514
My work around @gbrlcardozo?

You have to make sure you add the corresponding ID 'VueCarousel-slide-0' to the first slide component. If the slide component is part of a `v-for` loop, then you can add something like `:id="'VueCarousel-slide-' + index"`.

[2020-04-23 02:26] g-merrill commented on #444
@JonikUl Thank you so much! This simple solution worked for me.

[2020-04-23 05:21] JonikUl commented on #444
TU, glad that helped

[2020-04-24 16:32] ghost commented on #449
I resolved a similar build issue by dropping vue-carousel and replacing with vue-slick-carousel https://github.com/gs-shop/vue-slick-carousel

[2020-04-24 20:30] em-shea commented on #490
Thanks for creating this issue. I didn't realize why I was getting this error but changing the component name fixed it for me.

[2020-04-29 07:18] abhipanda commented on #288
Its over a year now :(

[2020-04-29 11:39] HeshamMeneisi opened #517 "Autoplay behaves weirdly when changed reactively"
## Bug Report

**Current Behavior**
When autoplay is turned off/on reactively there seem to be multiple timers working at the same time (just an educated guess) as the following behaviors occur:

1. Wrong timeout (shorter)
2. Double sliding (two pages at a time)
3. Sliding even though autoplay is currently `false`

**Input Code and steps to reproduce**

This is a simplified version of the code. Th

[2020-05-01 14:43] SuAnita520 commented on #138
Yeah, you are right. Currently, in 2020, I have the same issue. These slides component only get triggered to display when window size changed.

[2020-05-02 00:21] teampolyglot opened #518 "Feature: Provide a Web Component build"
I'd like to use this carousel in my own HTML using just a `<script>` tag, but no module bundlers and no extra Javascript code.

This is what I would like to achieve in a plain-old HTML file:

[code]

This should be possible because [`vue-cli-service` does support two additional build targets](https://cli.vuejs.org/guide/build-targets.html#web-component):
- A UMD bundle (with or without inlined CSS

[2020-05-03 11:51] rabichawila commented on #440
same issue here.
Did you manage to fix it...?

[2020-05-03 12:49] sts-ryan-holton commented on #440
Wrapped in a `<no-ssr>` component in Nuxt JS, other than that no.

[2020-05-03 20:28] rabichawila commented on #440
Too late.. i removed it.
And i wanted the code to be prepared on the server for SEO.

[2020-05-08 13:27] educkf commented on #81
I found another issue while using this component with Nuxt.js, that it looks like to add some kind of Memory Leak to the application server. I tried loading it only on client side, jumping any load on server and everything related to SSR, but it kept increasing memory usage on server. And as soon I removed it from dependencies, the Memory Leak stoped totally.

I don't know if it was my implementat

[2020-05-09 06:27] ghost opened #519 "Navigation buttons disappear when component is inside a slide"
## Bug Report

**Current Behavior**
The navigation buttons disappear when you use a custom component inside a slide.

**Input Code and steps to reproduce**
[code]

**Expected behavior/code**
Navigation buttons should persist

[2020-05-15 13:36] nbalex04 commented on #481
This problem is still there

[2020-05-17 16:32] #440 closed, assigned to nobody

[2020-05-18 13:51] tircomnicu opened #520 "DO NOT USE THIS!!!!!!"
## Bug Report

**Current Behavior**
A clear and concise description of the behavior.

**Input Code and steps to reproduce**
- You can add a link to a hosted repo, or a JSfiddle, repl.it, etc here
- Or, you can paste your code in a formatted block like so:

[code]

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Babel Configuration (.babelrc,

[2020-05-19 00:50] flyingL123 commented on #520
@tircomnicu why not?

[2020-05-19 03:20] roni-estein commented on #520
@tircomnicu I don't understand this issue.

[2020-05-28 18:58] cmitchell-rms commented on #520
lol wut

[2020-05-29 16:34] ohepworthbell opened #521 "Multi-word component names as per Vue recommendations"
**Is your feature request related to a problem?**
Yes. Currently the imported components are `Carousel` and `Slide`, which are single-word component names. This goes against [Vue's recommendations](https://vuejs.org/v2/style-guide/#Multi-word-component-names-essential) on naming components (which itself is derived from the fact that custom elements should always be kabab-case, and thus two words t

[2020-05-29 16:41] ohepworthbell commented on #521
Also applicable to `Navigation` and `Pagination` child components

[2020-05-29 18:46] cmxrootx commented on #510
I found same issue with chrome devtools.

Just replace in Carusel.vue:926

`if ((this.isTouch && this.touchDrag) || this.mouseDrag) {
      this.$refs["VueCarousel-wrapper"].addEventListener(
        this.isTouch ? "touchstart" : "mousedown",
        this.onStart
      );
    }`

With:

`if ((this.isTouch && this.touchDrag) || this.mouseDrag) {
      this.$refs["VueCarousel-wrapper"].addEventListe

[2020-06-01 16:09] henkvalk commented on #519
You need to add  `:` before the properties

Like `:navigationNextLabel` and `:navigationPrevLabel`

With CSS you can fix it also:

[code]

[2020-06-02 19:59] stivenramireza opened #522 "navigationNextLabel and navigationPrevLabel don't work"
## Bug Report

**Current Behavior**
I'm currently working in a project using this vue-carousel component, but labels in navigation don't appear. So, there is not way to navigate to other slides.

Any solution?

[2020-06-03 10:57] tircomnicu commented on #520
Wow, my apologies, wasn't me who wrote this issue, sorry.

The plugin is working great, I used it on multiple projects.
You can close this issue.

I'm so sorry about this.

[2020-06-03 10:57] #520 closed, assigned to nobody

[2020-06-03 23:11] marcosdipaolo commented on #493
Any news about this? i mean the infinite loop without visibly rewinding  ?

[2020-06-03 23:13] marcosdipaolo commented on #288
Any news about this?

[2020-06-04 12:40] JeromeSaby commented on #522
It should work like this :
`<carousel :navigation-enabled="true">`

[2020-06-06 21:18] thamerbelfkihthamer commented on #488
I have the same problem as well. it will be better if we can disable it in the first place or we can even customize the title with our personal text